<% if activity.trackable_type %>
  <p>Added Imprintable(s) <%= activity.parameters['name']%> for quote, <% unless activity.trackable.nil? %>
    <%= link_to activity.trackable.name, activity.trackable %>
<% else %>
  which has since been removed
<% end %>
</p>
  <ul>
    <b>With a quantity of: </b> <%= activity.parameters['quantity'] %> 
    <b>With a decoration price of: </b>$<%= activity.parameters['decoration_price'] %>
    <b>With an imprintable price of: </b>$<%= activity.parameters['imprintable_price'] %>
  </ul>

<% else %>
  Added something...
<% end %>

<% if activity.recipient && activity.recipient != activity.trackable %>
  to
  <%= activity.recipient_type.underscore.humanize.downcase %>
  <%= link_to activity.recipient.name, activity.recipient %>
<% end %>
