<% activity.parameters['groups'].each do |group| %>
  <% group.each do |key, val| %>
    <% if activity.trackable_type %>
      <p>Added line item group <%= key  %> for quote, <% unless activity.trackable.nil? %>
        <%= link_to activity.trackable.name, activity.trackable %>
    <% else %>
      which has since been removed
    <% end %>
    </p>
    <p> With the following imprintable(s) </p>
      <ul>
        <% val['imprintables'].each do |key, val| %> 
          <b>For the line item: <%= key %></b> 
          <b>With a quantity of: </b> <%= val['quantity'] %> 
          <b>With a decoration price of: </b>$<%= val['decoration_price'] %>
          <b>With an imprintable price of: </b>$<%= val['imprintable_price'] %>
        <% end %>
    <p> With the following imprint(s) </p>
        <% val['imprints'].each do |key, val| %> 
          <%= val %> 
        <% end %>
      </ul>

    <% else %>
      Added something...
    <% end %>
  <% end %>
<% end %>

<% if activity.recipient && activity.recipient != activity.trackable %>
  to
  <%= activity.recipient_type.underscore.humanize.downcase %>
  <%= link_to activity.recipient.name, activity.recipient %>
<% end %>
