<% begin %>
  <% if activity.trackable.jobs.exists?(id: activity.parameters["id"]) %>
    <p>Added a line item group, <%= activity.parameters["name"] %> to quote <%= trackable_link_or_unavailable(activity) %></p>
  <% else %>
    <p>Added a line item group, which has since been removed, called <%= activity.parameters["name"] %>, on quote <%= trackable_link_or_unavailable(activity) %></p>
  <% end %>
  <dl>
    <dt>Details</dt>
    <dd>Quantity: <%= activity.parameters["quantity"] %></dd>
    <dd>Decoration Price: <%= number_to_currency activity.parameters["decoration_price"] %></dd>
  </dl>
  <dl>
    <dt>Imprints</dt>
    <% activity.parameters["imprints"].each do |id, description| %>
      <% if activity.trackable.imprints.exists?(id: id) %>
        <% imprint = Imprint.find(id) %>
        <dd><%= imprint.name %></dd>
        <dd><%= imprint.description %></dd>
      <% else %>
        <dd>Imprint has been removed</dd>
      <% end %>
    <% end %>
  </dl>
  <dl>
    <dt>Imprintables</dt>
    <% activity.parameters["imprintables"].each do |id, price| %>
      <% if ImprintableVariant.exists?(id: id) %>
        <% imprintable = ImprintableVariant.find(id).imprintable %>
        <dd><%= imprintable.name %></dd>
        <dd>Price: <%= number_to_currency( price + activity.parameters["decoration_price"] ) %></dd>
      <% else %>
        <dt>Imprintable has been removed</dt>
      <% end %>
    <% end %>
  </dl>
<% rescue Exception => e %>
  <p>
    Something went horribly wrong with this activity. 
  </p>
<% end %>

