<% if activity.trackable_type %>
  <p>Added note(s) for quote, <% unless activity.trackable.nil? %>
    <%= link_to activity.trackable.name, activity.trackable %>
<% else %>
  which has since been removed
<% end %>
  </p>
  <ul>
    <% activity.parameters['notes'].each do |key, val| %>
      <b>ID:</b> <%= key %> 
      <b>Title:</b> <%= val['title'] %> 
      <b>Comment:</b> <%= val['comment'] %>
    <% end %>
  </ul>

<% else %>
  Added something...
<% end %>

<% if activity.recipient && activity.recipient != activity.trackable %>
  to
  <%= activity.recipient_type.underscore.humanize.downcase %>
  <%= link_to activity.recipient.name, activity.recipient %>
<% end %>
