<% begin %>
  <p>
    Added markup(s) to quote <%= trackable_link_or_unavailable(activity) %>
  </p>
  <ul>
    <b>Name:</b> <%= activity.parameters['name'] %> 
    <b>Description:</b> <%= activity.parameters['description'] %>
    <b>URL:</b> <%= activity.parameters['url'] %> 
    <b>Unit Price:</b> <%= activity.parameters['unit_price'] %> 
  </ul>
<% rescue Exception => e %>
  <p>Something went horribly wrong</p>
<% end %>
