<% if activity.trackable_type %>
  <p>Added markup(s) for quote, <% unless activity.trackable.nil? %>
    <%= link_to activity.trackable.name, activity.trackable %>
<% else %>
  which has since been removed
<% end %>
  </p>
  <ul>
    <% activity.parameters['markups'].each do |key, val| %>
      <b>Name:</b> <%= val['name'] %> 
      <b>Description:</b> <%= val['description'] %>
      <b>URL:</b> <%= val['url'] %> 
      <b>Unit Price:</b> <%= val['unit_price'] %> 
    <% end %>
  </ul>

<% else %>
  Added something...
<% end %>

<% if activity.recipient && activity.recipient != activity.trackable %>
  to
  <%= activity.recipient_type.underscore.humanize.downcase %>
  <%= link_to activity.recipient.name, activity.recipient %>
<% end %>
