<% activity.parameters['groups'].each do |group| %>
  <% group.each do |key, val| %>
    <% if activity.trackable_type %>
      <p>Updated line item(s) <%= key  %> for quote, <% unless activity.trackable.nil? %>
        <%= link_to activity.trackable.name, activity.trackable %>
    <% else %>
      which has since been removed
    <% end %>
    </p>
    <p> With the following imprintable change(s) </p>
      <ul>
        <% val['imprintables'].each do |key, val| %> 
          <b>For the line item: <%= key %></b> 
          <b>From a quantity of: <%= val['quantity']['old'] %> to <%= val['quantity']['new'] %>  </b>
          <b>From a decoration price of: $<%= val['decoration_price']['old'] %> to $<%= val['decoration_price']['new'] %></b>
          <b>From an imprintable price of: $<%= val['imprintable_price'] %> to $<%= val['imprintable_price']['new'] %></b>
        <% end %>
    <p> With the following imprint change(s) </p>
        <% val['imprints'].each do |key, val| %> 
          <b>From <%= val['old'] %> to <%= val['new'] %> </b>
        <% end %>
      </ul>

    <% else %>
      Added something...
    <% end %>
  <% end %>
<% end %>

<% if activity.recipient && activity.recipient != activity.trackable %>
  to
  <%= activity.recipient_type.underscore.humanize.downcase %>
  <%= link_to activity.recipient.name, activity.recipient %>
<% end %>
