<%= search_form_for QuoteRequest do |s| %>
    <div class="row">
      <div class="col-sm-3">
        <%= s.select :status, QuoteRequest::QUOTE_REQUEST_STATUSES,
                     nil: 'Status...', id: 'quote_requests_search_filter' %>
      </div>

      <div class="col-sm-3">
        <%= s.fulltext id: 'js_search', placeholder: 'Keywords' %>
      </div>

      <div class="col-sm-2">
        <%= s.submit %>
      </div>

      <div class="col-sm-2">
        <%= link_to 'Clear', '#', class: 'btn btn-primary js-clear-btn' %>
      </div>
    </div>
<% end %>