<div class="page-heading animated fadeInDownBig row">
  <div class="pull-left">
    <h1>Quote Request from <%= @quote_request.name %></h1>
  </div>
  <div class='pull-right'>
    <%= link_to quote_requests_path, class: 'btn btn-primary' do  %>
        <i class="fa fa-arrow-circle-left"></i> Return to Quote Request List
    <% end %>
    <%= link_to quote_request_dock_path(@quote_request), class: 'btn btn-warning dock' do  %>
        <i class="fa fa-toggle-down"></i> Dock
    <% end %>
    <% if @quote_request.freshdesk_ticket_id.blank? && (@quote_request.quotes.empty? || @quote_request.quotes.pluck(:freshdesk_ticket_id).any?(&:blank?)) %>
      <%= link_to quote_request_create_freshdesk_ticket_path(@quote_request.id), method: :post, class: 'btn btn-success' do  %>
          <i class="softwear-icon-freshdesk-icon"></i> Create Freshdesk Ticket
      <% end %>
    <% end %>
    <%= link_to new_quote_path(name: @quote_request.name, email: @quote_request.email, quote_request_id: @quote_request.id), class: 'btn btn-success' do  %>
        <i class="fa fa-quote-left"></i> Create Quote
    <% end %>

    <% if @quote_request.warnings.any? %>
      <%= link_to quote_request_warnings_path(@quote_request.id), class: 'btn btn-warning' do %>
        <i class='fa fa-exclamation-triangle'></i> Warnings
        <%= "(#{@quote_request.warnings.active.size})" if @quote_request.warnings.active.any? %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="box-info full">
  <div class='user-profile-content'>

    <div class='row'>
      <%= profile_picture_of @quote_request.salesperson if @quote_request.salesperson %>
    </div>

    <div class='row'>
      <div class='col-sm-2'>
        <strong>Quote Submitted At:</strong>
      </div>
      <div class='col-sm-10'>
        <%= value_time(@quote_request.created_at) %>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-2'>
        <strong>Salesperson:</strong>
      </div>
      <div class='col-sm-10'>
        <%= editable @quote_request, :salesperson_id, type: :select, data: { source: User.all.map{ |x| { value: x.id, text: x.full_name  } } } %>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-2'>
        <strong>Name:</strong>
      </div>
      <div class='col-sm-10'>
        <%= @quote_request.name %>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-2'>
        <strong>Email:</strong>
      </div>
      <div class='col-sm-10'>
        <%= @quote_request.email %>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-2'>
        <strong>Phone Number:</strong>
      </div>
      <div class='col-sm-10'>
        <%= @quote_request.phone_number || 'n/a' %>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-2'>
        <strong>Organization</strong>
      </div>
      <div class='col-sm-10'>
        <%= @quote_request.organization || 'n/a' %>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-2'>
        <strong>Status:</strong>
      </div>
      <div class='col-sm-10' id='quote-request-status'>
        <%= editable @quote_request, :status, type: :select, data: { source: QuoteRequest::QUOTE_REQUEST_STATUSES } %>
      </div>
    </div>

    <% if @quote_request.status == 'could_not_quote' %>
      <div id='quote-request-reason-div' class='row'>
        <div class='col-sm-2'>
          <strong>Reason:</strong>
        </div>
        <div class='col-sm-10' id='quote-request-reason'>
          <%= @quote_request.reason %>
        </div>
      </div>
    <% end %>

    <div class='row'>
      <div class='col-sm-2'>
        <strong>Approximate Quantity:</strong>
      </div>
      <div class='col-sm-10'>
        <%= @quote_request.approx_quantity %>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-2'>
        <strong>Date Needed:</strong>
      </div>
      <div class='col-sm-10'>
        <%= @quote_request.date_needed.strftime("%F") rescue 'n/a' %>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-2'>
        <strong>Source:</strong>
      </div>
      <div class='col-sm-10'>
        <%= @quote_request.source %>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-2'>
        <strong>Description:</strong>
      </div>
      <div class='col-sm-10'>
        <%= @quote_request.description %>
      </div>
    </div>

    <div class='row'>
      <div class='col-sm-2'>
        <strong>Freshdesk Contact ID:</strong>
      </div>
      <div class='col-sm-10' id='quote-request-status'>
        <%= editable @quote_request, :freshdesk_contact_id, type: :text %>
      </div>
    </div>

    <% unless @quote_request.customer_uploads.empty? %>
      <div class='row'>
        <div class='col-sm-2'>
          <strong>Uploaded Files:</strong>
        </div>
        <div class='col-sm-10' id='quote-request-files'>
          <% @quote_request.customer_uploads.each do |upload| %>
            <%= link_to upload.filename, "http://#{upload.full_url}", target: :_blank %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @quote_request.linked_with_insightly? %>
      <div class='row'>
        <div class='col-sm-2'>
          <%= link_to 'Insightly Contact', @quote_request.insightly_contact_url, target: '_blank' %>
        </div>
        <div class='col-sm-10'>
        </div>
      </div>
    <% end %>

    <% if @quote_request.linked_with_freshdesk? %>
      <div class='row'>
        <div class='col-sm-2'>
          <%= link_to 'Freshdesk Contact', @quote_request.freshdesk_contact_url, target: '_blank' %>
        </div>
        <div class='col-sm-10'>
        </div>
      </div>
    <% end %>

    <% unless @quote_request.freshdesk_ticket_id.blank? %>
      <div class='row'>
        <div class='col-sm-2'>
          <%= link_to @quote_request.freshdesk_ticket_link, class: '',
                      'data-action' => 'new', 'data-toggle' => 'tooltip', 'title' => 'Freshdesk Ticket', target: '_blank' do %>
              <i class="softwear-icon-freshdesk-icon"></i> Freshdesk Ticket
          <% end %>
        </div>
        <div class='col-sm-10'>
          <%= link_to 'Prepare for Freshdesk', new_quote_request_email_path(@quote_request, freshdesk: true) %>
        </div>
      </div>
    <% end %>

    <% unless @quote_request.quote_request_imprintables.blank? %>
      <div class='row'>
        <div class='col-sm-2'>
          <strong>Imprintables:</strong>
        </div>
        <div class='col-sm-10'>
          <% @quote_request.quote_request_imprintables.each do |qri| %>
            <% if qri.imprintable.nil? %>
              Unknown Imprintable
            <% else %>
              <%= link_to qri.imprintable.name, imprintable_path(qri.imprintable_id), remote: true, target: :_blank %>
            <% end  %>
            &times;<%= qri.quantity %>
            <br />
          <% end %>
        </div>
      </div>
    <% end %>


    <div class='row'>
      <div class='col-sm-2'><strong>Quotes:</strong></div>
    </div>

    <div id='quote-request-quote-stuff'>
      <% if @quote_request.quotes.any? %>
        <% @quote_request.quotes.find_each do |quote| %>
          <div class='indent-field'>
            <%= link_to quote.name, quote_path(quote) %>
          </div>
        <% end %>
      <% else %>
          None
      <% end %>
    </div>

  </div>

  <div class='row'>
    <div class='col-sm-8'>
      <strong>Comments:</strong>

      <ul id='comments-list'>
        <% @quote_request.comments.each do |comment| %>
          <%= render 'comments/basic', comment: comment %>
        <% end %>
      </ul>
    </div>
    <div class='col-sm-4'></div>
  </div>
  <div class='row' id='qr-notes'>
    <div class='col-sm-2'></div>
    <div class='col-sm-8'>


      <%= bootstrap_form_for [@quote_request, Comment.new], id: 'comment-form', remote: true do |f| %>
        <%= f.hidden_field :user_id, value: current_user.try(:id) %>
        <%= f.text_field :title, maxlength: 140 %>
        <%= f.text_area :comment, maxlength: 65500, label: 'Comment *' %>
        <%= f.submit 'Add Comment', class: 'btn btn-success' %>
      <% end %>
    </div>
    <div class='col-sm-2'></div>
  </div>
</div>

<% if @quote_request.unassigned? || @quote_request.salesperson_id == current_user.id %>
  <div class='row'>
    <div class='pull-left'>
      <% if @quote_request.previous %>
        <%= quote_request_button(@quote_request, :previous) %>
      <% end %>
    </div>
    <div class='pull-right'>
      <% if @quote_request.next %>
        <%= quote_request_button(@quote_request, :next) %>
      <% end %>
    </div>
  </div>
<% end %>
