<div class="form-group">
  <%= f.label :email %>
  <%= f.error_for :email %>
  <%= f.text_field :email, email.nil? ? {placeholder: 'Email'} : {value: email} %>
</div>

<div class="form-group">
  <%= f.label :phone_number, 'Phone Number' %>

  <%= f.error_for :phone_number %>

  <%= f.text_field :phone_number, class: 'format-phone' %>
</div>

<div class="form-group">
  <%= f.label :first_name, 'First Name' %>

  <%= f.error_for :first_name %>

  <%= f.text_field :first_name, name.nil? ? {placeholder: 'First Name'} : {value: name[0]} %>
</div>

<div class="form-group">
  <%= f.label :last_name, 'Last Name' %>

  <%= f.error_for :last_name %>

  <%= f.text_field :last_name, name.nil? ? {placeholder: 'Last Name'} : {value: name[-1]} %>
</div>

<div class="form-group">
  <%= f.label :company %>

  <%= f.error_for :company %>

  <%= f.text_field :company, placeholder: 'Company' %>
</div>

<div class="form-group">
  <%= f.label :twitter %>

  <%= f.error_for :twitter %>

  <div class="input-group">
    <span class="input-group-addon">@</span>

    <%= f.text_field :twitter, placeholder: 'twitteralias' %>
  </div>
</div>
