<div class="form-group">
  <%= f.label :email %>
  <%= f.error_for :email %>
  <% email_fill =
                if !email.nil?
                  { value: email }
                elsif !quote.nil?
                  { value: quote.email }
                else
                  { placeholder: 'Email' }
                end
  %>
  <%= f.text_field :email, email_fill %>
</div>

<div class="form-group">
  <%= f.label :phone_number, 'Phone Number' %>

  <%= f.error_for :phone_number %>

  <%= f.text_field :phone_number, class: 'format-phone' %>
</div>

<div class="form-group">
  <%= f.label :first_name, 'First Name' %>

  <%= f.error_for :first_name %>

  <% first_name_fill =
                     if !name.nil?
                       { value: name[0] }
                     elsif !quote.nil?
                       { value: quote.first_name }
                     else
                       { placeholder: 'First Name' }
                     end
  %>
  <%= f.text_field :first_name, first_name_fill %>
</div>

<div class="form-group">
  <%= f.label :last_name, 'Last Name' %>

  <%= f.error_for :last_name %>

  <% last_name_fill =
                   if !name.nil?
                     { value: name[-1] }
                   elsif !quote.nil?
                     { value: quote.last_name }
                   else
                     { placeholder: 'Last Name' }
                   end
  %>

  <%= f.text_field :last_name, last_name_fill %>
</div>

<div class="form-group">
  <%= f.label :company %>

  <%= f.error_for :company %>

  <%= f.text_field :company, placeholder: 'Company' %>
</div>

<div class="form-group">
  <%= f.label :twitter %>

  <%= f.error_for :twitter %>

  <div class="input-group">
    <span class="input-group-addon">@</span>

    <%= f.text_field :twitter, placeholder: 'twitteralias' %>
  </div>
</div>
