<%=t('quote_greet_customer',
      first_name: quote.first_name,
      valid_until: display_time(quote.valid_until_date)) %>
<h2><%=t('quote_header', name: quote.name) %></h2>
<div class="table-responsive container-fluid">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Totals</th>
      </tr>
    </thead>

    <tbody>
      <% quote.standard_line_items.each do |li| %>
        <tr>
          <td class="col-sm-4"><%= li.name %></td>
          <td class="col-sm-4"><%= li.description %></td>
          <td class="col-sm-1"><%= number_to_currency(li.unit_price) %></td>
          <td class="col-sm-1"><%= li.quantity %></td>
          <td class="col-sm-2"><%= number_to_currency(li.total_price) %></td>
        </tr>
      <% end %>

      <tr id="subtotal">
        <td></td><td></td><td></td>
        <td><strong>Subtotal:</strong></td>
        <td><%= number_to_currency(quote.line_items_subtotal) %></td>
      </tr>

      <tr id="tax">
        <td></td><td></td><td></td>
        <td><strong>Tax:</strong></td>
        <td><%= number_to_currency(quote.line_items_total_tax) %></td>
      </tr>

      <tr id="shipping">
        <td></td><td></td><td></td>
        <td><strong>Shipping:</strong></td>
        <td><%= number_to_currency(quote.shipping) %></td>
      </tr>

      <tr id="total">
        <td></td><td></td><td></td>
        <td><strong>Total:</strong></td>
        <td><%= number_to_currency(quote.line_items_total_with_tax) %></td>
      </tr>
    </tbody>
  </table>
</div>

<%=t('quote_email_closer', phone_number: (t :phone_number)) %>
<%=t('quote_the_fine_print', valid_until_date: display_time(quote.valid_until_date)) %>