<% require 'x-editable-rails/view_helpers' %>
<%= form_tag quote_email_customer_path(quote.id), id: 'email-form' do %>

  <div class="form-group">
    <%= label_tag :email_subject, 'Subject' %>
    <%= text_field_tag :email_subject,
                       "Your Quote \"#{ quote.name }\", from Ann Arbor Tees",
                       { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= label_tag :email_recipients, 'Email Recipients (separated by commas)' %>
    <%= text_field_tag :email_recipients,
                        "#{ quote.first_name } #{ quote.last_name } <#{ quote.email }>",
                        class: 'form-control',
                        pattern: '[\w\s]+<[^@]+@[^@]+\.[a-zA-Z]{2,6}>(,\s[\w\s]+<[^@]+@[^@]+\.[a-zA-Z]{2,6}.>)*',
                        oninvalid: 'invalidMsg(this);',
                        oninput: 'invalidMsg(this);' %>
  </div>

  <br>

  <div class="form-group">
    <%= label_tag :email_body, 'Body of Email' %>
    <%= text_area_tag :email_body, render('email_line_items', quote: quote ),
                      { class: 'form-control summernote', id: 'email-textarea' } %>
  </div>

  <%= submit_tag 'Submit', id: 'email-form-submit-button' %>

<% end %>
