<%= render_error_modal_for quote %>

<% if step = first_step_with_error(quote) %>
  <script type='text/javascript'>
    <%= render partial: 'jump_to_step', formats: [:js], locals: { step: step } %>
  </script>
<% end %>

<%= form_for quote, builder: LancengFormBuilder, html: { id: 'easyWizard' } do |f| %>
  <section class="step step-1" data-step-title="Customer Information">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= render 'customer_detail_fields', f: f, quote: quote, name: params[:name].try(:split, " ") || nil, email: params[:email], phone_number: params[:phone_number] %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="notes">
          <h4>Customer Information Instructions</h4>

          <p class="justify">
            If the customers e-mail address exists in the system, <strong>be sure to still confirm their name and company</strong>
          </p>

          <p class="justify">
            When asking the customer for their information, be sure to inform them of the following:
          </p>

          <ol>
            <li><strong>Always ask for a phone number</strong>. Their phone number will only be used to contact them in the event of an emergency, and never for soliciting purposes.</li>
            <li>If they provide a twitter alias, we will tweet at them upon completion of their order</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="step step-2" data-step-title="Quote Details">
    <div class="row">
      <div class="col-sm-6">
        <%= render 'quote_detail_fields', current_user: current_user, f: f, quote: quote, quote_request_id: params[:quote_request_id] %>
      </div>

      <div class="col-sm-6">
        <div class="notes">
          <h4>Quote Information Instructions</h4>
        </div>
      </div>
    </div>
  </section>

  <section class="step step-3" data-step-title="Insightly">
    <div class="row">
      <div class="col-sm-6">
        <%= render 'quote_insightly_fields', current_user: current_user, f: f, quote: quote, quote_request_id: params[:quote_request_id] %>
      </div>

      <div class="col-sm-6">
        <div class="notes">
          <h4>Insightly Information</h4>
        </div>
      </div>
    </div>
  </section>
<% end %>
