<%= render_error_modal_for quote %>

<%= form_for quote, builder: LancengFormBuilder, html: { id: 'easyWizard' } do |f| %>
  <section class="step" data-step-title="Customer Information">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= render 'customer_detail_fields', f: f, quote: quote, name: params[:name].try(:split, " ") || nil, email: params[:email] %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="notes">
          <h4>Customer Information Instructions</h4>

          <p class="justify">
            If the customers e-mail address exists in the system, <strong>be sure to still confirm their name and company</strong>
          </p>

          <p class="justify">
            When asking the customer for their information, be sure to inform them of the following:
          </p>

          <ol>
            <li><strong>Always ask for a phone number</strong>. Their phone number will only be used to contact them in the event of an emergency, and never for soliciting purposes.</li>
            <li>If they provide a twitter alias, we will tweet at them upon completion of their order</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="step" data-step-title="Quote Details">
    <div class="row">
      <div class="col-sm-6">
        <%= render 'quote_detail_fields', current_user: current_user, f: f, quote: quote, quote_request_id: params[:quote_request_id] %>
      </div>

      <div class="col-sm-6">
        <div class="notes">
          <h4>Quote Information Instructions</h4>
        </div>
      </div>
    </div>
  </section>

  <section class="step" data-step-title="Line Items">
    <div class="col-sm-6">
      <div class="row">
        <div class="form-group">
          <%= label_tag :line_item_group_name, 'Group Name:', id: 'group-name' %>
          <%= text_field_tag :line_item_group_name, new_quote_hash[:line_item_group_name] || 'Line Items' %>

          <% if new_quote_hash[:price_information] %>
            <% new_quote_hash[:price_information].each_with_index do |hash| %>
              <%= add_lis_from_pricing_hash(f, :line_items, hash) %>
            <% end %>
          <% elsif new_quote_hash[:quote_li_attributes] %>
            <% new_quote_hash[:quote_li_attributes].each do |_key, hash| %>
              <%= add_line_items_from_params(f, :line_items, hash) if (hash[:_destroy] == 'false') %>
            <% end %>
          <% end %>

          <%= link_to_add_fields 'Add Line Item', f, :line_items %>
        </div>
      </div>
    </div>
      <div class="col-sm-6">
        <div class="notes">
          <h4>Line Items Instructions</h4>

          <p class="justify">
            Make sure that there is<strong> at least one</strong> line item present
          </p>
        </div>
      </div>
    </div>
  </section>
<% end %>
