<div class="line-item-form quote-line-item-fields">
  <div class="li-standard-form">
    <fieldset class="js-removeable">
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :taxable %>
      <%= f.check_box :taxable, checked: true %>
      <br />

      <%= f.label :quantity %>
      <%= f.number_field :quantity %>

      <%= f.label :unit_price, 'Unit Price' %>
      <%= f.text_field :unit_price %>

      <%= f.label :url, 'URL' %>
      <%= f.text_field :url %>

      <%= f.hidden_field :_destroy %>
      <%= link_to 'Remove Line Item', '#', class: 'js-remove-fields btn' %>

      <%= f.hidden_field :group_name, value: group_name if local_assigns[:group_name] %>
    </fieldset>
  </div>
  <br>
</div>
