<div class="line-item-form">
  <div class="li-standard-form">
    <fieldset class="js-removeable">
      <%= f.label :name %>
      <% if defined? name %>
        <%= f.text_field :name, value: name %>
      <% else %>
        <%= f.text_field :name %>
      <% end %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :taxable, style: 'width: 34px; height: 34px;' %>
      <%= f.check_box :taxable, style: 'width: 34px; height: 34px;' %>

      <%= f.label :quantity %>
      <%= f.number_field :quantity %>

      <%= f.label :unit_price, 'Unit Price' %>
      <% if defined? unit_price %>
        <%= f.number_field :unit_price, value: unit_price %>
      <% else %>
        <%= f.number_field :unit_price %>
      <% end %>

      <%= f.hidden_field :_destroy %>
      <%= link_to 'Remove Line Item', '#', class: 'js-remove-fields btn' %>
    </fieldset>
  </div>
  <br>
</div>
