
  <table class="table table-hover">

    <tbody>
      <% quote.line_item_groups.each do |group| %>
        <% if quote.line_item_groups.size > 1 && !group.line_items.empty? %>
          <tr class="no-break">
            <td colspan="5"><h3><strong><%= group.name || 'Line Items' %></strong></h3></td>
          </tr>

            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Unit Price</th>
              <th>Quantity</th>
              <% if quote.formal? %>
                <th>Totals</th>
              <% end %>
            </tr>
        <% end %>

        <% group.line_items.each do |li| %>
          <tr class="no-break">
            <td class="col-sm-4"><%= li.url.blank? ? (li.name) : (link_to li.name, url_with_protocol(li.url), target: '_blank') %></td>
            <td class="col-sm-4"><%= raw li.description %></td>
            <td class="col-sm-1"><%= number_to_currency(li.unit_price) %></td>
            <td class="col-sm-1"><%= li.quantity %></td>
            <% if quote.formal? %>
              <td class="col-sm-2"><%= number_to_currency(li.total_price) %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>

      <% if quote.formal? %>
        <tr id="subtotal">
          <td></td><td></td><td></td>
          <td><strong>Subtotal:</strong></td>
          <td><%= number_to_currency(quote.line_items_subtotal) %></td>
        </tr>
      <% end %>

      <% if quote.formal? %>
        <tr id="tax">
          <td></td><td></td><td></td>
          <td><strong>Tax:</strong></td>
          <td><%= number_to_currency(quote.line_items_total_tax) %></td>
        </tr>
      <% end %>

      <% if quote.formal? || !quote.shipping.zero? %>
        <tr id="shipping">
          <td></td><td></td>
          <% if quote.formal? %><td></td><% end %>
          <td><strong>Shipping:</strong></td>
          <td><%= number_to_currency(quote.shipping) %></td>
        </tr>
      <% end %>

      <% if quote.formal? %>
        <tr id="total">
          <td></td><td></td><td></td>
          <td><strong>Total:</strong></td>
          <td><%= number_to_currency(quote.line_items_total_with_tax) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
