<div class="line-item-form quote-line-item-fields js-removeable">
  <div class="li-standard-form">
      <div class="col-xs-5">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="col-xs-3">
        <%= f.label :url, 'URL for more item info' %>
        <%= f.text_field :url %>
      </div>

      <div class="col-xs-1">
        <%= f.label :quantity, 'Qty.' %>
        <%= f.number_field :quantity %>
      </div>

      <div class="col-xs-2">
        <%= f.label :unit_price, 'Unit Price' %>

        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.text_field :unit_price, value: f.object.unit_price.try(:round, 2) %>
        </div>
      </div>

      <div class="col-xs-1">
        <%= f.label :taxable %>
        <%= f.check_box :taxable, checked: true %>
      </div>

      <div class="col-xs-12">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>

      <div class="col-xs-12 text-right">
        <br clear="all" />
          <%= link_to '#', class: 'js-remove-fields btn btn-danger' do %>
              <i class="glyphicon glyphicon-remove-sign"></i> Remove Line Item
          <% end %>
        <br clear="all" />
        <%= f.hidden_field :_destroy %>
        <%= f.hidden_field :group_name, value: group_name if local_assigns[:group_name] %>
      </div>
    </div>
  <br clear="all" />
</div>
<br clear="all" />
