<div class="table-responsive container-fluid">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Totals</th>
    </tr>
    </thead>

    <tbody>
      <% quote.line_item_groups.each do |group| %>
        <% if quote.line_item_groups.size != 1 %>
          <tr class="no-break">
            <td><strong><%= group.name || 'Line Items' %></strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>

        <% group.line_items.each do |li| %>
          <tr class="no-break">
            <td class="col-sm-4"><%= link_to li.name, li.supplier_link %></td>
            <td class="col-sm-4"><%= li.description %></td>
            <td class="col-sm-1"><%= number_to_currency(li.unit_price) %></td>
            <td class="col-sm-1"><%= li.quantity %></td>
            <td class="col-sm-2"><%= number_to_currency(li.total_price) %></td>
          </tr>
        <% end %>
      <% end %>
      <tr class="no-break">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr id="subtotal">
        <td></td><td></td><td></td>
        <td><strong>Subtotal:</strong></td>
        <td><%= number_to_currency(quote.line_items_subtotal) %></td>
      </tr>

      <tr id="tax">
        <td></td><td></td><td></td>
        <td><strong>Tax:</strong></td>
        <td><%= number_to_currency(quote.line_items_total_tax) %></td>
      </tr>

      <tr id="shipping">
        <td></td><td></td><td></td>
        <td><strong>Shipping:</strong></td>
        <td><%= number_to_currency(quote.shipping) %></td>
      </tr>

      <tr id="total">
        <td></td><td></td><td></td>
        <td><strong>Total:</strong></td>
        <td><%= number_to_currency(quote.line_items_total_with_tax) %></td>
      </tr>
    </tbody>
  </table>
</div>