<div class="col-xs-12">
  <%= form_for(quote_select_hash[:new_line_item], url: { action: 'stage_quote' } ) do %>
      <div class="col-xs-6">
        <dl>
          <dt>Imprintable</dt>
          <dd><%= quote_select_hash[:new_line_item].name %></dd>
        </dl>

      </div>
      <div class="col-xs-6">
        <dl>
          <dt>Price</dt>
          <dd><%= number_to_currency quote_select_hash[:new_line_item].unit_price %></dd>
        </dl>
      </div>

      <div class="form-group">
        <p class="help-block clearfix clear">
          Select the quote to which you want to add the  imprintable:
        </p>
        <%= select_tag :quote_id,
                       options_from_collection_for_select(quote_select_hash[:quotes], 'id', 'name'), class: 'form-control' %>
      </div>

      <%= hidden_field_tag :name, quote_select_hash[:new_line_item].name %>
      <%= hidden_field_tag :total_price, quote_select_hash[:new_line_item].unit_price %>
      <%= hidden_field_tag :description, quote_select_hash[:new_line_item].description %>

      <%= submit_tag 'Add To Quote' %>
  <% end %>
</div>
<br clear="all" />

