<div class="form-group hide">
  <%= f.label :quote_request_ids, 'Quote Requests' %>
  <% qr_ids = !quote_request_id.nil? ? quote_request_id : quote.quote_request_ids %>
  <%= f.select :quote_request_ids, [qr_ids], {}, { name: 'quote[quote_request_ids][]' } %>
</div>

<div class="form-group">
  <%= f.label :name, 'Quote Name' %>
  <%= f.error_for :name %>
  <%= f.text_field :name %>
</div>

<div class="form-group">
  <%= f.label :informal, 'Informal quote?' %>
  <%= f.error_for :informal %>
  <%= f.check_box :informal, checked: (f.object.persisted? ? f.object.informal : true ) %>
</div>

<div class="form-group">
  <%= f.label :quote_source %>
  <%= f.error_for :quote_source %>
  <%= f.select :quote_source, Quote::QUOTE_SOURCES, include_blank: true %>
</div>

<div class="form-group">
  <%= f.label :shipping %>
  <%= f.error_for :shipping %>

  <div class="input-group">
    <span class="input-group-addon">$</span>
    <%= f.text_field :shipping, value: '0.0' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :valid_until_date, 'Valid Until Date' %>
  <%= f.error_for :valid_until_date %>

  <div class="input-group date js-datetimepicker">
    <%= f.text_field :valid_until_date, { value: display_time(f.object.valid_until_date),
                                          placeholder: 'Valid Until',
                                          class: 'form-control' } %>

    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>

<div class="form-group">
  <%= f.label :estimated_delivery_date, 'Estimated Delivery Date' %>
  <%= f.error_for :estimated_delivery_date %>

  <div class="input-group date js-datetimepicker">
    <%= f.text_field :estimated_delivery_date, { value: display_time(f.object.estimated_delivery_date),
                                                 placeholder: 'Estimated Delivery',
                                                 class: 'form-control' } %>

    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>

<div class="form-group">
  <%= f.label :salesperson_id, 'Salesperson' %>
  <%= f.error_for :salesperson_id %>
  <%= f.select :salesperson_id,
                options_for_select(User.all.map{ |u| [u.full_name, u.id] },
                                   quote.id ? quote.salesperson_id : current_user.id ) %>
</div>

<div class="form-group">
  <%= f.label :store_id, 'Store' %>
  <%= f.error_for :store_id %>
  <%= f.select :store_id,
                options_for_select(Store.order(:name).map{ |s| [s.name, s.id] },
                                   quote.id ? quote.store_id : current_user.store_id ) %>
</div>

<div class="form-group">
  <%= f.label :is_rushed, 'Rushed?' %>
  <%= f.error_for :is_rushed %>
  <%= f.check_box :is_rushed %>
</div>

<div class="form-group">
  <%= f.label :qty %>
  <%= f.error_for :qty %>
  <%= f.number_field :qty %>
</div>

<div class="form-group">
  <%= f.label :deadline_is_specified %>
  <%= f.error_for :deadline_is_specified %>
  <%= f.check_box :deadline_is_specified %>
</div>

<div class="form-group">
  <%= f.label :freshdesk_ticket_id, 'Freshdesk Ticket ID' %>
  <%= f.error_for :freshdesk_ticket_id %>
  <%= f.text_field :freshdesk_ticket_id %>
</div>
