<div class="hide">
  <% qr_ids = !quote_request_id.nil? ? quote_request_id : quote.quote_request_ids %>
  <%= f.select :quote_request_ids, [qr_ids], {}, { name: 'quote[quote_request_ids][]', label: 'Quote Requests' } %>
</div>

<%= f.text_field :name, label: 'Quote Name' %>

<%= f.select :informal,
    options_for_select({"Yes" => true, "No" => false}, f.object.informal),
  label: 'Informal quote?'%>

<%= f.select :quote_source, Quote::QUOTE_SOURCES, include_blank: true %>

<%= f.number_field :shipping, step: '.01', prepend: '$'  %>

<div class="js-datetimepicker">
  <%= f.text_field :valid_until_date,
                   value: value_time(thirty_days_from_now_at_5),
                   label: 'Quote Valid Until Date',
                   append: raw('<span class="glyphicon glyphicon-calendar"></span>')   %>
</div>

<%= f.select :deadline_is_specified,
            options_for_select({"Yes" => true, "No" => false}, f.object.deadline_is_specified),
            label: 'Did the Customer Request a Specific Deadline?' %>

<%= f.select :is_rushed,
                options_for_select({"No" => false, "Yes" => true}, f.object.is_rushed),
                label: 'Is this a rush job?' %>

<div class="js-datetimepicker">
<%= f.text_field :estimated_delivery_date,
                 value: value_time(fourteen_days_from_now_at_5),
                 label: (f.object.deadline_is_specified? ? 'Delivery Date' : 'Estimated Delivery Date'),
                 append: raw('<span class="glyphicon glyphicon-calendar"></span>') %>
</div>

<%= f.select :salesperson_id,
            options_for_select(User.all.map{ |u| [u.full_name, u.id] },
            quote.id ? quote.salesperson_id : current_user.id ), label: 'Salesperson' %>

<%= f.select :store_id,
            options_for_select(Store.order(:name).map{ |s| [s.name, s.id] },
            quote.id ? quote.store_id : current_user.store_id ), label: 'Store' %>

<%= f.number_field :qty, label:  'Estimated Quantity of Pieces'  %>

<%= f.text_field :freshdesk_ticket_id, label: 'Freshdesk Ticket ID' %>