
<%= search_form_for Quote, class: 'form-horizontal' do |s| %>

    <div class="form-group ">
      <div class="col-sm-12">
        <%= s.fulltext id: 'js_search', placeholder: 'Search Terms', class: 'form-control' %>
      </div>
    </div>

    <div class='row form-group'>
      <div class="col-sm-6">
        <%= s.select :salesperson_full_name, User.all.map{|x| x.full_name }, multiple: true %>
      </div>

      <div class="col-sm-6">
        <%= s.select :state, Quote.state_machines[:state].states.map{|s| s.name.to_s}, multiple: true %>
      </div>
    </div>

    <div class='row form-group'>

      <div class="col-sm-6">
        <%= s.text_field :estimated_delivery_date, greater_than: true, placeholder: 'Estimated delivery after...', class: 'js-datetimepicker' %>
      </div>

      <div class="col-sm-6">
        <%= s.text_field :estimated_delivery_date, less_than: true, placeholder: 'Estimated delivery before...', class: 'js-datetimepicker' %>
      </div>
    </div>

    <div class="form-group text-right">

      <%= s.save class: 'btn btn-primary' do %>
          <i class="glyphicon glyphicon-floppy-save"></i> Save
      <% end %>


      <%= link_to '#', class: 'btn btn-warning js-clear-btn' do  %>
        <i class="glyphicon glyphicon-refresh"></i> Clear
      <% end %>

        <%= button_tag class: 'btn btn-success' do %>
            <i class="glyphicon glyphicon-search"></i> Search
        <% end %>
    </div>
<% end %>


<div class="form-group">
  <div class="col-sm-9">
    <%= select_search_queries Quote, 'data-go' => 'query-go-spot' %>
  </div>
  <div id="query-go-spot" class="col-sm-3">

  </div>
</div>
