<%= clearfix %>
<%= paginate quotes %>
<%= search_results_count %>

<div class="box-info row clear">
  <div class="table-responsive">
    <table class="table table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <%= sortable_th 'Name', 'name' %>
          <%= sortable_th 'State', 'state' %>
          <%= sortable_th 'Est. Delivery Date', 'estimated_delivery_date' %>
          <%= sortable_th 'Salesperson', 'salesperson_name' %>
        </tr>
      </thead>

      <tbody>
        <% quotes.each do |quote| %>
          <%= cache(['quotes/_table_row', quote ]) do %>
          <tr>
            <td>
              <%= link_to quote.id, quote_path(quote) %>
            </td>
            <td>
              <dl>
                <dd><%= link_to quote.name, quote_path(quote) %></dd>
                <br />
                <dt>Contact</dt>
                <% if quote.contact %>
                  <dd><%= link_to quote.full_name, crm_contact_path(quote.contact) %></dd>
                  <dd><%= quote.company %></dd>
                  <dd><%= quote.email %></dd>
                  <dd><%= quote.phone_number %></dd>
                  <dd><%= quote.twitter %></dd>
                <% else %>
                  <dd class='text-danger'>No Contact</dd>
                <% end %>
              </dl>
             </td>
            <td>
              <div class='state <%= get_style_from_quote_state(quote.state, 'state') %> quote-state text-center'>
                <%= quote.human_state_name.capitalize %>
              </div>
              <br clear="all" />
              <%= render 'quotes/transitions', quote: quote %>
            </td>
            <td><%= display_time quote.estimated_delivery_date %></td>
            <td class="text-center">
              <strong><%= quote.salesperson.try(:full_name) || 'No user' %><br /></strong>
              <%= profile_picture_of quote.salesperson, class: 'img img-responsive center-block' if quote.salesperson %>
              <small><%= quote.store.name %></small>
            </td>
            <td>
              <div class="btn-group btn-group-xs">
                <%= link_to edit_quote_path(quote),
                            class: 'btn btn-warning', 'data-action' => 'edit',
                            'data-toggle' => 'tooltip', 'title' => 'Edit' do %>
                  <i class="fa fa-edit"></i>
                <% end %>

                <%= link_to quote_path(quote, print: 'true'),
                            class: 'btn btn-success',
                           'data-action' => 'show',
                           'data-toggle' => 'tooltip',
                           'title' => 'Print' do %>
                  <i class="fa fa-print"></i>
                <% end %>

                <%= link_to quote_path(quote), class: 'btn btn-danger',
                            data: { confirm: 'Are you sure you would like to delete the quote?' },
                            method: :delete, 'data-action' => 'destroy',
                            'data-toggle' => 'tooltip', 'title' => 'Destroy' do %>
                  <i class="fa fa-times"></i>
                <% end %>
              </div>
            </td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate quotes %>
