<%= render_error_modal_for @quote %>

<%= render 'quotes/nav', quote: @quote, active: 'edit' %>

<div class="row-fluid quotes-edit">
  <div class="page-heading animated fadeInDownBig">
    <div class="quote-edit-salesperson">
      <%= profile_picture_of @quote.salesperson, title: @quote.salesperson.full_name, data: {toggle: :tooltip, placement: :bottom} %>
    </div>
    <div class="quote-edit-title">
      <h1>
        <%= @quote.name %>
        <br/>
        <span class="small">
        Estimated Delivery Date: <%= display_date(@quote.estimated_delivery_date) %>
        </span>
      </h1>
    </div>
  </div>
</div>

<br clear="all"/>

<div id="quote_<%= @quote.id %>_states">
  <%= render 'state_ribbon', quote: @quote %>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="box-info full">
      <ul class="nav nav-tabs nav-justified">
        <li class="active">
          <a href="#line_items" data-toggle="tab">
            <i class="softwear-icon-t-shirt"></i> Line Items
          </a>
        </li>
        <li>
          <a href="#details" data-toggle="tab">
            <i class="fa fa-search"></i> Details
          </a>
        </li>
        <li>
          <a href="#insightly" data-toggle="tab">
            <i class="softwear-icon-insightly-icon"></i> Insightly
          </a>
        </li>
        <li>
          <a href="#notes" data-toggle="tab">
            <i class="fa fa-bars"></i> Notes
          </a>
        </li>
        <li>
          <a href="#timeline" data-toggle="tab">
            <i class="fa fa-clock-o"></i> Timeline
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane animated fadeInRight active" id="line_items">
          <div class="quote-line-items-container">
            <%= render 'quotes/edit/line_items', quote: @quote %>
          </div>
        </div>

        <div class="tab-pane animated fadeInRight" id="details">
          <%= render 'details', quote: @quote %>
        </div>

        <div class="tab-pane animated  fadeInRight" id="insightly">
          <%= render 'insightly', quote: @quote %>
        </div>

        <div class="tab-pane animated  fadeInRight" id="notes">
          <%= render 'quotes/edit/notes', quote: @quote %>
        </div>

        <div class="tab-pane animated fadeInRight" id="timeline">
          <div class="col-sm-4">
            <%= render 'shared/timeline', activities: @activities %>
          </div>
          <div class="col-sm-8">
            <%= render 'shared/freshdesk_ticket', quote: @quote, current_user: @current_user %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
