<div class="row-fluid">
    <div class="page-heading animated fadeInDownBig pull-left">
      <h1>Edit<strong> Quote</strong> <%= @quote.id %></h1>
      <h2><%= @quote.name %></h2>
    </div>

    <div class="pull-right text-right">

      <% unless @quote.insightly_opportunity_id.blank? %>
          <%= link_to  @quote.freshdesk_ticket_link, class: 'btn btn-warning',
                       'data-action' => 'new', 'data-toggle' => 'tooltip', 'title' => 'Insightly Opportunity' do %>
              <i class="softwear-icon-insightly-icon"></i> Insightly Opportunity
          <% end %>
      <% end %>

      <% unless @quote.freshdesk_ticket_id.blank? %>
          <%= link_to  @quote.freshdesk_ticket_link, class: 'btn btn-success',
                      'data-action' => 'new', 'data-toggle' => 'tooltip', 'title' => 'Freshdesk Ticket' do %>
              <i class="softwear-icon-freshdesk-icon"></i> Freshdesk Ticket
          <% end %>
      <% end %>

      <%= link_to new_order_path(quote_id: @quote.id), class: 'btn btn-success',
                 'data-action' => 'new', 'data-toggle' => 'tooltip', 'title' => 'New Order' do %>
        <i class="fa fa-plus"></i> Create Order from Quote
      <% end %>

      <%= link_to quote_path(@quote), class: 'btn btn-primary',
                  'data-action' => 'show', 'data-toggle' => 'tooltip', 'title' => 'Print' do %>
          <i class="fa fa-print"></i> Print Quote
      <% end %>
    </div>
</div>
<br clear="all" />

<div class="row">
  <div class="col-sm-12">
    <div class="box-info full">
      <ul class="nav nav-tabs nav-justified">
        <li class="active">
          <a href="#timeline" data-toggle="tab">
            <i class="fa fa-clock-o"></i> Timeline
          </a>
        </li>
        <li>
          <a href="#details" data-toggle="tab">
            <i class="fa fa-search"></i> Details
          </a>
        </li>
        <li>
          <a href="#insightly" data-toggle="tab">
            <i class="softwear-icon-insightly-icon"></i> Insightly
          </a>
        </li>
        <li>
          <a href="#line_items" data-toggle="tab">
            <i class="softwear-icon-t-shirt"></i> Line Items
          </a>
        </li>
        <li>
          <a href="#notes" data-toggle="tab">
            <i class="fa fa-bars"></i> Notes
          </a>
        </li>
        <li>
          <a href="#quote_actions" data-toggle="tab">
            <i class="fa fa-cogs"></i> Actions
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane animated fadeInRight active" id="timeline">
          <div class="col-sm-4">
            <%= render 'shared/timeline', activities: @activities %>
          </div>
          <div class="col-sm-8">
            <%= render 'shared/freshdesk_ticket', quote: @quote, current_user: @current_user %>
          </div>
        </div>

        <div class="tab-pane animated fadeInRight" id="details">
          <%= render 'details', quote: @quote %>
        </div>

        <div class="tab-pane animated  fadeInRight" id="insightly">
          <%= render 'insightly', quote: @quote %>
        </div>

        <div class="tab-pane animated fadeInRight" id="line_items">
          <div class="quote-line-items-container">
            <%= render 'quotes/edit/line_items', quote: @quote %>
          </div>
        </div>

        <div class="tab-pane animated  fadeInRight" id="notes">
          <%= render 'quotes/edit/notes', quote: @quote %>
        </div>

        <div class="tab-pane animated fadeInRight" id="quote_actions">
          <%= render 'actions', quote: @quote %>
        </div>
      </div>
    </div>
  </div>
</div>
