<div class="page-heading animated fadeInDownBig col-lg-9">
  <h1>Edit<strong> Quote</strong></h1>
</div>

<div class="col-lg-3 text-right">
  <%= link_to quote_path(@quote), 'data-action' => 'show', 'data-toggle' => 'tooltip', 'title' => 'Print', class: 'btn btn-primary' do %>Print Quote<% end %>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="box-info full">

      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#timeline" data-toggle="tab"><i class="fa fa-clock-o"></i> Timeline</a></li>
        <li><a href="#details" data-toggle="tab"><i class="fa fa-search"></i> Details</a></li>
        <li><a href="#line_items" data-toggle="tab"><i class="fa fa-bars"></i> Line Items</a></li>
        <li><a href="#actions" data-toggle="tab"><i class="fa fa-cogs"></i> Actions</a></li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane animated fadeInRight active" id="timeline">
          <%= render partial: 'shared/timeline', locals: {activities: @activities} %>
        </div>

        <div class="tab-pane animated  fadeInRight" id="details">
          <%= render partial: 'details', locals: { quote: @quote } %>
        </div>

        <div class="tab-pane animated fadeInRight" id="line_items">
          <%= render partial: 'line_items', locals: { line_items: @quote.standard_line_items } %>
        </div>

        <div class="tab-pane animated fadeInRight" id="actions">
          <%= render partial: 'actions' %>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="quote-mail-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Send Quote </h4>
      </div>
      <div class="modal-body">
        <%= render file: 'quotes/email_customer' %>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Cancel</a>
        <%= button_to 'Submit', { action: 'email_customer', quote_id: @quote.id, send: true }, { class: 'btn btn-primary' } %>
      </div>
    </div>
  </div>
</div>
