<div class="page-heading animated fadeInDownBig row">
  <div class="pull-left">
    <h1><strong>Ann Arbor T-Shirt Company Quote</strong> #<%= @quote.id %></h1>
    <h2><%= @quote.name %></h2>
  </div>

  <div class='pull-right hidden-print'>
    <%= link_to edit_quote_path(@quote), class: 'btn btn-primary' do %>
        <i class="fa fa-edit"></i> Edit &nbsp
    <% end %>
    <%= link_to '#', class: 'btn btn-success', id: 'print-button' do  %>
        <i class="fa fa-print"></i> Print
    <% end %>
    <%= link_to new_quote_emails_path(@quote), class: 'btn btn-success' do  %>
        <i class="fa fa-envelope"></i> Email Quote
    <% end %>
  </div>
</div>

<div class="box-info">
  <div class="col-xs-6">
      <h2><strong>Customer</strong> Details</h2>
      <dl>
        <dt>Name</dt>
        <di><%= @quote.full_name %></di>

        <% unless @quote.company.blank? %>
            <dt>Company</dt>
            <di><%= @quote.company %></di>
        <% end %>

        <dt>E-mail</dt>
        <di><%= @quote.email %></di>

        <% unless @quote.phone_number.blank? %>
        <dt>Phone Number</dt>
        <di><%= @quote.phone_number %></di>
        <% end %>

      </dl>
  </div>

  <div class="col-xs-6">
      <h2><strong>Quote</strong> Details</h2>
    <dl>
      <dt>Estimated Delivery:</dt>
      <di><%= display_time @quote.estimated_delivery_date  %></di>

      <dt>Salesperson</dt>
      <di><%= @quote.salesperson.full_name %></di>

      <dt>Valid Until</dt>
      <di><%= display_time @quote.valid_until_date %></di>
    </dl>
    </div>

  <div class="col-xs-12 clear">

  </div>

</div>
