<div class="box-info full" id="printable">
  <div class="page-heading animated fadeInDownBig col-lg-9">
    <h1><strong>Ann Arbor T-Shirt Company</strong> Quote</h1>
  </div>
  <div class="col-sm-3 text-right hidden-print">
    <%= link_to 'Print', '#', onclick: 'window.print();return false;', class: 'btn btn-default' %>
  </div>
</div>
<div class="box-info">
  <div class="col-sm-6 shrink-me">
    <div class="box-info">
      <h2><strong>Customer</strong> Information</h2>
      <div>
        <p><label>Email:</label> <%= @quote.email %></p>
        <p><label>Phone Number:</label> <%= @quote.phone_number %></p>
        <p><label>First Name:</label> <%= @quote.first_name %></p>
        <p><label>Last Name:</label> <%= @quote.last_name %></p>
        <p><label>Company:</label> <%= @quote.company %></p>
        <p><label>Twitter:</label> <%= @quote.twitter %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 shrink-me">
    <div class="box-info">
      <h2><strong>Quote</strong> Details</h2>
      <div>
        <p><label>Name:</label> <%= @quote.name %></p>
        <p><label>Valid Until Date:</label> <%= @quote.valid_until_date %></p>
        <p><label>Estimated Delivery Date:</label> <%= @quote.estimated_delivery_date %></p>
        <p><label>Salesperson:</label> <%= @quote.salesperson.full_name %></p>
        <p><label>Store:</label> <%= @quote.store.name %></p>
      </div>
    </div>
  </div>
</div>

<div class="box-info">
  <!-- Line Item Information -->
  <div class="box-info">
    <%= render partial: 'quotes/line_item_information' %>
  </div>
</div>
