<div class="box-info">
 <%= render partial: 'shared/modal_errors', locals: {object: line_item_template} %>

  <%= form_for line_item_template do |f| %>
        <div id="horizontal-form" class="collapse in">
          <div class="form-group">
            <%= f.label :name, class: 'col-sm-2 control-label' %>

            <div class="col-sm-10">
              <% if line_item_template.errors.include?(:name) %>
                <% line_item_template.errors.full_messages_for(:name).each do |message| %>
                  <p class="text-danger"><%= message %></p>
                <% end %>
              <% end %>

              <%= f.text_field :name, class: 'form-control' %>

              <p class="help-block">The name/title of the markup or upcharge</p>
             </div>
          </div>

          <div class="form-group">
            <%= f.label :description, class: 'col-sm-2 control-label' %>

            <div class="col-sm-10">
              <% if line_item_template.errors.include?(:description) %>
                <% line_item_template.errors.full_messages_for(:description).each do |message| %>
                  <p class="text-danger"><%= message %></p>
                <% end %>
              <% end %>

              <%= f.text_area :description, class: 'form-control' %>

              <p class="help-block">Detailed description of the markup or upcharge</p>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :url, class: 'col-sm-2 control-label' %>

            <div class="col-sm-10">
              <% if line_item_template.errors.include?(:url) %>
                <% line_item_template.errors.full_messages_for(:url).each do |message| %>
                  <p class="text-danger"><%= message %></p>
                <% end %>
              <% end %>

              <%= f.text_field :url, class: 'form-control' %>

              <p class="help-block">Url to relevant information about the markup or upcharge (optional)</p>
             </div>
          </div>

          <div class="form-group">
            <%= f.label :unit_price, class: 'col-sm-2 control-label' %>

            <div class="col-sm-10">
              <% if line_item_template.errors.include?(:unit_price) %>
                <% line_item_template.errors.full_messages_for(:unit_price).each do |message| %>
                  <p class="text-danger"><%= message %></p>
                <% end %>
              <% end %>

              <%= f.text_field :unit_price, class: 'form-control' %>

              <p class="help-block">The cost of this markup or upcharge (optional)</p>
             </div>
          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-info"><%= create_or_edit_text(line_item_template) %> Line Item Template</button>
            </div>
          </div>
        </div>
  <% end %>
</div>
