<div class="col-xs-12" style="page-break-after: always">
  <% order.jobs.map{|j| j.name_number_imprints }.flatten.each do |imprint| %>
    <h3>Number Breakdown for <%= imprint.name %>
    </h3>
    <% if imprint.number_count.empty? %>
      <div class="alert alert-danger">
        <p>There appear to be no numbers assigned for this job</p>
      </div>
    <% else %>
      <table class="table table-condensed table-bordered">
        <tr>
          <th class="text-right">Number
          </th>
          <th>Quantity
          </th>
        </tr>
        <% imprint.number_count.each do |key, val| %>
          <tr>
            <td class="text-right" style="padding-right: 10px">
              <%= key %>
            </td>
            <td style="border-left: solid 3px #000; padding-left: 10px">
              <%= val %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
</div>

<div class="col-xs-12" style="page-break-after: always">
  <h3><%= order.name %> Names/Numbers</h3>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
      <th>
        Job
      </th>
      <th>
        Imprint
      </th>
      <th>
        Imprintable
      </th>
      <th>
        Name
      </th>
      <th>
        Number
      </th>
    </tr>
    </thead>
    <tbody>
    <% order.name_and_numbers.each do |nn| %>
      <tr>
      <td>
        <%= nn.imprint.job.name %>
      </td>
      <td class='imprint-name-and-format'>
        <%= nn.imprint.name %><br />
        <%= nn.imprint.name_format %><br />
        <%= nn.imprint.number_format %>
      </td>
      <td>
        <%= nn.imprintable_variant.full_name %>
      </td>
      <td>
        <%= nn.name %>
      </td>
      <td>
        <%= nn.number %>
      </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>
