<div class="user-profile-content" id="supplier_information_<%= imprintable.id%>">
  <h3>Basic Info</h3>
  <dl class="left-right-pretty">
    <dt>Brand</dt>
    <dd><%= imprintable.brand.try(:name) %></dd>
    <dt>Style Name</dt>
    <dd><%= imprintable.style_name %></dd>
    <dt>Catalog No.</dt>
    <dd><%= imprintable.style_catalog_no %></dd>
    <dt>Style Description</dt>
    <dd><%= raw imprintable.description %></dd>
    <dt>Shirt Tag Type</dt>
    <dd><%= imprintable.tag.blank? ? 'Not Specified' : imprintable.tag %></dd>
  </dl>

  <h3>Sizing Pricing</h3>
    <div class="table-responsive">
      <table class="table table-hover" id="imprintable_supplier_pricing">
        <thead>
          <tr>
            <th>Sizes Available</th>
            <% if imprintable.base_price_ok %><th>Base Upcharge</th><% end %>
            <% if imprintable.xxl_price_ok %><th>2XL</th><% end %>
            <% if imprintable.xxxl_price_ok %><th>3XL</th><% end %>
            <% if imprintable.xxxxl_price_ok %><th>4XL</th><% end %>
            <% if imprintable.xxxxxl_price_ok %><th>5XL</th><% end %>
            <% if imprintable.xxxxxxl_price_ok %><th>6XL</th><% end %>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= display_sizes(imprintable) %></td>

            <% if imprintable.base_price_ok %>
              <td><%= number_to_currency imprintable.base_price %></td>
            <% end %>
            <% if imprintable.xxl_price_ok %>
              <td><%= number_to_currency imprintable.xxl_price %></td>
            <% end %>
            <% if imprintable.xxxl_price_ok %>
              <td><%= number_to_currency imprintable.xxxl_price %></td>
            <% end %>
            <% if imprintable.xxxxl_price_ok %>
              <td><%= number_to_currency imprintable.xxxxl_price %></td>
            <% end %>
            <% if imprintable.xxxxxl_price_ok %>
              <td><%= number_to_currency imprintable.xxxxxl_price %></td>
            <% end %>
            <% if imprintable.xxxxxxl_price_ok %>
              <td><%= number_to_currency imprintable.xxxxxxl_price %></td>
            <% end %>
          </tr>
        </tbody>
       </table>
     </div>
    <h3>Additional Info</h3>
    <dl class="left-right-pretty">
      <dt>Main Supplier</dt>
      <dd><%= imprintable.main_supplier.blank? ? 'Not Specified ' :  imprintable.main_supplier %></dd>
      <dt>Supplier Link</dt>
      <dd><%= imprintable.supplier_link.blank? ? 'Not Specified ' : link_to(imprintable.supplier_link, imprintable.supplier_link) %></dd>
      <dt>Categories</dt>
      <dd><%= imprintable.imprintable_categories.empty? ? 'Not Specified' : imprintable.imprintable_categories.map{|x| x.name}.join(', ') %></dd>
      <dt>Coordinates</dt>
      <dd><%= imprintable.coordinates.empty? ? 'Not Specified' :  imprintable.coordinates.map{|x| x.name}.join(', ') %></dd>
      <dt>Sample Locations</dt>
      <dd><%= imprintable.sample_locations.empty? ? 'Not Specified' : imprintable.sample_locations.map{|x| x.name}.join(', ') %></dd>
      <dt>Tags</dt>
      <dd><%= imprintable.tags.empty? ? 'Not Specified' : imprintable.tags.map{|x| x.name}.join(', ') %></dd>

      <dt>Sizing Chart</dt>
      <dd>
      <% if imprintable.sizing_chart %>
        <%= link_to image_tag(imprintable.sizing_chart.file.url(:thumb)), imprintable.sizing_chart_url %>
      <% else %>
        None uploaded
      <% end %>
      </dd>
    </dl>

    <%= render 'imprintables/show/weight_table', imprintable: imprintable %>

  <h3>Groups</h3>
  <% if imprintable.imprintable_imprintable_groups.empty? %>
    Not a part of any imprintable group.
  <% else %>
    <ul>
      <% imprintable.imprintable_imprintable_groups.each do |info| %>
        <li>
          <h5><%= info.imprintable_group.try(:name) || '<deleted group>' %></h5> - <%= info.tier_name %>
          <% if info.default? %> <em>default</em> <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
