<h2>
  <%= "#{@salesperson.full_name}" %> has <%= @action_name %>d an Artwork Request for
    Imprint(s): <%= @artwork_request.imprints.map(&:name).join(', ') %>
    Jobs: <%= @artwork_request.jobs.map { |x| [x.name] }.join(', ') %>
    Order: <%= @artwork_request.jobs.first.order.name %>
    Proof Deadline: <%= @artwork_request.deadline.strftime('%b %d, %Y, %I:%M %p') %>
    Priority: <%= ArtworkRequest::PRIORITIES[@artwork_request.priority.to_i] %>
</h2>
<p>
  Best of luck! I've got to mambo darling!
</p>
