<div class="full-content-center animated fadeInDownBig">
  <%= image_tag 'logo-login.png', alt: 'Logo' %>
  <div class="login-wrap">
    <div class="box-info">
      <h2 class="text-center"><strong>Login</strong> form</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name), builder: LancengFormBuilder) do |f| %>
        <div class="form-group login-input">
          <i class="fa fa-sign-in overlay"></i>
          <%= f.error_for :email %>
          <%= f.text_field :email, class: 'text-input', value: (@lock ? @lock[:email] : nil), placeholder: 'Email' %>
        </div>

        <div class="form-group login-input">
          <i class="fa fa-key overlay"></i>
          <%= f.error_for :password %>
          <%= f.password_field :password, class: 'text-input', placeholder: 'Password' %>
        </div>

        <div class="checkbox">
          <% if defined?(devise_mapping) && devise_mapping.rememberable? %>
            <%= f.check_box :remember_me %> <%= f.label :remember_me %>
          <% end %>
        </div>
        
        <div class="row">
          <div class="col-sm-12">
          <%= f.submit 'Login', class: 'btn-block' %>
          </div>
        </div>
      <% end %>
    </div>
    <p class="text-center">
      <%= link_to new_user_password_path do %>
        <i class="fa fa-lock"></i> Forgot password?
      <% end %>
    </p>
  </div>
</div>
