<h1>Payments Report</h1>
<h2><%= params[:start_time] %> through <%= params[:end_time] %></h2>

<table class='table table-striped table-sortable sortable'>
  <thead>
    <tr>
      <th>
        Store
      </th>
      <th>
        Method
      </th>
      <th>
        Total
      </th>
    </tr>
  </thead>
  <tbody>
    <% data[:totals].each do |store_and_method, amount| %> 
      <tr>
        <td>
         <%= Store.find(store_and_method[0]).name %>
        </td>
        <td>
          <%= Payment::VALID_PAYMENT_METHODS[store_and_method[1]] %>
        </td>
        <td>
          <%= number_to_currency amount %>
        </td>
    </tr>
  <% end %>
  </tbody>
</table>

<table class='table table-striped table-sortable sortable'>
  <thead>
    <tr>
      <th>
        Order ID
      </th>
      <th>
        Order Name
      </th>
      <th>
        Salesperson
      </th>
      <th>
        Store
      </th>
      <th>
        Method
      </th>
      <th>
        Time
      </th>
      <th>
        Amount
      </th>
    </tr>
  </thead>
  <tbody>
    <% data[:payments].each do |payment| %> 
      <tr>
        <td>
          <% if payment.order %>
            <%= payment.order_id %>
          <% elsif payment.retail? %>
            Retail
          <% else %>
            ???
          <% end %>
        </td>
        <td>
          <% if payment.order %>
            <%= link_to payment.order.name, edit_order_path(payment.order, anchor: 'payments'), target: :_blank %>
          <% elsif payment.retail? %>
            <%= payment.retail_description %>
          <% else %>
            Unknown payment (no retail description or order)
          <% end %>
        </td>
        <td>
          <%= payment.salesperson.full_name %>
        </td>
        <td>
          <%= payment.store.name %>
        </td>
        <td>
          <%= Payment::VALID_PAYMENT_METHODS[payment.payment_method] %>
        </td>
        <td>
          <%= payment.created_at.strftime('%a, %b %d, %Y %I:%M%p') %>
        </td>
        <td>
          <%= number_to_currency payment.amount %>
        </td>
    </tr>
  <% end %>
  </tbody>
</table>

