<h1>Quote Request Success Report from <%= report.start_time %> to <%= report.end_time %></h1>
<b>Total Quote Requests Received:</b> <%= data[:number_of_quote_requests] %> <br />
<b>Total Quotes from Requests:</b> <%= data[:number_of_quotes_from_requests] %> <br />
<b>Total Orders from Requests:</b> <%= data[:number_of_orders_from_quotes] %> <br />
