<h1>Sales Reports</h1>
<%= form_tag sales_reports_path, method: :post, id: 'sales_report_form' do %>
  <!-- the following data-date-format are for use with datetimepicker-rails -->
  <%= text_field_tag :start_time, nil, 'data-date-format' => 'YYYY-MM-DD', placeholder: 'Start Time' %>
  <%= text_field_tag :end_time, nil, 'data-date-format' => 'YYYY-MM-DD', placeholder: 'End Time' %>
  <%= select_tag :report_type, options_for_select(@reports), include_blank: true %>
  <%= button_tag 'Generate Report' %>
<% end %>
