<%= render 'shared/modal_errors', object: store %>

<%= form_for store, builder: LancengFormBuilder do |f| %>
  <div id="horizontal-form" class="collapse in">
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.submit class: 'btn btn-info' %>
    </div>
  </div>
<% end %>