
<div class="box-info full">
  <div class="table-responsive">
    <table class="table table-hover" id="imprint_methods_list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Name/Number Support</th>
          <th>Ink Colors</th>
          <th>Pricing Options</th>
          <th>Print Locations</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% imprint_methods.each do |imprint_method| %>
          <tr id="<%= model_table_row_id imprint_method %>">
            <td><%= imprint_method.name %></td>
            <td><%= imprint_method.name_number? ? 'Yes' : 'No' %></td>
            <td><%= imprint_method.ink_colors.map(&:name).join(', ') %></td>
            <td>
              <% imprint_method.option_types.each do |option_type| %>
                <%= option_type.name %>:
                <ul>
                  <% option_type.option_values.each do |option_value| %>
                    <li><%= option_value.value %></li>
                  <% end %>
                </ul>
              <% end %>
            </td>
            <td><%= imprint_method.print_locations.map(&:name_and_popularity).join(', ') %></td>
            <td>
              <div class="btn-group btn-group-xs">
                <%= link_to edit_imprint_method_path(imprint_method), class: 'btn btn-default',
                            'data-action' => 'edit', 'data-toggle' => 'tooltip', 'title' => 'Edit' do %>
                  <i class="fa fa-edit"></i>
                <% end %>

                <% if imprint_method.deletable %>
                  <%= link_to imprint_method_path(imprint_method), class: 'btn btn-default',
                              data: { confirm: 'Are you sure you would like to delete the imprint method?' }, method: :delete,
                              'data-action' => 'destroy', 'data-toggle' => 'tooltip', 'title' => 'Destroy' do %>
                    <i class="fa fa-times"></i>
                  <% end %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
