<div class="container">
  <div class="logo-brand header sidebar rows  hidden-print">
    <div class="logo">
      <h1>
        <%= image_tag 'logo.png', alt: 'SoftWEAR' %> SoftWEAR
      </h1>
    </div>
  </div>



  <div class="left side-menu hidden-print">

    <div class="body rows scroll-y">
      <div>
        <h2>Order #<%= @order.id %></h2>
        <h3>State:</h3>
        <dl>
          <dt>Payment:</dt>
          <dd><%= @order.payment_status %></dd>
          <dt>Invoice:</dt>
          <dd><%= @order.invoice_state %></dd>
        </dl>
      </div>
      <br clear="all" />

      <div class="sidebar-inner slimscroller">
        <%= render partial: 'customer/shared/sidebar_menu' %>
      </div>
    </div>
  </div>

  <div class="right content-page">
    <div class="body content rows scroll-y">
      <%= render 'orders/show' %>
      <%= render 'shared/footer'  %>
    </div>
  </div>

</div>



