<div class="page-heading animated fadeInDownBig col-lg-9">
  <h1>FBA Job Templates</h1>
</div>
<div class="col-lg-2"></div>
<div class="col-lg-1">
  <%= link_to '+', new_fba_job_template_path, class: 'btn btn-success' %>
</div>

<%= search_form_for FbaJobTemplate, class: 'form-horizontal' do |s| %>
  <div class='form-group'>
    <%= s.fulltext placeholder: 'Search Terms', class: 'form-control' %>
  </div>
  <div class='col-sm-3'></div>
  <div class="col-sm-6">
    <%= s.submit class: 'btn-lg btn-block margin-top-10' %>
  </div>
  <div class='col-sm-3'></div>
<% end %>
<div class='clearfix'></div>

<%= form_tag fba_job_templates_url, method: :get do %>
<div class='well col-sm-2'>
  <div class='form-group'>
    <%= hidden_field_tag :needs_artwork, '0' %>
    <%= label_tag :needs_artwork %>
    <%= check_box_tag :needs_artwork, '1', session[:fjt_needs_artwork] == '1', class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= hidden_field_tag :needs_proof, '0' %>
    <%= label_tag :needs_proof %>
    <%= check_box_tag :needs_proof, '1', session[:fjt_needs_proof] == '1', class: 'form-control' %>
  </div>

  <%= button_tag 'Apply Filter', class: 'btn btn-default' %>
</div>
<% end %>

<%= paginate @fba_job_templates %>

<div class='box-info full clear'>
  <div class='table-responsive'>
    <table class='table table-hover table-striped'>
      <thead>
        <tr>
          <%= sorted_th :id, 'ID' %>
          <%= sorted_th :name, 'Unique Name' %>
          <%= sorted_th :job_name, 'Job Name' %>
          <%= sorted_th :imprint_count, 'Imprints' %>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @fba_job_templates.each do |fba_job_template| %>
          <tr>
            <td><%= fba_job_template.id %></td>
            <td><%= fba_job_template.name %></td>
            <td><%= fba_job_template.job_name %></td>
            <td>
              <span data-toggle='tooltip' title="<%= fba_job_template.fba_imprint_templates.map(&:name).join(', ') %>">
                <%= fba_job_template.fba_imprint_templates.size %>
              </span>
            </td>
            <td>
              <div class='btn-group btn-group-xs'>
                <%= link_to fa(:edit), edit_fba_job_template_path(fba_job_template), class: 'btn btn-sm btn-warning' %>
                <%= link_to fa('times-circle'), fba_job_template_path(fba_job_template), method: :delete, 'data-action' => 'destroy', class: 'btn btn-sm btn-danger', data: { confirm: %(Delete job template "#{fba_job_template.name}"?) } %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @fba_job_templates %>
