<% imprintables.each do |imprintable| %>
  <hr>
  <div id="imprintable-result-<%=imprintable.id%>" class="imprintable-add-search-result row <%= 'discontinued-imprintable' if imprintable.cant_be_added_to_quote_reason %>">
    <div class="col-xs-2">
      <i><%= 'Standard Offering' if imprintable.standard_offering? %></i>
      <% unless imprintable.imprintable_groups.empty? %>
      <dl>
        <dt>Imprintable Groups</dt>
      <% imprintable.imprintable_imprintable_groups.each do |iig| %>
        <dd>
          <% if iig.imprintable_group.nil? %>
            &lt;Nil group&gt;
          <% else %>
            <%= iig.imprintable_group.name %> (<%= Imprintable::TIERS[iig.tier] %>)
          <% end %>
        </dd>
      <% end %>
      </dl>
      <% end %>
    </div>
      <div class="col-xs-6">
        <% if imprintable.cant_be_added_to_quote_reason %>
          <b><s><%= imprintable.name %></s></b><br />
          <s> <%= raw imprintable.description %></s>
        <% else %>
          <b><%= imprintable.name %></b><br />
          <%= raw imprintable.description %>
        <%end%>
      </div>
        <div class="col-xs-2">
          <b>Base Upcharge</b><br />
          <%= number_to_currency imprintable.base_price %>
        </div>
      <div class="col-xs-2">
        <b>Mark to Add</b><br />
        <% if imprintable.cant_be_added_to_quote_reason %>
          <%= imprintable.cant_be_added_to_quote_reason(self).html_safe %>
        <% else %>
          <%= check_box_tag 'quote[line_item_to_group_attributes][imprintables][]', imprintable.id, local_assigns[:checked].try(:include?, imprintable.id) %>
        <% end %>
      </div>
  </div>
<% end %>
