<% imprintables.each do |imprintable| %>
  <div id="imprintable-result-<%=imprintable.id%>" class="imprintable-add-search-result row">
    <div class="col-xs-2">
      <i><%= 'Standard Offering' if imprintable.standard_offering? %></i>
    </div>
      <div class="col-xs-6">
        <b><%= imprintable.name %></b><br />
        <%= raw imprintable.description %>
      </div>
        <div class="col-xs-2">
          <b>Base Upcharge</b><br />
          <%= number_to_currency imprintable.base_price %>
        </div>
      <div class="col-xs-2">
        <b>Mark to Add</b><br />
        <%= check_box_tag 'quote[line_item_to_group_attributes][imprintables][]', imprintable.id, local_assigns[:checked].try(:include?, imprintable.id) %>
      </div>
  </div>
<% end %>
