<%= form_for :line_item, method: :put, url: line_items_update_path, remote: true, builder: BatchFormBuilder do |f| %> 

  <% quote.jobs.each do |job| %>
      <div id="edit-quote-job-<%= job.id %>" class="quote-job-entry container-fluid" data-job-id='<%=job.id%>'>
        <div class="row">
          <div class="col-xs-12">
            <h3><%= job.name %></h3>
            <p><%= job.description %></p>
          </div>
        </div>
        <% Imprintable::TIERS.each do |tier_number, tier_name| %>
            <div id="edit-quote-job-<%= job.id %>-tier-<%= tier_number %>" class="row tier-row" data-tier=<%= tier_number %>>
              <div class="col-xs-1">
                <%= tier_name %><br />
              </div>
              <div class="col-xs-11">
                <ul class="edit-quote-line-items sortable-quote-line-items container-fluid" data-tier="<%= tier_number %>"  data-job-id="<%= job.id %>">
                  <% job.imprintable_line_items_for_tier(tier_number).each do |line_item| %>
                      <%= render 'quotes/edit/line_items_imprintable', line_item: line_item %>
                  <% end %>
                </ul>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>

  <%= f.submit 'Save Changes' %>

<% end %>

<% unless quote.additional_options_and_markups.empty? %>
    <div id='edit-quote-additional-options-and-markup'>
      <div class="row">
        <div class="col-xs-12">
          <h3>Additional Options and Markups</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
          <ul class="option-and-markup-line-items container-fluid">
            <% quote.additional_options_and_markups.each do |line_item| %>
                <%= render 'quotes/edit/line_items_options_and_markups', line_item: line_item %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
<% end %>

<div class="container-fluid">

  <%= link_to edit_quote_path, class: 'btn btn-success col-sm-3 col-sm-offset-1', remote: true do %>
      <i class="glyphicon glyphicon-plus-sign"></i> Add A New Group
  <% end %>

  <% unless quote.jobs.empty? %>
      <%= link_to edit_quote_path(imprintable_only: true), class: 'btn btn-success col-sm-3 col-sm-offset-1', remote: true do %>
          <i class="glyphicon glyphicon-plus-sign"></i> Add an imprintable
      <% end %>

      <%= link_to edit_quote_path(options_and_markups: true), class: 'btn btn-success col-sm-3 col-sm-offset-1', remote: true do %>
          <i class="glyphicon glyphicon-plus-sign"></i> Add An Option or Markup
      <% end %>
  <% end %>

</div>
