<% # batch_fields_for line_item do |f| %>
<%= f.fields_for line_item do |ff| %>
  <li id="line-item-<%=line_item.id%>" class="row option-and-markup-line-item" data-no-rerender="true">
    <% if line_item.line_itemable.jobbable.formal? %>
        <div class="col-xs-8">
    <% else %>
        <div class="col-xs-10">
    <% end %>
      <%= link_to line_item.name, line_item.url %><br />
      <%= raw line_item.description %>
    </div>
    <% if line_item.line_itemable.jobbable.formal? %>
        <div class="col-xs-2">
          <%= ff.label :quantity %>
          <%= ff.number_field :quantity, class: 'line-item-edit-field' %>
        </div>
    <% end %>
    <div class="col-xs-2">

      <b>Price</b>
      <div class='input-group'>
        <span class='input-group-addon'>$</span>
        <%= ff.text_field :unit_price, class: 'line-item-edit-field unit-price' %>
      </div>

    </div>
  </li>
<% end %>
