<h3>Add a group of imprintables to this quote</h3>

<%= form_for quote do |f| %>
    <%= f.fields_for :line_items_from_group do |ff| %>
        <%= ff.label :imprintable_group_id %><br />
        <%= ff.select :imprintable_group_id, ImprintableGroup.all.collect{|x| [x.name, x.id] } %><br />
        <%= ff.label :quantity %><br />
        <%= ff.text_field :quantity %><br />
        <%= ff.label :decoration_price %><br />
        <%= ff.text_field :decoration_price %><br />
        <%= ff.hidden_field :quote_id, value: quote.id %>
    <% end %>
    <%= f.submit 'Add Group', class: 'btn btn-success'  %>
<% end %>

<h3>Add a imprintable line items to an existing group</h3>

<h4>Search for an imprintable</h4>
<div class="col-sm-12" id="imprintable-add-search">
  <%= form_tag imprintables_path, method: :get, remote: true do %>
      <%= hidden_field_tag 'respond_with_partial', 'quotes/edit/imprintable_search.js' %>
      <%= label_tag :q, 'Search Terms' %>
      <%= text_field_tag :q %>
      <%= button_tag 'Search Imprintables', id: 'search-imprintables-btn', class: 'btn btn-primary' %>
  <% end %>
</div>

