<h4>Search for an imprintable</h4>
<div class="col-sm-12" id="imprintable-add-search">
  <%= form_tag imprintables_path, method: :get, remote: true do %>
      <%= hidden_field_tag 'respond_with_partial', 'quotes/edit/imprintable_search.js' %>

      <div class="form-group">
        <%= label_tag :q, 'Terms', class: 'col-xs-1 control-label' %>
        <div class="col-xs-8">
          <%= text_field_tag :q, raw(params[:search_prepopulate] || ''), class: 'form-control', placeholder: 'Enter search terms here' %>
        </div>
        <%= button_tag class: 'btn btn-primary col-xs-2' do  %>
            <i class="glyphicon glyphicon-search"></i> Search
        <% end %>
      </div>
  <% end %>
</div>
<br clear="all" />
<%= form_for quote, html: { id: 'imprintables-from-search-results-form' }, remote: true, builder: LancengFormBuilder do |f| %>
    <%= f.fields_for :line_item_to_group do |ff| %>
      <h4>Select imprintables from search results</h4>

      <div class="col-sm-12" id="imprintable-add-search-results">
        <% if params[:imprintable_id_prepopulate] %>
          <%= render 'quotes/edit/imprintable_search_results',
            imprintables: Imprintable.where(id: params[:imprintable_id_prepopulate]),
            checked: [params[:imprintable_id_prepopulate].to_i] %>
        <% else %>
          <p class="help-block">
            enter search terms above and press "Search" to populate search results
          </p>
        <% end %>
      </div>

      <%= render 'quotes/edit/new_imprintable_common_fields', f: ff, quote: quote %>
    <% end %>
    <div class='col-xs-3 col-xs-offset-4 error-space text-danger'>
    </div>
    <%= render 'quotes/edit/add_imprintables_button.html.erb', f: f %>
<% end %>

</div>
