<h3>Add a imprintable line items to an existing group</h3>

<h4>Search for an imprintable</h4>
<div class="col-sm-12" id="imprintable-add-search">
  <%= form_tag imprintables_path, method: :get, remote: true do %>
      <%= hidden_field_tag 'respond_with_partial', 'quotes/edit/imprintable_search.js' %>
      <%= label_tag :q, 'Search Terms' %>
      <%= text_field_tag :q %>
      <%= button_tag 'Search Imprintables', id: 'search-imprintables-btn', class: 'btn btn-primary' %>
  <% end %>
</div>

<%= form_for quote do |f| %>
    <%= f.fields_for :line_item_to_group do |ff| %>
        <h4>Search Results</h4>
        <div class="col-sm-12" id="imprintable-add-search-results">
          ...
        </div>

        <h4>Line Item Options</h4>
        <div class="row">
          <div class="col-xs-3">
            <%= ff.label :job_id, 'Group' %><br />
            <%= ff.select :job_id, quote.jobs.all.map {|x| [x.name, x.id] } %><br />
          </div>
          <div class="col-xs-3">
            <%= ff.label :tier %><br />
            <%= ff.select :tier, Imprintable::TIERS.map{|number, name| [name, number]} %><br />
          </div>
          <div class="col-xs-3">
            <%= ff.label :quantity %><br />
            <%= ff.text_field :quantity %><br />
          </div>
          <div class="col-xs-3">
            <%= ff.label :decoration_price %><br />
            <%= ff.text_field :decoration_price %><br />
          </div>
          <%= ff.hidden_field :quote_id, value: quote.id %>
    <% end %>
    <br clear="all" />
    <br clear="all" />
    <div class="row">
      <%= f.submit 'Add Imprintable(s)', class: 'btn btn-success col-xs-3 col-xs-offset-4' %>
    </div>
<% end %>

</div>