<h4>Search for an imprintable</h4>
<div class="col-sm-12" id="imprintable-add-search">
  <%= form_tag imprintables_path, method: :get, remote: true do %>
      <%= hidden_field_tag 'respond_with_partial', 'quotes/edit/imprintable_search.js' %>

      <div class="form-group">
        <%= label_tag :q, 'Terms', class: 'col-xs-1 control-label' %>
        <div class="col-xs-8">
          <%= text_field_tag :q, '', class: 'form-control', placeholder: 'Enter search terms here' %>
        </div>
        <%= button_tag class: 'btn btn-primary col-xs-2' do  %>
            <i class="glyphicon glyphicon-search"></i> Search
        <% end %>
      </div>
  <% end %>
</div>
<br clear="all" />
<%= form_for quote, builder: LancengFormBuilder do |f| %>
    <%= f.fields_for :line_item_to_group do |ff| %>
      <h4>Select imprintables from search results</h4>

      <div class="col-sm-12" id="imprintable-add-search-results">
        <p class="help-block">
          enter search terms above and press "Search" to populate search results
        </p>
      </div>

      <%= render 'quotes/edit/new_imprintable_common_fields', f: ff, quote: quote %>
    <% end %>
    <%= render 'quotes/edit/add_imprintables_button.html.erb', f: f %>
<% end %>

</div>
