<% if imprintable.send(type).empty? %>
  <h4>Couldn't find any <%= type.gsub('_imprintables', '').singularize %> imprintables for <%= imprintable.name %></h4>
  <%= link_to 'Close', '#', class: 'btn btn-info', data: { dismiss: 'modal' } %>
<% else %>
  <%= form_for quote, html: { class: 'check-for-imprintables' }, remote: true, builder: LancengFormBuilder do |f| %>
      <%= f.fields_for :line_item_to_group do |ff| %>
        <h4>New line item <%= type.gsub('_imprintables', '').singularize %> to <%= imprintable.name %></h4>

        <div class="col-sm-12" id="imprintable-add-search-results">
          <%= render 'quotes/edit/imprintable_search_results', imprintables: imprintable.send(type) %>
        </div>

        <%= render 'quotes/edit/new_imprintable_common_fields', f: ff, quote: quote %>
      <% end %>
      <div class='col-xs-3 col-xs-offset-4 error-space text-danger'>
      </div>
      <%= render 'quotes/edit/add_imprintables_button.html.erb', f: f %>
  <% end %>
<% end %>
