<div class="container-fluid">
    <p class="help-block">
      Options & Markups are things like, say, a color upcharge. Or a name & number
      charge. To keep quote scenarios simple, use these to make note of such things
    </p>
    <%= form_for LineItem.new, builder: LancengFormBuilder, class: 'horizontal-form' do |f| %>
        <%= hidden_field_tag :done_path, quote_path(quote.id) %>
        <%= f.hidden_field :line_itemable_type, value: 'Job' %>

        <%= f.label :name %>
        <%= f.text_field :name %>
        <p class="help-block">
            Name the line item
        </p>

        <%= f.label :description %>
        <%= f.text_field :description  %>
        <p class="help-block">
            Add a brief description to explain exactly what the upcharge or markup is for
        </p>

        <%= f.label :url%>
        <%= f.text_field :url %>
        <p class="help-block">
            If a landing page with information exists, include the link to it
        </p>


      <div class="row">
        <div class="col-xs-8">
          <%= f.label :line_itemable_id, 'Group' %><br />
          <%= f.select :line_itemable_id, quote.jobs.all.map {|x| [x.name, x.id] } %>
          <p class="help-block">
            Which imprintable group will this apply to?
            This only affects the presentation of a formal quote, where these markups will be included in the group.
            For an informal quote, All markups & options show up at the bottom of the quote.
          </p>
        </div>
        <% if quote.formal? %>
        <div class="col-xs-2">
          <%= f.label :quantity %><br />
          <%= f.text_field :quantity, type: 'number' %>
        </div>
            <div class="col-xs-2">
        <% else %>
            <div class="col-xs-4">
              <%= f.hidden_field :quantity, value: LineItem::MARKUP_ITEM_QUANTITY %>
          <% end %>
          <%= f.label :unit_price %><br />
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :unit_price, type: 'number', step: 'any' %>
          </div>
        </div>


      <%= button_tag class: 'btn btn-success col-sm-offset-4 col-xs-4 col-xs-offset-1 col-xs-10' do  %>
          <i class="glyphicon glyphicon-plus-sign"></i> Add Option or Markup
      <% end %>
    <% end %>

</div>
