<h3>Add a an option or markup to this quote</h3>

<%= form_for quote do |f| %>
    <%= f.fields_for :line_items_options_and_markups do |ff| %>
        <%= ff.label :name %><br />
        <%= ff.text_field :name %><br />

        <%= ff.label :description %><br />
        <%= ff.text_field :description %><br />

        <%= ff.label :url %><br />
        <%= ff.text_field :url %><br />

        <% if quote.formal? %>
            <%= ff.label :quantity %><br />
            <%= ff.text_field :quantity %><br />
        <% else %>
            <%= ff.hidden_field :quantity, value: LineItem::MARKUP_ITEM_QUANTITY %><br />
        <% end %>
        <%= ff.label :unit_price %><br />
        <%= ff.text_field :unit_price %><br />
        <%= ff.hidden_field :quote_id, value: quote.id %>
    <% end %>
    <%= f.submit 'Add Option or Markup', class: 'btn btn-success'  %>
<% end %>
