<div id="artwork-request-<%= artwork_request.id %>" class="row">
  <div class="the-notes  artwork-request-notes <% if artwork_request.state == 'artwork_request_rejected' %>danger<% else %>info<% end %>" >
    <% unless artwork_request.artwork_ids.empty? %>
      <%= render 'artwork_requests/artworks', artwork_request: artwork_request %>
    <% end %>

    <br clear="all" />
    <div class="row">
      <h4 class="artwork-request-title">#<%= artwork_request.id %> Artwork Request for <%= artwork_request.jobs.map(&:name).join(', ') %>
      </h4>

      <% if artwork_request.reorder? %>
        <div class="alert alert-warning">
          This artwork request is for an exact reorder.
          <ul>
            <li>Description
            </li>
            <li><%= artwork_request.description %>
            </li>
          </ul>
          <br clear="all" />
        </div>
      <% end %>
      <% if order.nil? && artwork_request.order.nil? %>
        <div class="alert alert-danger">
          This artwork request has been removed from its order and should be deleted.
        </div>
      <% end %>
    </div>

    <div class="row">
      <%= render 'artwork_requests/show/basic_details', { artwork_request: artwork_request, full: true} %>
    </div>

    <div class="row">
      <%= render 'artwork_requests/show/artist_job_and_style_table', {artwork_request: artwork_request} %>
    </div>

    <div>
      <dl>
        <dt>Description:
        </dt><br />
        <dd><%= artwork_request.description.html_safe %>
        </dd>
        <br />
        <dt>Attachments:
        </dt>
        <% if artwork_request.assets.empty? %>
          <dd>None</dd>
        <% end %>
      </dl>
      <% artwork_request.assets.each do |asset| %>
        <div class="col-sm-5 indent">
          <dl>
            <dt>File Name:
            </dt>
            <dd><%= asset.file_file_name %>
            </dd>
            <dt>File Size:
            </dt>
            <dd><%= number_to_human_size(asset.file_file_size) %>
            </dd>
            <dt>Description:
            </dt>
            <dd><%= asset.description %>
            </dd>
            <dd><%= link_to 'Download File', asset.file.url %>
            </dd>
          </dl>
        </div>
      <% end %>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <% unless order.nil? && artwork_request.order.nil? %>
          <%= link_to edit_order_artwork_request_path(order || artwork_request.order, artwork_request), class: 'btn btn-primary' do %>
            <i class="glyphicon glyphicon-pencil"></i> Edit
          <% end %>
        <% end %>

        <% if params[:disable_buttons].nil? %>
          <%= link_to artworks_path(artwork_request_id: artwork_request.id), remote: true, class: 'btn btn-success' do %>
            <i class="glyphicon glyphicon-plus-sign"></i> Add Artwork
          <% end %>
        <% end %>

        <% if artwork_request.can_artwork_added? && !artwork_request.artworks.empty? %>
            <%= link_to transition_artwork_request_path(artwork_request, :state, :artwork_added),
                        method: :post, class: 'btn btn-success', data: {action: :update, toggle: :tooltip,
                                                                        title: 'Approve',  confirm: "Confirm Manager Approval" } do %>
                <i class="glyphicon"></i> Mark Artwork Added
            <% end %>
        <% end %>

        <% if artwork_request.can_approved? %>
          <%= link_to transition_artwork_request_path(artwork_request, :state, :approved),
            method: :post, class: 'btn btn-success', data: {action: :update, toggle: :tooltip,
            title: 'Approve'} do %>
            <i class="glyphicon glyphicon-thumbs-up"></i> Approve Artwork
          <% end %>
        <% end %>

        <% if artwork_request.can_revise_artwork_request? %>
          <%= link_to transition_artwork_request_path(artwork_request, :state, :revise_artwork_request),
            method: :post, class: 'btn btn-success', data: {action: :update, toggle: :tooltip,
            title: 'Mark Artwork Request Revised'} do %>
            <i class="glyphicon glyphicon-thumbs-up"></i> Mark Artwork Request Revised
          <% end %>
        <% end %>

        <% if artwork_request.can_reject_artwork? %>
          <%= link_to '#', class: 'btn btn-warning reject-artwork-request',
            data: { transition: :reject_artwork, 'id' => artwork_request.id,
            toggle: :tooltip, title: 'Reject Artwork'} do %>
            <i class="glyphicon glyphicon-thumbs-down"></i> Reject Artwork
          <% end %>
        <% end %>

        <% if artwork_request.can_reject_artwork_request? %>
          <%= link_to '#', class: 'btn btn-warning reject-artwork-request',
            data: { transition: :reject_artwork_request, 'id' => artwork_request.id,
            toggle: :tooltip, title: 'Reject Artwork Request'} do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> Reject Artwork Request
          <% end %>
        <% end %>

        <% unless order.nil? && artwork_request.order.nil? %>
          <%= link_to order_artwork_request_path(order || artwork_request.order, artwork_request), class: 'btn btn-danger',
               method: :delete, remote: true do %>
            <i class="glyphicon glyphicon-remove-circle"></i> Delete
          <% end %>
        <% end %>

      </div><!-- end of col-sm-12 -->
    </div><!-- end of row -->

    <div class="row reject-artwork-request" data-id="<%= artwork_request.id %>" style="display: none">
      <div class="col-sm-12">
        <%= form_tag transition_artwork_request_path(artwork_request, :state), class: 'reject-artwork-request-form',
          data: {'id' => artwork_request.id } do %>
          <div class="alert alert-danger">
            <h3 data-id="<%= artwork_request.id %>">Reject Artwork Request</h3>
            <%= text_area_tag :details, '', placeholder: 'Include a reason for rejecting',
              class: 'form-control', required: true %>
            <%= hidden_field_tag :transition, nil, class: 'transition' %>
            <%= submit_tag "Reject", class: 'btn btn-danger reject-button' %>
            <%= link_to 'Cancel', '#', class: 'btn btn-warning reject-cancel' %>
          </div>
        <% end %>
      </div>
    </div>

  </div><!-- END OF THE ARTWORK REQUEST -->
  <hr />
</div><!-- END OF THE NOTES -->

