<div id="artwork-request-<%=artwork_request.id%>" class="row">
  <div class="the-notes" id="artwork-request-<%=artwork_request.id%>">
    <h4 class="artwork-request-title">Artwork Request for <%= artwork_request.jobs.collect { |x| [x.name] }.join(', ') %></h4>
    <dl>
      <dt>Imprint Method</dt>
      <dd><%= ImprintMethod.find(artwork_request.imprint_method_id).name %></dd>
      <dt>Print Location</dt>
      <dd><%= PrintLocation.find(artwork_request.print_location_id).name %></dd>
      <dt>Ink Colors</dt>
      <dd><%#= artwork_request.ink_colors.where(artwork_request_id: artwork_request.id).collect{|x| [x.name]}.join(', ') %>
        <%= artwork_request.ink_colors.collect { |x| [x.name] }.join(', ') %></dd>
      <dt>Description</dt>
      <dd><%= artwork_request.description.html_safe %></dd>
      <dt>Artwork Status</dt>
      <dd><%= artwork_request.artwork_status %></dd>
      <dt>Deadline</dt>
      <dd><%= artwork_request.deadline.strftime('%b %d, %Y, %I:%M %p') %></dd>
      <dt>Created By</dt>
      <dd><%= @current_user.full_name %></dd>
      <dt>Assigned to</dt>
      <dd><%= User.find(artwork_request.artist_id).full_name %></dd>
    </dl>
    <%= link_to edit_artwork_request_path(artwork_request), remote: true do %><i class="fa fa-2x fa-edit"></i> Edit <% end %>
    <%= link_to artwork_request, method: :delete, remote: true do %><i class="fa fa-2x danger fa-times-circle"></i> Delete <% end %>
  </div>
</div>
