<div id="artwork_request-<%= artwork_request.id %>" class="box-info">
  <h3><strong>Artwork</strong> Request</h3>
  <div class="the-notes artwork-request removeable">
    <%= form_for artwork_request, builder: LancengFormBuilder do |f| %>
        <h4>Artwork Request for <%= artwork_request.jobs.all.collect { |x| [x.name] }.join(', ') %></h4>
        <dl>
          <dt><%= f.label :imprint_methods %></dt>
          <dd><%= f.label artwork_request.imprint_method %></dd>
          <dt><%= f.label :print_location %></dt>
          <dd><%= f.label artwork_request.print_location %></dd>
          <dt><%= f.label :ink_colors %></dt>
          <dd><%= f.label artwork_request.ink_colors.all.collect { |x| [x.name] }.join(', ') %></dd>
          <dt><%= f.label :imprintables %></dt>
          <dd><%= f.label artwork_request.job.imprintable_quantity %></dd>
          <dt><%= f.label :description %></dt>
          <dd><%= f.label artwork_request.description %></dd>
          <dt><%= f.label :artwork_status %></dt>
          <dd><%= f.label artwork_request.artwork_status %></dd>
          <dt><%= f.label :deadline %></dt>
          <dd><%= f.label artwork_request.deadline %></dd>
          <dt><%= f.label 'Created by' %></dt>
          <dd><%= f.label artwork_request.salesperson_id.name %></dd>
          <dt><%= f.label 'Assigned to' %></dt>
          <dd><%= f.label artwork_request.artist_id.name %></dd>
        </dl>
        <span class="input-group-btn">
            <button class="btn btn-danger btn-lg btn-block remove_fields"><i class="fa fa-times-circle"></i>Delete Artwork Request</button>
        </span>
        <%= f.hidden_field :_destroy %>
    <% end %>
  </div>
</div>


