<%= cache(["_artwork_request", artwork_request]) do  %>
<div id="artwork-request-<%= artwork_request.id %>" class="row">
  <div class="the-notes info artwork-request-notes">
    <% unless artwork_request.artwork_ids.empty? %>
      <%= render partial: 'artwork_requests/artworks',
                 locals: { artwork_request: artwork_request } %>
    <% end %>

     <div class="col-xs-12">
      <div class="row">
        <h4 class="artwork-request-title">Artwork Request
          for <%= artwork_request.jobs.map(&:name).join(', ') %>
        </h4>

        <% if artwork_request.reorder? %>
          <p class="alert alert-warning">
            This artwork request is for an exact reorder.
            <ul>
              <li>Description</li>
              <li><%= artwork_request.description %></li>
            </ul>
          </p>
        <% end %>

        <div class="col-sm-6">
          <dl>
            <dt>State:</dt>
            <dd><%= artwork_request.state %></dd>
            <dt><%= "Imprint Method".pluralize(artwork_request.imprint_method_names.count) %>:</dt>
            <dd><%= artwork_request.imprint_method_names.join(", ") %></dd>
            <dt>Max Print Area:</dt>
            <dd><%= artwork_request.max_print_area(artwork_request.print_location) %></dd>
            <dt>Ink Colors:</dt>
            <dd><%= artwork_request.ink_colors.map(&:display_name).join(', ') %></dd>
            <dt>No. of Pieces:</dt>
            <dd><%= artwork_request.imprintable_variant_count %></dd>
          </dl>
        </div>

        <div class="col-sm-6 ">
          <dl>
            <dt>Priority:</dt>
            <dd><%= ArtworkRequest::PRIORITIES[artwork_request.priority.to_i] %></dd>
            <dt>Deadline:</dt>
            <dd><%= display_time(artwork_request.deadline) %></dd>
            <dt>Order Salesperson:</dt>
            <dd><%= artwork_request.order.salesperson.full_name rescue 'unassigned' %></dd>
            <dt>Request Created By:</dt>
            <dd><%= artwork_request.salesperson.full_name rescue 'unassigned' %></dd>
            <dt>Artist:</dt>
            <dd><%= artwork_request.artist.full_name rescue 'unassigned' %></dd>
          </dl>
        </div>
      
      <h4 class='artwork-request-title'> Imprints for this Artwork Request</h4>
      </div>
        
        <table class="table table-condensed table-bordered">
        <tr>
          <th>Job ID
          </th>
          <th>Quantity
          </th>
          <th>Imprint Location
          </th>
          <th>Max Ideal Size
          </th>
          <th>Template
          </th>
          <th>Style
          </th>
          <th>Colors
          </th> 
        </tr>
        <% artwork_request.jobs.each do |job| %>
          <% background_color = cycle('background-color: #fff', 'background-color: #f9f9f9') %>
          <tr style="<%= background_color %>">
            <% rowspan = job.imprintables_for_order.count %>
            <td rowspan="<%= rowspan %>"><%= job.id %>
            </td>
            <td rowspan="<%= rowspan %>"><%= job.imprintable_variant_count %>
            </td>
            <td rowspan="<%= rowspan %>"><%= artwork_request.print_location_names_for_job(job).join(", ") %>
            </td>
            <td rowspan="<%= rowspan %>">
              <% max = artwork_request.max_ideal_print_location_size_for_job(job) %>
              <%= max[:width] %>" wide X <%= max[:height] %>" tall 
            </td>
            <% imprintable_proofing_templates = artwork_request.imprintable_proofing_templates %>
            <% imprintable_proofing_templates.each_with_index do |ipt, i| %>
              <% imprintables = artwork_request.imprintables_for_job_with_proofing_template(job, ipt) %> 
              
              <% if imprintable_proofing_templates.size > 1 && i > 0 %>
                <tr style="<%= background_color %>">
              <% end %>
              
              <td rowspan="<%= imprintables.size %>">
                <%= ipt.blank? ? "No Template Defined" : ipt %>
              <% imprintables.each_with_index do |imprintable, j| %>
                <td><%= "#{imprintable.brand_name} #{imprintable.style_catalog_no}" %>
                </td>
                <td><%= raw artwork_request.colors_for_imprintable_for_job(imprintable, job).join("<br />") %>
                </td>
              </tr>

              <% end %>
            <% end %>
        <% end %>
      </table>
      <div class="row">
        <dl>
          <dt>Description:</dt><br>
          <dd><%= artwork_request.description.html_safe %></dd>
          <dt>Exact Recreation:</dt><br>
          <dd><%= human_boolean artwork_request.exact_recreation? %>
          </dd>
          <br />
          <dt>Attachments:</dt>
          <% if artwork_request.assets.empty? %>
            <dd>None</dd>
          <% end %>
        </dl>
        <% artwork_request.assets.each do |asset| %>
          <div class="col-sm-5 indent">
            <dl>
              <dt>File Name:</dt>
              <dd><%= asset.file_file_name %></dd>
              <dt>File Size:</dt>
              <dd><%= number_to_human_size(asset.file_file_size) %></dd>
              <dt>Description:</dt>
              <dd><%= asset.description %></dd>
              <dd><%= link_to 'Download File', asset.file.url %></dd>
            </dl>
          </div>
        <% end %>
      </div>

      <div class="row">
        <% if params[:disable_buttons].nil? %>
          <div class="col-sm-12  clear text-left">
            <%= link_to artworks_path(artwork_request_id: artwork_request.id), remote: true do %>
              <i class="fa fa-2x success fa-plus-circle"></i> Add Artwork &nbsp
            <% end %>

            <%= link_to edit_order_artwork_request_path(order, artwork_request) do %>
              <i class="fa fa-2x fa-edit"></i> Edit &nbsp
            <% end %>

            <%= link_to order_artwork_request_path(order, artwork_request), method: :delete, remote: true do %>
              <i class="fa fa-2x danger fa-times-circle"></i> Delete &nbsp
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <br clear="all"/>
  </div>

  <hr>
</div>
<% end %>
