<div class="col-sm-4 artwork-request-artworks-info">
  <h4 class="artwork-title">Artwork</h4>
  <dl>
    <% artwork_request.artworks.each do |artwork| %>
      <dt>Name:</dt>
      <dd><%= link_to artwork.name, edit_artwork_path(artwork, back_to: (edit_order_path(@order, anchor: 'artwork') if @order)) %></dd>
      <% if artwork.preview %>
        <dd><%= preview_artwork artwork %></dd>
      <% else %>
        <dt>ERROR:</dt>
        <dd>Artwork has no preview!</dd>
      <% end %>
      <dt>Description:</dt>
      <dd><%= artwork.description %></dd>
      <dt>Created By:</dt>
      <dd><%= artwork.artist.full_name %></dd>

      <%= link_to artwork_request_path(artwork_id: artwork.id, id: artwork_request.id, remove_artwork: true),
                  class: 'btn btn-danger', method: :put, remote: true  do %>
        Remove
      <% end %>
      <br>
    <% end %>
  </dl>
</div>
