<div class="js-removeable" style="border-bottom: solid 1px #CECECE; margin-bottom: 10px;">  
  <% if (f.object.file_file_name.nil?) %>
    <div class="pull-right">
      <%= f.hidden_field :_destroy %>
      <%= link_to('X', '#', class: 'btn btn-danger js-remove-fields') %>
    </div>
    <%= f.file_field :file, label_col: 'col-sm-2', control_col: 'col-sm-8'  %>
  <% else %>
    <div class="col-sm-2 text-right">
      <%= f.label :file %>
    </div>
    <div class="col-sm-9">
      <%= f.object.file_file_name %>
    </div>
    <div class="pull-right">
      <%= f.hidden_field :_destroy %>
      <%= link_to('X', '#', class: 'btn btn-danger js-remove-fields') %>
    </div>
    <br clear="all" />
  <% end %>
  
  <%= f.text_area :description %>
  <br clear="all">
</div>
