<div id="horizontal-form artwork-request-form" class="collapse in">
  <div class="form-group">
    <div class="row">
      <%= f.label :imprint_ids, 'Imprints', class: 'col-sm-2 control-label' %>

      <div class="col-sm-10">
        <%= f.select :imprint_ids, options_from_collection_for_select(order.imprints, :id, :job_and_name, f.object.imprint_ids.map(&:to_s)), {}, multiple: true, class: 'select2', style: 'width: 100%;' %>

        <% if artwork_request.errors.include?(:imprint) %>
          <% artwork_request.errors.full_messages_for(:imprint).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <%= f.label :priority, class: 'col-sm-2 control-label' %>

      <div class="col-sm-10">
        <% selected =
                   if artwork_request && !artwork_request.priority.nil?
                     { selected: artwork_request.priority }
                   else
                     { selected: ArtworkRequest::PRIORITIES.invert['Normal'] }
                   end
        %>

        <%= f.select :priority, ArtworkRequest::PRIORITIES.map{ |level, label| [label, level] }, selected %>

        <% if artwork_request.errors.include?(:priority) %>
          <% artwork_request.errors.full_messages_for(:priority).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="form-group" id="imprint_method_print_locations_and_ink_colors">
    <% unless artwork_request.imprints.blank? %>
        <%= render partial: 'artwork_imprint_method_fields',
                   locals: { artwork_request: artwork_request,
                             ink_colors: artwork_request.compatible_ink_colors } %>
    <% end %>
  </div>

  <div class="form-group js-pending-select">
    <div class="row">
      <%= f.label :artwork_status, class: 'col-sm-2 control-label' %>

      <div class="col-sm-10">
        <%= f.select :artwork_status, ArtworkRequest::STATUSES %>

        <% if artwork_request.errors.include?(:artwork_status) %>
          <% artwork_request.errors.full_messages_for(:artwork_status).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <%= f.label :deadline, class: 'col-sm-2 control-label' %>

      <div class="col-sm-10">
        <div class="input-group date js-datetimepicker">
          <%= f.text_field :deadline, value: value_time(artwork_request.deadline) %>

          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>

        <% if artwork_request.errors.include?(:deadline) %>
          <% artwork_request.errors.full_messages_for(:deadline).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="form-group hide">
    <div class="row">
      <%= f.label :salesperson_id, 'Salesperson', class: 'col-sm-2 control-label' %>

      <div class="col-sm-10">
        <%= f.select :salesperson_id, [current_user.id] %>

        <% if artwork_request.errors.include?(:salesperson_id) %>
          <% artwork_request.errors.full_messages_for(:salesperson_id).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <% #TODO: Eliminate when roles are in place
       # becomes obsolete when there's a proofing manager
       pm = User.find_by(last_name: 'lawcock') %>
    <div class="row">
      <% if f.object.new_record? %>
        <%= f.hidden_field :artist_id, value: pm.try(:id) %>
      <% else %>

        <%= f.label :artist_id, 'Artist', class: 'col-sm-2 control-label' %>

        <div class="col-sm-10">

          <%= f.select :artist_id, options_from_collection_for_select(User.all, :id, :full_name, artwork_request.artist_id || pm.try(:id)), include_blank: true %>

          <% if artwork_request.errors.include?(:artist_id) %>
            <% artwork_request.errors.full_messages_for(:artist_id).each do |message| %>
              <p class="text-danger"><%= message %></p>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <%= f.label :description, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_area :description, class: 'form-control summernote',
                         data: { 'no-wrap' => true } %>

        <% if artwork_request.errors.include?(:description) %>
          <% artwork_request.errors.full_messages_for(:description).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <p class="help-block"><%= max_file_size_message %></p>

        <%= f.fields_for :assets, multipart: true do |ff| %>
          <%= render partial: 'asset_fields', locals: { f: ff } %>
        <% end %>

        <% if artwork_request.errors.include?(:assets) %>
          <% artwork_request.errors.full_messages_for(:assets).each do |message| %>
            <p class="text-danger"><%= message %></p>
          <% end %>
        <% end %>

        <%= link_to_add_fields "<i class='fa fa-plus artwork-assets'></i> Add Attachment".html_safe, f, :assets %>
    </div>
  </div>

  <hr>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-6">
        <%= f.submit "#{create_or_edit_text(artwork_request)} Artwork Request" %>
      </div>
    </div>
  </div>
