<div class='box-info'>
  <%= render partial: 'shared/modal_errors', locals: {object: artwork_request} %>
  <%= form_for artwork_request, url: order_artwork_requests_path(order, artwork_request), builder: LancengFormBuilder, remote: true do |f| %>
      <div id="horizontal-form" class="collapse in">
        <div class="form-group">
          <div class="row">
            <%= f.label :jobs, class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.select :job_ids, order.jobs.collect { |x| ["#{x.name}", x.id] }, {}, {name: "artwork_request[job_ids][]", id: 'jobs-tokenfield', multiple: true}%>
              <% if artwork_request.errors.include?(:job) %>
                  <% artwork_request.errors.full_messages_for(:job).each do |message| %>
                      <p class="text-danger"><%= message %></p>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <%= f.label :imprint_method_id, class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.select :imprint_method_id, ImprintMethod.all.collect { |x| ["#{x.name} - #{x.production_name}", x.id] }, {include_blank: true}, {id:'artwork_imprint_method_fields', data: {url: imprint_methods_path}} %>
              <% if artwork_request.errors.include?(:imprint_method_id) %>
                  <% artwork_request.errors.full_messages_for(:imprint_method_id).each do |message| %>
                      <p class="text-danger"><%= message %></p>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-group"id="imprint_method_print_locations_and_ink_colors">

        </div>

        <div class="form-group">
          <div class="row">
            <%= f.label :artwork_status, class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.select :artwork_status, [['Pending'], ['In Progress'], ['Art Created']], include_blank: true %>
              <% if artwork_request.errors.include?(:artwork_status) %>
                  <% artwork_request.errors.full_messages_for(:artwork_status).each do |message| %>
                      <p class="text-danger"><%= message %></p>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <%= f.label :deadline, class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <div class="input-group date"id="artwork-request-deadline-widget">
                <%= f.text_field :deadline %>
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
              </div>
              <% if artwork_request.errors.include?(:deadline) %>
                  <% artwork_request.errors.full_messages_for(:deadline).each do |message| %>
                      <p class="text-danger"><%= message %></p>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>


        <div class="form-group" style="display: none">
          <div class="row">
            <%= f.label :salesperson_id, "Saleperson", class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.select :salesperson_id, [@current_user.id]  %>
              <% if artwork_request.errors.include?(:salesperson_id) %>
                  <% artwork_request.errors.full_messages_for(:salesperson_id).each do |message| %>
                      <p class="text-danger"><%= message %></p>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <%= f.label :artist_id, "Artist", class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.select :artist_id, options_for_select(User.all().collect { |u| [u.full_name, u.id] }), include_blank: true %>
              <% if artwork_request.errors.include?(:artist_id) %>
                  <% artwork_request.errors.full_messages_for(:artist_id).each do |message| %>
                      <p class="text-danger"><%= message %></p>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <%= f.label :description, class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :description, class: 'form-control summernote' %>
              <% if artwork_request.errors.include?(:description) %>
                  <% artwork_request.errors.full_messages_for(:description).each do |message| %>
                      <p class="text-danger"><%= message %></p>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <%= f.submit class: 'btn btn-primary', id: 'artwork-request-submit' %>
            </div>
          </div>
        </div>

        <hr>
      </div>
  <% end %>
</div>