<%= render 'shared/modal_errors', object: artwork_request %>

<%= bootstrap_form_for [order, artwork_request], multipart: true, 
      layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10'  do |f| %>

  <div>
    <%= f.select :imprint_ids, options_from_collection_for_select(order.imprints, :id, :job_and_name, f.object.imprint_ids.map(&:to_s)), {label: 'Imprints'}, multiple: true, class: 'select2'  %>

    <%= f.select :priority, ArtworkRequest::PRIORITIES.map{ |level, label| [label, level] }, 
        selected: (artwork_request.priority.nil? ? ArtworkRequest::PRIORITIES.invert['Normal']  : artwork_request.priority) %>

    <div id="imprint_method_print_locations_and_ink_colors">
    <% unless artwork_request.imprints.blank? %>
        <%= render partial: 'artwork_imprint_method_fields',
                   locals: { artwork_request: artwork_request,
                             ink_colors: artwork_request.compatible_ink_colors } %>
        <% end %>
    </div>

    <%= f.text_field :deadline, value: value_time(artwork_request.deadline), class: 'date js-datetimepicker', 
      append: raw("<i class='glyphicon glyphicon-calendar'></i>") %>

    <%= f.select :reorder, [["No", false], ["Yes", true]], label: 'Reorder?',
        help: raw("Is this an <i>exact</i> reorder of a previous order?") %>

    <%= f.select :exact_recreation, [["No", false], ["Yes", true]], help: "Are the descriptions and uploads"\
      " you're providing exactly what the customer wants or do they represent ideas and approximations "\
      " of what the customer wants?" %>

    <%= f.text_field :amount_paid_for_artwork, placeholder: '0.0', 
      prepend: "$", label: 'Amount Paid for Artwork', 
      help: "Did the customer pay for the artwork? This does not include deposits paid to get artwork made before quotes become paid orders." %>

      <%= f.hidden_field :salesperson_id, value: current_user.id %>

    <% unless f.object.new_record? %>
      <%= f.select :artist_id, 
      options_from_collection_for_select(User.all, :id, :full_name, artwork_request.artist_id ),
      include_blank: true %>
    <% end %>

    <%= f.text_area :description %>

    <p class="help-block col-sm-10 col-sm-offset-2"><%= max_file_size_message %></p>

    <%= f.fields_for :assets, multipart: true do |ff| %>
      <%= render partial: 'asset_fields', locals: { f: ff } %>
    <% end %>

    <p>
      <%= link_to_add_fields "<i class='fa fa-plus artwork-assets'></i> Add Attachment".html_safe, f, :assets %>
    </p>

    <p class="text-center">
      <%= f.submit class: 'btn btn-success' %>
    </p>
</div>
<% end %>
