<div class='user-profile-content'>
  <div class='text-right hidden-print clearfix'>

    <% if order.can_artwork_requests_complete? %>
      <%= link_to transition_order_path(order, :artwork_state, :artwork_requests_complete ), method: :post, class: 'btn btn-primary' do %>
        <i class='glyphicon glyphicon-check'></i> Mark Artwork Requests Complete
      <% end %>
    <% end %>   
    
    <% if order.can_artwork_complete? %>
      <%= link_to transition_order_path(order, :artwork_state, :artwork_complete ), method: :post, class: 'btn btn-primary' do %>
        <i class='glyphicon glyphicon-check'></i> Mark Artwork Complete
      <% end %>
    <% end %>   
    
    <% if order.can_put_artwork_into_production? %>
      <%= link_to transition_order_path(order, :artwork_state, :put_artwork_into_production ), method: :post, class: 'btn btn-primary' do %>
        <i class='glyphicon glyphicon-check'></i> Mark Artwork In Production
      <% end %>
    <% end %>   
    
    <%= link_to new_artwork_path(back_to: (edit_order_path(order, anchor: 'artwork') if order)), class: 'btn btn-primary' do %>
      <i class='fa fa-picture-o'></i> Upload New Artwork
    <% end %>

    <% if order.all_artworks_ready? %>
      <%= form_tag approve_all_artwork_request_path (order) do %>
        <%= submit_tag "Approve All Artwork", class: "btn btn-success" do %> 
          <i class='fa fa-picture-o'></i> Approve All Artwork
        <% end %>
      <% end %>
    <% end %>  
  </div>
  
  <% if order.missing_artwork_requests? %>
    <div class="alert alert-danger clearfix ">
      This order is missing artwork requests. Artwork can not proceed until all imprints have an artwork request associated with them.  
    </div>
  <% elsif order.artwork_state == 'pending_artwork_and_proofs' && order.artwork_requests.map(&:state).include?('unassigned') %>
    <div class="alert alert-danger clearfix ">
      This order has unassigned artwork requests. Artwork can not proceed until all artwork requests.  
    </div>
  <% end %>
    
  <div class="row">
    <div class="col-sm-12">
      <h3><strong>Artwork</strong> Requests</h3>

      <div class="artwork-request-list">
        <% order.artwork_requests.uniq.each do |artwork_request| %>
          <%= render partial: 'artwork_requests/artwork_request',
                     locals: { artwork_request: artwork_request, order: order } %>
        <% end %>
      </div>

      <%= link_to new_order_artwork_request_path(order), class: 'btn btn-info btn-lg btn-block' do %>
        <i class="fa fa-list-alt"> </i>Add Artwork Request
      <% end %>
    </div>
  </div>
</div>
