<% cache(["_row", artwork_request]) do %>
  <tr id="artwork-request-row-<%= artwork_request.id %>">
  <td><%= ArtworkRequest::PRIORITIES[artwork_request.priority.to_i] %></td>
  <td>
    <% if artwork_request.order.nil? %>
      (No order)
    <% else %>
      <%= link_to artwork_request.order.name, "#{edit_order_path(artwork_request.order.id)}#artwork"%>
      <br />
      <%= render 'orders/state', which: 'payment_state', state: artwork_request.order.payment_status %>
    <% end %>
  </td>
  <td>
    <dl>
      <dt>Artist</dt>
      <dd><%= artwork_request.artist.try(:full_name) || 'Nobody' %></dd>
      <dt>Salesperson</dt>
      <dd><%= artwork_request.salesperson.try(:full_name) || 'Nobody' %></dd>
      <dt>Imprints</dt>
      <dd><%= artwork_request.imprint_methods.pluck(:name).join(', ') %></dd>
      <dt>Ink Colors</dt>
      <dd><%= artwork_request.ink_colors.count %></dd>
    </dl>
    </td>
    <td><%= display_date(artwork_request.deadline) %></td>
    <td>
      <% if artwork_request.jobs.empty? || artwork_request.jobs.first.order.nil? %>
        (No order)
      <% else %>
        <%= display_date(artwork_request.jobs.first.order.in_hand_by) %>
      <% end %>
    </td>
    <td><%= artwork_request.total_quantity %></td>
  <td>
    <div class="btn-group btn-group-xs">
      <% unless artwork_request.jobs.empty? %>
        <%= link_to edit_order_artwork_request_path(artwork_request.jobs.first.order, artwork_request),
                    class: 'btn btn-default', remote: true,
                    'data-toggle' => 'tooltip', 'title' => 'Edit' do %>
          <i class="fa fa-edit"></i>
        <% end %>

        <%= link_to "#{order_artwork_request_path(artwork_request.jobs.first.order, artwork_request)}?disable_buttons=true",
                    class: 'btn btn-default', remote: true,
                    'data-toggle' => 'tooltip', 'title' => 'Show' do %>
          <i class="fa fa-eye"></i>
        <% end %>
      <% end %>

      <% if artwork_request.state == 'pending_manager_approval' %>
        <%= link_to order_artwork_request_path(artwork_request.order, artwork_request, artwork_request: { state: 'manager_approved'} ),
          class: 'btn btn-default', method: :put, data: {action: :update, toggle: :tooltip,
            title: 'Approve',  confirm: "Confirm Manager Approval" } do %>
        <i class="glyphicon glyphicon-thumbs-up"></i> 
        <% end %>
      <% end %>
  

      <% if artwork_request.state == 'pending_manager_approval' || artwork_request.state == 'manager_approved' %>
        <%= link_to order_artwork_request_path(artwork_request.order, artwork_request, artwork_request: { state: 'pending_artwork' }), method: :put,
          class: 'btn btn-default', method: :put, data: {action: :update, toggle: :tooltip,
            title: 'Rejext',  confirm: "Confirm Rejection" } do %>
          <i class="glyphicon glyphicon-thumbs-down"></i>
        <% end %>
      <% end %>

      <%= link_to artwork_request_path(artwork_request),
        class: 'btn btn-default', method: :delete, remote: true,
          data: {confirm: 'Are you sure you want to destroy this artwork request?', action: :destroy, 
            toggle: :tooltip, title: 'Destroy'} do %>
        <i class="fa fa-times"></i>
      <% end %>
    </div>
  </td>
  </tr>
<% end %>
