<% cache(["_row", artwork_request]) do %>
  <tr id="artwork-request-row-<%= artwork_request.id %>">
    <td><%= ArtworkRequest::PRIORITIES[artwork_request.priority.to_i] %>
    </td>
    <td>
      <% if artwork_request.order.nil? %>
        (No order)
      <% else %>
        <%= link_to artwork_request.order.name, "#{edit_order_path(artwork_request.order.id)}#artwork"%><br />
        <%= artwork_request.order.full_name %><br /><br />
        <dl>
          <dt>Artwork Request #<%= artwork_request.id %></dt>
          <dt>Order Salesperson:</dt>
          <dd><%= artwork_request.order.salesperson.full_name rescue 'unassigned' %></dd>
          <dt>Request Created By:</dt>
          <dd><%= artwork_request.salesperson.full_name rescue 'unassigned' %></dd>
          <dt>Artist:</dt>
          <dd><%= artwork_request.artist.full_name rescue 'unassigned' %></dd>
        </dl>
        <dl>
          <dt>Payment State
          </dt>
          <dd><%= render 'orders/state', which: 'payment_state', state: artwork_request.order.payment_status %>
          </dd>
          <dt>Artwork State</dt>
          <dd><%= render 'orders/state', which: 'artwork_state', state: artwork_request.order.artwork_state %>
          </dt>
          <dt>Invoice State
          </dt>
          <dd><%= render 'orders/state', which: 'invoice_state', state: artwork_request.order.invoice_state %>
          </dd>
          <dt>Production State
          </dt>
          <dd><%= render 'orders/state', which: 'production_state', state: artwork_request.order.production_state %>
          </dd>
          </dt>
        </dl>
      <% end %>
    </td>
    <td>
      <%= render 'artwork_requests/show/basic_details', artwork_request: artwork_request %>
    </td>
    <td><%= display_date(artwork_request.deadline) %>
    </td>
    <td>
      <% if artwork_request.jobs.empty? || artwork_request.jobs.first.order.nil? %>
        (No order)
      <% else %>
        <%= display_date(artwork_request.jobs.first.order.in_hand_by) %>
      <% end %>
    </td>
    <td>
      <% if artwork_request.order.nil? || artwork_request.jobs.empty? %>
        <p class="alert alert-danger text-center">This artwork request has no order or jobs, and should be deleted
          <br />
          <%= link_to artwork_request_path(artwork_request), class: 'btn btn-danger',
                      method: :delete, remote: true do %>
              <i class="glyphicon glyphicon-remove-circle"></i> Destroy
          <% end %>
        </p>

      <% else %>
          <div class="btn-group btn-group-sm">
          <%= link_to "#{order_artwork_request_path(artwork_request.jobs.first.order, artwork_request)}?disable_buttons=true",
                      class: 'btn btn-primary', remote: true,
                      'data-toggle' => 'tooltip', 'title' => 'Show' do %>
              <i class="fa fa-eye"></i> Show
          <% end %>

          <%= link_to edit_order_artwork_request_path(artwork_request.order, artwork_request),
                      class: 'btn btn-warning', remote: true do %>
              <i class="glyphicon glyphicon-pencil"></i> Edit
          <% end %>

          <%= link_to order_artwork_request_path(artwork_request.order, artwork_request), class: 'btn btn-danger',
                      method: :delete, remote: true do %>
              <i class="glyphicon glyphicon-remove-circle"></i> Destroy
          <% end %>
          </div>
          <br />
          <br />
          <div class="btn-group btn-group-sm">

          <% if artwork_request.can_reject_artwork_request? %>
              <%= link_to '#', class: 'btn btn-warning reject-artwork-request',
                          data: { transition: :reject_artwork_request, 'id' => artwork_request.id,
                                  toggle: :tooltip, title: 'Reject Artwork Request'} do %>
                  <i class="glyphicon glyphicon-thumbs-down"></i> Reject Artwork Request
              <% end %>
          <% end %>

          <% if artwork_request.can_approved? %>
              <%= link_to transition_artwork_request_path(artwork_request, :state, :approved),
                          method: :post, class: 'btn btn-success', data: {action: :update, toggle: :tooltip,
                                                                          title: 'Approve',  confirm: "Confirm Manager Approval" } do %>
                  <i class="glyphicon glyphicon-thumbs-up"></i> Approve Artwork
              <% end %>
          <% end %>

          <% if artwork_request.can_revise_artwork_request? %>
              <%= link_to transition_artwork_request_path(artwork_request, :state, :revise_artwork_request),
                          method: :post, class: 'btn btn-success', data: {action: :update, toggle: :tooltip,
                                                                          title: 'Mark Artwork Request Revised'} do %>
                  <i class="glyphicon glyphicon-thumbs-up"></i> Mark Artwork Request Revised
              <% end %>
          <% end %>

          <% if artwork_request.can_reject_artwork? %>
              <%= link_to '#', class: 'btn btn-warning reject-artwork-request',
                          data: { transition: :reject_artwork, 'id' => artwork_request.id,
                                  toggle: :tooltip, title: 'Reject Artwork'} do %>
                  <i class="glyphicon glyphicon-thumbs-down"></i> Reject Artwork
              <% end %>
          <% end %>
      <% end %>
      </div>

      <div class="row reject-artwork-request" data-id="<%= artwork_request.id %>" style="display: none">
        <div class="col-sm-12">
          <%= form_tag transition_artwork_request_path(artwork_request, :state), class: 'reject-artwork-request-form',
                       data: {'id' => artwork_request.id } do %>
              <div class="alert alert-danger">
                <h3 data-id="<%= artwork_request.id %>">Reject Artwork Request</h3>
                <%= text_area_tag :details, '', placeholder: 'Include a reason for rejecting',
                                  class: 'form-control', required: true %>
                <%= hidden_field_tag :transition, nil, class: 'transition' %>
                <%= submit_tag "Reject", class: 'btn btn-danger reject-button' %>
                <%= link_to 'Cancel', '#', class: 'btn btn-warning reject-cancel' %>
              </div>
          <% end %>
        </div>
      </div>
  </td>
  </tr>
<% end %>
