<div class="page-heading animated fadeInDownBig col-lg-9">
  <h1>Artwork Requests <small>View the artwork requests assigned to you</small></h1>
</div>

<div class="row">
  <%= render partial: 'artwork_requests/search' %>
</div>

<%= clearfix %>
<%= paginate @artwork_requests %>
<%= search_results_count %>

<div class="box-info full clear">
  <%= render partial: 'artwork_requests/table', locals: { artwork_requests: @artwork_requests } %>
</div>

<%= paginate @artwork_requests %>
