<div class="row-fluid">
    <div class="page-heading animated fadeInDownBig pull-left">
      <h1>Proofing Manager <strong>Dashboard</strong></h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="box-info full">
            <ul class="nav nav-tabs nav-justified">
              <li class="active">
                <%= nav_tab(:unassigned) do %>
                  <i class="fa fa-tasks"></i> Unassigned
                <% end %>
              </li>
              <li>
                <%= nav_tab(:pending_artwork, remote: true) do %>
                  <i class="fa fa-tasks"></i> Pending Artwork
                <% end %>
              </li>
              <li>
                <%= nav_tab(:pending_manager_approval, remote: true) do %>
                  <i class="fa fa-tasks"></i> Pending Manager Approval
                <% end %>
              </li>
              <li>
                <%= nav_tab(:ready_to_proof, remote: true) do %>
                  <i class="fa fa-tasks"></i> Pending Proofs or Submission
                <% end %>
              </li>
              <li>
                <%= nav_tab(:proofs_awaiting_approval, remote: true) do %>
                  <i class="fa fa-tasks"></i> Proofs Awaiting Approval
                <% end %>
              </li>
              <li>
                <%= nav_tab(:pending_production, remote: true) do %>
                  <i class="fa fa-tasks"></i> Pending Production
                <% end %>
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane animated fadeInRight active" id="unassigned"> 
                <% if @unassigned.empty? %>
                  <p class="alert alert-success col-xs-12">
                    No artwork requests are currently unassigned
                  </p>
                <% else %> 
                  <h2 class="alert alert-warning">
                    There are currently <span class='unassigned-artwork-count'><%= @unassigned.count %> 
                    </span>artwork requests unassigned
                  </h2>
                   <%= render partial: 'table', locals: { artwork_requests: @unassigned } %>
                 <% end %>
              </div>

              <div class="tab-pane animated fadeInRight" id="pending_artwork">
                <%# artwork_requests/pending_artwork %>
              </div>

              <div class="tab-pane animated  fadeInRight" id="pending_manager_approval">
                <%# artwork_requests/pending_manager_approval %>
              </div>
              
              <div class="tab-pane animated  fadeInRight" id="ready_to_proof">
                <%# artwork_requests/ready_to_proof %>
              </div>
              
              <div class="tab-pane animated  fadeInRight" id="proofs_awaiting_approval">
                <%# artwork_requests/proofs_awaiting_approval %>
              </div>

              <div class="tab-pane animated  fadeInRight" id="pending_production">
                <%# artwork_requests/pending_production %>
              </div>

            </div>
        </div>
    </div>
</div>
<br clear="all" />
