<div class="row">
    <div class="col-sm-6">
      <%= image_tag artwork.preview.file.url(:medium) %>
    </div>
    <div class="col-sm-6">
      <strong>Description:</strong><br>
      <%= artwork.description %><br><br>

      <strong>Tags:</strong><br>
      <%= artwork.tag_list.join(', ') %><br><br>

      <strong>Artist:</strong><br>
      <%= artwork.artist.full_name %><br><br>

      <strong>Artwork:</strong><br>
      <%= link_to artwork.artwork.file_file_name, artwork.artwork.file.url %> (<%= number_to_human_size(artwork.artwork.file_file_size) %>)<br>
    </div>
</div>
<div class="row"><div class="col-sm-6" align="center"><%= link_to "Click to enlarge", artwork.preview.file.url, target: '_blank' %></div></div>