<div class="row">
  <div class="col-sm-6">
    <%= image_tag artwork.preview.file.url(:medium) %>
  </div>

  <div class="col-sm-6">
    <p>
      <strong>Description:</strong><br>
      <%= artwork.description %>
    </p>

    <p>
      <strong>Tags:</strong><br>
      <%= artwork.tag_list.join(', ') %>
    </p>

    <p>
      <strong>Artist:</strong><br>
      <%= artwork.artist.full_name %>
    </p>

    <p>
      <strong>Artwork:</strong><br>
      <%= link_to artwork.artwork.file_file_name, artwork.artwork.file.url %>
      (<%= number_to_human_size(artwork.artwork.file_file_size) %>)
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6" align="center">
    <%= link_to 'Click to enlarge', artwork.preview.file.url, target: '_blank' %>
  </div>
</div>