<div id="job-<%= job.id %>" class="box-info job-container" data-id="<%=job.id%>">
  <div class="box-info <%= 'animated fadeInLeft' if local_assigns[:animated] %>" style="background-color: #eeeeee">
    <h3 class="job-title"><%= editable job, :name, type: :text, data: { mode: 'inline' } %></h3>

    <div class='additional-btn'>
      <a class="additional-icon collapse-job-btn" href="#jobs" data-toggle="collapse" data-target="#job-<%= job.id %>-collapse">
        <i class="fa fa-chevron-down"></i></a>
    </div>

    <div id='job-<%= job.id %>-collapse' data-job-id='<%= job.id %>' class='job-collapse collapse <%= job.collapsed? ? "in" : "out" %>'>
      <p class="job-description">
        Description: <%= editable job, :description, type: :text, data: { mode: 'inline' } %>
      </p>

      <div class='row'>
        <div class='col-sm-4'>
          <h4>Imprints</h4>
        </div>
        <div class='col-sm-3 col-xs-offset-5 name-number-download' style="<%= 'display: none;' if job.imprints.name_number.empty? %>">
          <%= link_to 'Download Names/Numbers CSV', name_number_csv_from_job_path(job), class: 'btn btn-info btn-block dl-name-number-csv' %>
        </div>
      </div>
      <%= form_for :imprint, builder: BatchFormBuilder, method: :put, remote: true,
                   url: job_imprints_update_path(job) do |_f| %>
        <%= render partial: 'imprints/imprints', locals: { job: job } %>

        <div class="form-group box-info">
          <div class="col-sm-4">
            <%= link_to new_job_imprint_path(job),
                        class: 'btn btn-info btn-lg btn-block add-imprint',
                        method: :get, remote: true do %>
              <i class="fa fa-pagelines"></i> Add Imprint
            <% end %>

          </div>
          <div class="col-sm-4 col-xs-offset-4">
            <%= button_tag class: 'btn btn-info btn-lg btn-block update-imprints' do %>
              <i class="fa fa-pagelines"></i> Update Imprints
            <% end %>

          </div>
        </div>
      <% end %>

      <div class="form-group box-info full job-name-number-info">
        <% if job.imprints.name_number.any? %>
          <%= render 'jobs/name_number_form', job: job %>
          <%= render 'jobs/name_number_table', job: job %>
        <% end %>
      </div>


      <div class="form-group box-info">
        <div class="col-sm-4 col-xs-offset-2">
          <%= link_to job_path(job),
                      class: 'btn btn-danger btn-lg btn-block delete-job-button',
                      id: "delete-job-#{job.id}", method: 'DELETE', remote: true do %>
            <i class="fa fa-times-circle"></i> Delete Job
          <% end %>
        </div>
        <div class='col-sm-4'>
          <%= link_to duplicate_job_path(job),
                      class: 'btn btn-warning btn-lg btn-block dup-job-button',
                      id: "dup-job-#{job.id}", method: 'PUT', remote: true do %>
            <i class="fa fa-recycle"></i> Duplicate Job
          <% end %>
        </div>
      </div>
      <% unless job.line_items.empty? %>
        <h4>Line Items</h4>
      <% end %>

      <%= form_for :line_item, method: :put, url: line_items_update_path, remote: true, builder: BatchFormBuilder do |f| %>
        <% job.sort_line_items(@order).tap do |sorted_line_items| %>
          <% unless sorted_line_items.empty? %>
            <% sorted_line_items.each do |_imprintable_name, by_color| %>
              <% by_color.each do |color_name, line_items| %>
                <%= render partial: 'line_items/imprintable_edit',
                           locals: { color_name: color_name,
                                     style_name: line_items.first.style_name,
                                     style_catalog_no: line_items.first.style_catalog_no,
                                     description: line_items.first.description,
                                     line_items: line_items,
                                     class_name: 'Job',
                                     show_prices: !job.jobbable.try(:fba?) } %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% unless job.standard_line_items.empty? %>
          <%= render partial: 'line_items/standard_view', locals: {
            line_items: job.standard_line_items
          } %>
        <% end %>

        <div class="form-group box-info">
          <div class="col-sm-4">
            <%= link_to new_job_line_item_path(job),
                        class: 'btn btn-info btn-lg btn-block add-line-item',
                        id: "add-line-item-for-#{job.id}", remote: true do %>
              <i class="fa fa-list-alt"></i> Add Line Item
            <% end %>
          </div>

          <div class="col-sm-4 col-xs-offset-4">
            <%= button_tag class: 'btn btn-info btn-lg btn-block update-line-items' do %>
              <i class="fa fa-list-alt"></i> Update Line Items
            <% end %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
