<div id="sidebar-menu">
  <ul>
    <%= content_tag :li, class: 'active' do %>
      <a href="#fakelink"><i class="fa fa-shopping-cart"></i><i class="fa fa-angle-double-down i-right"></i> Order Actions</a>

      <%= content_tag :ul, class: 'visible' do %>

        <%= content_tag :li do %>
          <%= link_to '#', class: 'print-page' do %><i class="fa fa-angle-right"></i> Print Invoice<% end %>
        <% end %>


        <%= content_tag :li do %>
            <%= link_to '#' do %><i class="fa fa-angle-right"></i> Print Receipts<% end %>
        <% end %>

        <% if can_charge_card? %>
          <%= content_tag :li do %>
            <%= link_to new_customer_order_payment_path(@order.customer_key), remote: true, id: 'makepayment' do %><i class="fa fa-angle-right"></i> Make Payment<% end %>
          <% end %>
        <% end %>

      <% end %>
    <% end %>

  </ul>
  <div class="clear"></div>
</div>
