<div class='form-group'>
  <%= f.label :email %>
  <%= f.email_field :email, autofocus: true %>
</div>
<div class='form-group'>
  <%= f.label :firstname, 'First name' %>
  <%= f.text_field :firstname %>
</div>
<div class='form-group'>
  <%= f.label :lastname, 'Last name' %>
  <%= f.text_field :lastname %>
</div>