<div class='form-group'>
  <%= f.label :email %>
  <%= f.error_for :email %>
  <%= f.email_field :email, autofocus: true %>
</div>

<div class='form-group'>
  <%= f.label :first_name, 'First name' %>
  <%= f.error_for :first_name %>
  <%= f.text_field :first_name %>
</div>

<div class='form-group'>
  <%= f.label :last_name, 'Last name' %>
  <%= f.error_for :last_name %>
  <%= f.text_field :last_name %>
</div>

<div class='form-group'>
  <%= f.fields_for :profile_picture, f.object.profile_picture || Asset.new do |ff| %>
    <%= ff.label :file, 'Profile Picture' %>
    <%= ff.file_field :file %>

    <%= ff.hidden_field :description, value: 'profile picture' %>
  <% end %>
</div>

<div class='form-group'>
  <%= f.fields_for :signature, f.object.signature || Asset.new do |ff| %>
    <%= ff.label :file, 'Signature' %>
    <%= ff.file_field :file %>

    <%= ff.hidden_field :description, value: 'signature' %>
  <% end %>
  <%= image_tag f.object.signature.file.url(:signature) if f.object.signature %>
</div>

<div class='form-group'>
  <%= f.label :store_id, 'Store' %>
  <%= f.error_for :store_id %>
  <%= f.select :store_id, Store.order(:name).map{ |s| [s.name, s.id] },
               { prompt: 'Please select a store' } %>
</div>

<div class='form-group'>
  <%= f.label :freshdesk_email, 'Freshdesk Email' %>
  <%= f.error_for :freshdesk_email %>
  <%= f.text_field :freshdesk_email, autocomplete: 'off' %>
</div>

<div class='form-group'>
  <%= f.label :freshdesk_password, 'Freshdesk Password' %>
  <%= f.error_for :freshdesk_password %>
  <%= f.password_field :freshdesk_password, autocomplete: 'off' %>
</div>

<div class='form-group'>
  <%= f.label :insightly_api_key, 'Insightly Api Key' %>
  <%= f.error_for :insightly_api_key %>
  <%= f.text_field :insightly_api_key, autocomplete: 'off' %>
</div>
