<div class='form-group'>
  <%= f.label :password %>
  <%= f.error_for :password %>
  <%= f.password_field :password, autocomplete: 'off' %>
</div>

<div class='form-group'>
  <%= f.label :password_confirmation %>
  <%= f.error_for :password_confirmation %>
  <%= f.password_field :password_confirmation, autocomplete: 'off' %>
</div>

<% unless local_assigns[:no_current] %>
  <div class='form-group'>
    <%= f.label :current_password %>
    <% unless f.has_errors_on? :current_password %>
      <i>(current password is required to change passwords)</i>
      <br>
    <% end %>
    <%= f.error_for :current_password %>
    <%= f.password_field :current_password, autocomplete: 'off' %>
  </div>
<% end %>