<div class='box-info'>
<%= link_to 'Back', :back %>
	<h3>Update User</h3>
  <%= form_for @user, url: user_path(@user), html: { method: :put }, builder: LancengFormBuilder do |f| %>
  <%= render_error_modal_for @user %>

    <%= render partial: 'users/fields', locals: { f: f } %>

    <div class='form-group'>
    <%= f.submit "Submit" %>
    </div>

  <% end %>

  <% if @current_user && @current_user == @user %>
    <%= link_to 'Change password', change_password_path %>
  <% end %>

</div>