<li>
  <div class="the-date" data-date="<%= activity.created_at.to_s(:db) %>">
    <span><%= activity.created_at.strftime('%d') %></span>
    <small><%= activity.created_at.strftime('%b') %></small>
  </div>
  <h4><%= activity.owner ? link_to(activity.owner.full_name, activity.owner) : 'Someone' %></h4>

  <p>
    <%= render_activity activity %>
  </p>

  <p class="time">
    <%= display_time(activity.created_at) %>
  </p>
</li>
