<!-- BEGIN CONTENT HEADER -->
<div class="header content rows-content-header">

  <!-- Button mobile view to collapse sidebar menu -->
  <button class="button-menu-mobile show-sidebar">
    <i class="fa fa-bars"></i>
  </button>

  <!-- BEGIN NAVBAR CONTENT-->
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Navbar header -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <i class="fa fa-angle-double-down"></i>
        </button>
      </div><!-- End div .navbar-header -->

      <!-- Navbar collapse -->
      <div class="navbar-collapse collapse">

        <!-- Left navbar -->
        <ul class="nav navbar-nav">
          <li>
            <a href="#fakelink">
              <i class="fa fa-cog"></i>
            </a>
          </li>

          <!-- Dropdown language -->
          <li class="dropdown">
            <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">English (US) <i class="fa fa-chevron-down i-xs"></i></a>
            <ul class="dropdown-menu animated half flipInX">
              <li><a href="#fakelink">English (British)</a></li>
              <li><a href="#fakelink">Bahasa Indonesia</a></li>
              <li><a href="#fakelink">French</a></li>
            </ul>
          </li>
        </ul>

        <!-- Right navbar -->
        <ul class="nav navbar-nav navbar-right top-navbar">

          <!-- Dropdown notifications -->
          <li class="dropdown">
            <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i><span class="label label-danger absolute">24</span></a>
            <ul class="dropdown-menu dropdown-message animated half flipInX">
              <!-- Dropdown notification header -->
              <li class="dropdown-header notif-header">New Notifications</li>
              <li class="divider"></li>

              <!-- Dropdown notification body -->
              <li class="unread">
                <a href="#fakelink">
                  <p><strong>John Doe</strong> Uploaded a photo <strong>&#34;DSC000254.jpg&#34;</strong>
                    <br /><i>2 minutes ago</i></p>
                </a>
              </li>
              <li class="unread">
                <a href="#fakelink">
                  <p><strong>John Doe</strong> Created an photo album  <strong>&#34;Indonesia Tourism&#34;</strong>
                    <br /><i>8 minutes ago</i></p>
                </a>
              </li>
              <li>
                <a href="#fakelink">
                  <p><strong>Annisa</strong> Posted an article  <strong>&#34;Yogyakarta never ending Asia&#34;</strong>
                    <br /><i>an hour ago</i></p>
                </a>
              </li>
              <li>
                <a href="#fakelink">
                  <p><strong>Ari Rusmanto</strong> Added 3 products
                    <br /><i>3 hours ago</i></p>
                </a>
              </li>
              <li>
                <a href="#fakelink">
                  <p><strong>Hana Sartika</strong> Send you a message  <strong>&#34;Lorem ipsum dolor...&#34;</strong>
                    <br /><i>12 hours ago</i></p>
                </a>
              </li>
              <li>
                <a href="#fakelink">
                  <p><strong>Johnny Depp</strong> Updated his avatar
                    <br /><i>Yesterday</i></p>
                </a>
              </li>

              <!-- Dropdown notification footer -->
              <li class="dropdown-footer"><a href="#fakelink"><i class="fa fa-refresh"></i> Refresh</a></li>
            </ul>
          </li>
          <!-- End Dropdown notifications -->


          <!-- Dropdown Messages -->
          <li class="dropdown">
            <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i><span class="label label-danger absolute">24</span></a>
            <ul class="dropdown-menu dropdown-message animated half flipInX">
              <!-- Dropdown Messages header -->
              <li class="dropdown-header notif-header">New Messages</li>

              <!-- Dropdown messages body -->
              <li class="divider"></li>
              <li class="unread">
                <a href="#fakelink">
                  <%= image_tag 'avatar/2.jpg', class: 'xs-avatar ava-dropdown', alt: 'Avatar'%>
                  <strong>John Doe</strong><br />
                  <p>Duis autem vel eum iriure dolor in hendrerit ...</p>
                  <p><i>5 minutes ago</i></p>
                </a>
              </li>
              <li class="unread">
                <a href="#fakelink">
                  <%= image_tag 'avatar/1.jpg', class: 'xs-avatar ava-dropdown', alt: 'Avatar'%>
                  <strong>Annisa Rusmanovski</strong><br />
                  <p>Duis autem vel eum iriure dolor in hendrerit ...</p>
                  <p><i>2 hours ago</i></p>
                </a>
              </li>
              <li>
                <a href="#fakelink">
                  <%= image_tag 'avatar/3.jpg', class: 'xs-avatar ava-dropdown', alt: 'Avatar'%>
                  <strong>Ari Rusmanto</strong><br />
                  <p>Duis autem vel eum iriure dolor in hendrerit ...</p>
                  <p><i>5 hours ago</i></p>
                </a>
              </li>

              <!-- Dropdown messages footer -->
              <li class="dropdown-footer"><a href="#fakelink"><i class="fa fa-share"></i> See all messages</a></li>
            </ul>
          </li>
          <!-- End Dropdown messages -->

          <!-- Dropdown User session -->
          <li class="dropdown">
            <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">Howdy, <strong>Mas Bro</strong> <i class="fa fa-chevron-down i-xs"></i></a>
            <ul class="dropdown-menu animated half flipInX">
              <li><%= link_to 'Account Settings', edit_user_path(@current_user) %></li>
              <!--<li class="divider"></li>-->
              <!--<li class="dropdown-header">Another action</li>-->
              <li><a href="lock-screen.html">Lock me</a></li>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'md-trigger', 'data-model'=>'logout-modal-alt' %></li>
            </ul>
          </li>
          <!-- End Dropdown User session -->
        </ul>
      </div><!-- End div .navbar-collapse -->
    </div><!-- End div .container -->
  </div>
  <!-- END NAVBAR CONTENT-->
</div>
<!-- END CONTENT HEADER -->