<% if !session[:docked].nil? %>
    <% if session[:docked].class == QuoteRequest %>
    <div id="dock" class="box-info success col-xs-6">
      <h2>Docked Quote Request</h2>
      <div class="additional-btn">
        <%= link_to '/undock', data: {remote: true}, class: 'additional-icon', 'data-toggle' => 'close' do  %>
            <i class="fa fa-times"></i>
        <% end %>
        <%= link_to new_quote_path, class: 'additional-icon', 'data-toggle' => 'close' do  %>
            <i class="fa fa-plus"></i>
        <% end %>

        <%= link_to '#', id: 'minimize-dock', class: 'additional-icon' do %>
            <i class="fa fa-chevron-down"></i>
        <% end %>
        <%= link_to '#', id: 'maximize-dock', class: 'additional-icon' do %>
            <i class="fa fa-chevron-up"></i>
        <% end %>
      </div>
      <div id="dock-body" class="collapse in">
        <p>
          Approximate Quantity: <%= session[:docked].approx_quantity %>
        </p>
        <p>
          Name: <%= session[:docked].name %>
        </p>
        <p>
          <%= session[:docked].description %>
        </p>
        <p>
          Needed By: <%= session[:docked].date_needed.strftime('%F') rescue 'n/a' %>
        </p>
      </div>
    </div>
    <% end %>
<% end %>
