<div class="media">
  <a class="pull-left" href="#fakelink">
    <%= image_tag @current_user.try(:profile_picture).try(:file).try(:url, :medium) || 'avatar/masarie.jpg', class: 'media-object img-circle', alt: 'Avatar' %>
  </a>

  <div class="media-body">
    Welcome,
    <h4 class="media-heading"><strong><%= @current_user.first_name %> <%= @current_user.last_name[0,1] %>.</strong></h4>
    <%= link_to 'Edit', edit_user_path(@current_user) rescue 'Error' %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'md-trigger', 'data-model'=>'logout-modal-alt' rescue 'Error' %>
  </div>
</div>
