<!-- Chat widget -->
<div class="col-lg-6 box-info">
  <h2><strong>Chat</strong> Widget</h2>
  <!-- Additional button -->
  <div class="additional-btn">
    <a class="additional-icon" href="#fakelink"><i class="fa fa-refresh"></i></a>
    <a class="additional-icon" id="dropdownMenu4" data-toggle="dropdown">
      <i class="fa fa-cog"></i>
    </a>
    <ul class="dropdown-menu pull-right animated half fadeInDown" role="menu" aria-labelledby="dropdownMenu4">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#fakelink">Action</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#fakelink">Another action</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#fakelink">Something else here</a></li>
      <li role="presentation" class="divider"></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#fakelink">Separated link</a></li>
    </ul>
    <a class="additional-icon" href="#fakelink"><i class="fa fa-question-circle"></i></a>
  </div><!-- ENd div .addirional-btn -->
  <!-- Chat widget inner -->
  <div class="chat-widget">
    <ul class="media-list">
      <li class="media">
        <a class="pull-left" href="#fakelink">
          <%= image_tag 'avatar/1.jpg', class: 'media-object img-circle', alt: 'Avatar'%>
        </a>
        <div class="media-body warning">
          Hello, liquam ultricies malesuada feugiat?
          <p class="time">Just Now</p>
        </div>
      </li>
      <li class="media">
        <a class="pull-right" href="#fakelink">
          <%= image_tag 'avatar/5.jpg', class: 'media-object img-circle', alt: 'Avatar'%>
        </a>
        <div class="media-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus
          <p class="time">A minute ago</p>
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#fakelink">
          <%= image_tag 'avatar/2.jpg', class: 'media-object img-circle', alt: 'Avatar'%>
        </a>
        <div class="media-body danger">
          Cras sit amet erat sit amet lacus egestas placerat?
          <p class="time">23 minutes ago</p>
        </div>
      </li>
      <li class="media">
        <a class="pull-right" href="#fakelink">
          <%= image_tag 'avatar/5.jpg', class: 'media-object img-circle', alt: 'Avatar'%>
        </a>
        <div class="media-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus
          <p class="time">2 hours ago</p>
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#fakelink">
          <%= image_tag 'avatar/3.jpg', class: 'media-object img-circle', alt: 'Avatar'%>
        </a>
        <div class="media-body success">
          Hello, liquam ultricies malesuada feugiat?
          <p class="time">5 hours ago</p>
        </div>
      </li>
      <li class="media">
        <a class="pull-right" href="#fakelink">
          <%= image_tag 'avatar/5.jpg', class: 'media-object img-circle', alt: 'Avatar'%>
        </a>
        <div class="media-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus
          <p class="time">Yesterday at 01:45 PM</p>
        </div>
      </li>
      <li class="media">
        <a class="pull-left" href="#fakelink">
          <%= image_tag 'avatar/4.jpg', class: 'media-object img-circle', alt: 'Avatar'%>
        </a>
        <div class="media-body info">
          Hello, liquam ultricies malesuada feugiat?
          <p class="time">2 days ago at 05:45 PM</p>
        </div>
      </li>
      <li class="media">
        <a class="pull-right" href="#fakelink">
          <%= image_tag 'avatar/5.jpg', class: 'media-object img-circle', alt: 'Avatar'%>
        </a>
        <div class="media-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus
          <p class="time">January 17, 2014 at 08:22 AM</p>
        </div>
      </li>
    </ul>
  </div><!-- End div .chat-widget -->
  <!-- Form chat -->
  <form role="form" class="input-chat">
    <input type="text" class="form-control input-lg" placeholder="Type and press Enter...">
  </form>
  <!-- End form chat -->
</div>
<!-- End chat widget -->