<%= fields_for :imprint_methods do |f| %>

<div class="form-group">
  <%= f.label :print_location %>
  <%= f.select :print_location, PrintLocation.all.collect{|x|["#{x.name}", x.id]}, include_blank: true %>
</div>
<div class="form-group">
  <%= f.label :ink_colors %>
    <%= f.check_box InkColor.all.collect{|x|["#{x.name}", x.id]} %>
</div>
<% end %>