<div class="the-notes" id="artwork-request-<%=artwork_request.id%>">
  <h4 class="artwork-request-title">Artwork Request for <%= artwork_request.jobs.collect{|x| [x.name]}.join(', ')%></h4>
  <dl>
    <dt><%= :imprint_methods %></dt>
    <dd><%= artwork_request.imprint_method.name %></dd>
    <dt><%= :print_location %></dt>
    <dd><%= artwork_request.print_location.first.name %></dd>
    <dt><%= :ink_colors %></dt>
    <dd><%= artwork_request.ink_colors.collect{|x| [x.name]}.join(', ') %></dd>
    <dt><%= :description %></dt>
    <dd><%= artwork_request.description %></dd>
    <dt><%= :artwork_status %></dt>
    <dd><%= artwork_request.artwork_status %></dd>
    <dt><%= :deadline %></dt>
    <dd><%= artwork_request.deadline %></dd>
    <dt>'Created By'</dt>
    <dd><%= artwork_request.salesperson_id %></dd>
    <dt>'Assigned to'</dt>
    <dd><%= artwork_request.artist_id %></dd>
  </dl>
  <span class='artwork-request-button' title="Edit" onclick="editArtworkRequest(<%=artwork_request.id%>)"><i class="fa fa-2x fa-edit"></i></span>
  <span class='artwork-request-button' title="Delete" onclick="deleteArtworkRequest(<%=artwork_request.id%>)"><i class="fa fa-2x danger fa-times-circle"></i></span>
</div>