<div class="form-group">
  <%= f.label :imprint_method %>
  <%= f.select :imprint_method, ImprintMethod.all.collect{|x|["#{x.name} - #{x.production_name}", x.id]}, {include_blank: true}, data: {url: imprint_methods_path} %>
  <div class="form-group" id="imprint_method_print_locations_and_ink_colors">

  </div>

  <div class="form-group">
    <%= f.label :user %>
    <%= f.select :user, User.all.collect{|x|["#{x.firstname} - #{x.lastname}", x.id]}, include_blank: true %>
  </div>
  <div class="form-group">
  <%= f.label :artwork_status %>
  <%= f.select :artwork_status, [['Pending'], ['In Progress'], ['Art Created']], include_blank: true %>
  </div>
  <div class="form-group">
    <%= f.label :deadline %>
    <%= f.date_select :deadline %>
    <%= f.time_select :deadline, ignore_date: true %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class:'summernote' %>
  </div>

  <hr>

</div>
