<div class='<%= local_assigns[:container] %>'>
  <div class='col-sm-10'>
    <%= f.hidden_field :owner_id, value: current_user.id %>

    <% if local_assigns[:detailed] %>
      <div class='form-group'>
        <%= f.label :type, 'Cost Type', class: 'control-label' %>
        <%= f.select :type, order_cost_options(f.object), {}, class: 'form-control cost-type-select', multiple: true %>
      </div>

      <div class='form-group'>
        <%= f.label :description, 'Description', class: 'control-label' %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>

      <div class='form-group'>
        <%= f.label :owner_id, 'Cost Applies To', class: 'control-label' %>
        <%= f.select :owner_id, options_from_collection_for_select(User.all, :id, :full_name, f.object.owner_id || current_user.id), {}, class: 'form-control select2' %>
      </div>

      <div class='form-group'>
        <%= f.label :time, 'Time', class: 'control-label' %>
        <div class='input-group'>
          <%= f.number_field :time, class: 'form-control' %>
          <div class='input-group-addon'>Minutes</div>
        </div>
      </div>
    <% end %>
  </div>

  <div class='col-sm-2'>
    <%= f.link_to_remove '- Cost', class: 'btn btn-danger remove-cost', data: { showonrmv: local_assigns[:show_on_remove] } %>
  </div>

  <div class='clearfix'></div>
</div>
