<div class='user-profile-content'>
  <div class='hidden-print clearfix'>
    <h3>
      <strong>Total</strong> Cost:
      <%= number_to_currency order.total_cost %>
    </h3>

    <%= nested_form_for order do |f| %>
      <div class='row order-costs'>

        <div class='col-sm-6'>
          <h3><strong>Line Item</strong> costs</h3>

          <%= f.fields_for :jobs do |ff| %>
            <%= render 'orders/job_fields', f: ff %>
          <% end %>
        </div>

        <div class='col-sm-6 cost-fields-container'>
          <h3><strong>Order</strong> costs</h3>
          <%= f.fields_for :costs do |ff| %>
            <%= render 'orders/cost_fields', f: ff, container: 'well', detailed: true %>
          <% end %>
          <%= f.link_to_add '+ Order Cost', :costs, class: 'btn btn-success' %>
        </div>

      </div>

      <hr />
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
