<div class="form-group">
  <%= f.label.error.text_field :email, placeholder: 'Email' %>
</div>
<div class="form-group">
  <%= f.label.error.text_field :phone_number, class: 'format-phone' %>
</div>
<div class="form-group">
  <%= f.label('First name').error.text_field :firstname, placeholder: 'First Name' %>
</div>
<div class="form-group">
  <%= f.label('Last name').error.text_field :lastname, placeholder: 'Last Name' %>
</div>
<div class="form-group">
  <%= f.label.error.text_field :company, placeholder: 'Company' %>
</div>
<div class="form-group">
  <%= f.label.error_for :twitter %>
  <div class="input-group">
    <span class="input-group-addon">@</span>
    <%= f.text_field :twitter, placeholder: 'twitteralias' %>
  </div>
</div>
