<div class="form-group">
  <%= f.text_field :deprecated_email, placeholder: 'Email', label: 'Email' %>
</div>

<div class="form-group">
  <%= f.text_field :deprecated_phone_number, class: 'format-phone', label: 'Phone number' %>
</div>

<div class="form-group">
  <%= f.text_field :phone_number_extension, label: 'Phone number extension' %>
</div>

<div class="form-group">
  <%= f.text_field :deprecated_firstname, placeholder: 'First Name', label: 'First name' %>
</div>

<div class="form-group">
  <%= f.text_field :deprecated_lastname, placeholder: 'Last Name', label: 'Last name' %>
</div>

<div class="form-group">
  <%= f.text_field :company, placeholder: 'Company' %>
</div>

<div class="form-group">
  <%= f.text_field :deprecated_twitter, placeholder: 'twitteralias', prepend: '@', label: 'Twitter' %>
</div>
