<div class='user-profile-content'>
  <%= bootstrap_form_for order do |f| %>
    <div class="row">
      <div class="col-sm-6">
        <h3><strong>Order</strong> Details</h3>

        <%= render partial: 'order_detail_fields',
                   locals: { f: f, order: order, show_quotes: !order.fba? } %>

        <% unless order.fba? %>
          <div class="form-group">
            <%= f.text_field :commission_amount, prepend: '$', append: '.00' %>
          </div>
        <% end %>
      </div>

      <div class="col-sm-6">
        <% if order.fba? %>
          <h3><strong>Manager</strong> Signoff</h3>
          <% if order.salesperson_id == current_user.id %>
            <%= f.select :invoice_state, [['Pending','pending'], ['Looks Good','approved']], class: 'form-control' %>
          <% else %>
            <% if order.invoice_state == 'approved' %>
              <div class='alert alert-success text-center'>
                <strong>Signed off</strong>
              </div>
            <% else %>
              <div class='alert alert-warning text-center'>
                <strong>Pending</strong>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <%= render 'crm/contacts/find_or_create_contact', f: f %>

          <h3><strong>Account</strong> Details</h3>
          <%= f.text_field :company %>
        <% end %>
      </div>
    </div>
    <div class='row'>
        <%= f.submit 'Save', class: 'col-xs-offset-2 col-xs-8 btn btn-primary' %>
    </div>
  <% end %>

  <div class='form-group'>
  </div>
</div>
