<div class='user-profile-content'>
  <%= form_for order, builder: LancengFormBuilder do |f| %>
    <div class="row">
      <div class="col-sm-6">

        <h3><strong>Order</strong> Details</h3>

        <%= render partial: 'order_detail_fields', locals: { f: f, order: order } %>


        <div class="form-group">
          <%= f.label :commission_amount %>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <%= f.text_field :commission_amount %>
            <%= f.text_field :commission_amount %>
            <span class="input-group-addon">.00</span>
          </div>
        </div>

      </div>
      <div class="col-sm-6">

        <h3><strong>Customer</strong> Details</h3>

        <%= render partial: 'customer_detail_fields', locals: { f: f, order: order } %>

        <div class='form-group'>
          <%= f.submit 'Save', class: 'order-details input-group' %>
        </div>

      </div>
    </div>


  <% end %>

  <div class='form-group'>
  </div>
</div>