<%= render_error_modal_for order %>
<%= form_for order, builder: LancengFormBuilder, html: { id: 'easyWizard'} do |f| %>
  <% f.hidden_field :delivery_method, value: 'Ship to multiple locations' %>

  <section class="step order-step-1" data-step-title="Order Information">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= render partial: 'fba_order_detail_fields', locals: { f: f } %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="notes">
          <h4>Order Information Instructions</h4>

          <p style="text-align: justify">
              Enter a name for the order, and a deadline.
          </p>

          <ol>
          </ol>

        </div>
      </div>
    </div>
  </section>

  <section class="step" data-step-title="Amazon Packing Slips">
    <div class="row">
      <div class="col-sm-6">

        <%= link_to 'Upload Packing Slip(s)', '#', id: 'js-upload-packing-slips-button', class: 'btn btn-info' %>

        <div id="js-packing-slip-info-zone">

        </div>

      </div>

      <div class="col-sm-6">
        <div class="notes">
          <h4>Packing Slip Validation</h4>

          <p style="text-align: justify">
            Upload one or more packing slip .txt files from Amazon.
          </p>

          <p style="text-align: justify">
            One job will be created for each packing slip uploaded.
            Job name and line items will be generated if the packing
            slip is valid. If any issues arise while parsing the
            slip, you will be informed.
          </p>

        </div>
      </div>
    </div>
  </section>

  <section class="step" data-step-title="Done">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.submit 'Submit', class: 'btn btn-primary big-submit-button' %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="notes">
          <h4>Ready to roll</h4>
        </div>
      </div>
    </div>
  </section>
<% end %>

<%= render partial: 'packing_slip_modal' %>

<script id='template-upload' type="text/x-tmpl">
  <div class='fba-upload', id='{%=generateUUID()%}'>

    <div class='row'>
      <div class='col-sm-4'>
      </div>
      <div class='col-sm-4'>
        <h4>{%=o.name%}</h4>
      </div>
      <div class='col-sm-3'></div>
      <div class='col-sm-1'>
        <a href='#' class='error-text glyphicon glyphicon-remove' onclick='$(this).closest(".fba-upload").remove()'></a>
      </div>
    </div>

    <div class='info'>

    </div>
  </div>
</script>
