<%= render_error_modal_for order %>
<%= bootstrap_form_for order, html: { id: 'easyWizard'} do |f| %>
  <% if @quote_id %>
    <%= hidden_field_tag 'order[quote_ids][]', @quote_id %>
  <% end %>

  <section class="step" data-step-title="Customer Information">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= render 'crm/contacts/find_or_create_contact', f: f %>

          <h3><strong>Account</strong> Details</h3>

          <%= f.text_field :company %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="notes">
          <h4>Customer Information Instructions</h4>
          <p style="text-align: justify">
              If the customers e-mail address exists in the system, <strong>be sure to still confirm their name and company</strong>
          </p>

          <p style="text-align: justify">
              When asking the customer for their information, be sure to inform them of the following:
          </p>

          <ol>
            <li><strong>Always ask for a phone number</strong>. Their phone number will only be used to contact them in the event of an emergency, and never for soliciting purposes.</li>
            <li>If they provide a twitter alias, we will tweet at them upon completion of their order</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="step" data-step-title="Order Details">
    <div class="row">
      <div class="col-sm-6">
        <%= render partial: 'order_detail_fields',
                   locals: { current_user: current_user, f: f } %>
      </div>

      <div class="col-sm-6">
        <div class="notes">
          <h4>Order Information Instructions</h4>
        </div>
      </div>
    </div>
  </section>

  <section class="step" data-step-title="Delivery Information">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= f.select :delivery_method, Order::VALID_DELIVERY_METHODS,
                       include_blank: true %>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="notes">
          <h4>Shipping Information Instructions</h4>
        </div>
      </div>
    </div>
  </section>
<% end %>
