<div id="job-<%= job.id %>" class="box-info">
    <div class="box-info <%= 'animated fadeInLeft' if local_assigns[:animated] %>" style="background-color: #eeeeee">
      <%= form_for job, builder: LancengFormBuilder do |f| %>
        <h3 class="job-title">
          <%= f.inline_field :name, 'Job Name Here' %>
        </h3>
        <p class="job-description">
          Description: <%= f.inline_field :description, 'Job Description Here' %>
        </p>

        <h4>Line Items</h4>
        <%= render partial: 'orders/line_item_imprintable_edit' %>
        <%= render partial: 'orders/line_item_imprintable_edit' %>
        <%= render partial: 'orders/line_items_edit' %>

        <%= render partial: 'line_item_new', locals: { job: job } %>
        <div class="form-group box-info">
          <div class="col-sm-4">
              <button type="button" class="btn btn-info btn-lg btn-block add-line-item" data-id="<%=job.id%>"><i class="fa fa-list-alt"></i> Add Line Item </button>
          </div>
          <div class="col-sm-4 col-xs-offset-4">
            <button type="button" class="btn btn-info btn-lg btn-block"><i class="fa fa-list-alt"></i> Update Line Items</button>
          </div>
        </div>

        <h4>Imprints</h4>
        <%= render partial: 'orders/imprints' %>

        <div class="form-group box-info">
          <div class="col-sm-4">
            <button type="submit" class="btn btn-info btn-lg btn-block"><i class="fa fa-pagelines"></i> Add Imprint </button>
          </div>
          <div class="col-sm-4 col-xs-offset-4">
            <button type="submit" class="btn btn-info btn-lg btn-block"><i class="fa fa-pagelines"></i> Update Imprints</button>
          </div>
        </div>
        <div class="form-group box-info">
          <div class="col-sm-4 col-xs-offset-4">
            <button for="<%= job.id %>" type='button' onclick="deleteJob(<%= job.id %>)" class="delete-job-button btn btn-danger btn-lg btn-block"><i class="fa fa-times-circle"></i> Delete Job</button>
          </div>
        </div>
      <% end %>
    </div>
</div>
