<div class="form-group">
  <%= f.label :name, 'Order Name' %>
  <%= f.error_for :name %>
  <%= f.text_field :name, placeholder: 'Title used internally by company' %>
</div>

<% unless f.object.fba? %>
  <div class="form-group">
    <%= f.label :po, 'P.O. Number' %>
    <%= f.error_for :po %>
    <%= f.text_field :po, placeholder: 'Purchase Order if required by customer' %>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :in_hand_by, 'In Hand By Date' %>
  <%= f.error_for :in_hand_by %>
  <div class="input-group date js-datetimepicker">
    <%= f.text_field :in_hand_by,
      value:       value_time(f.object.in_hand_by),
      placeholder: 'In Hand By',
      class: 'form-control'
    %>
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
</div>

<div class="form-group">
  <%= f.label :salesperson_id, 'Salesperson' %>
  <%= f.error_for :salesperson_id %>
  <% salesperson_id = f.object.get_salesperson_id(params[:id], current_user) %>
  <%= f.select :salesperson_id, options_for_select(User.all.map{ |u| [u.full_name, u.id] }, salesperson_id) %>
</div>

<div class="form-group">
  <%= f.label :store_id, 'Store' %>
  <%= f.error_for :store_id %>
  <% store_id = f.object.get_store_id(params[:id], current_user) %>
  <%= f.select :store_id, options_for_select(Store.order(:name).map{ |s| [s.name, s.id] }, store_id) %>
</div>

<% unless f.object.fba? %>
  <div class="form-group">
    <div class="form-group">
      <%= f.label :shipping_price %>

      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= f.text_field :shipping_price %>
      </div>
    </div>
  </div>
<% end %>

<% if local_assigns[:show_quotes] %>
  <div class="form-group">
    <%= f.label :quote_ids, 'Related Quote(s)' %>
    <%= f.error_for :quote_ids %>
    <%= f.select :quote_ids, options_from_collection_for_select(f.object.quotes, :id, :name, f.object.quote_ids.map(&:to_s)), {}, multiple: true, id: 'order-quote-ids-select2', style: 'width: 100%;' %>
  </div>
<% end %>

<% unless f.object.fba? %>
  <div class="form-group">
    <%= f.label :terms, 'Payment terms' %>
    <%= f.error_for :terms %>
    <%= f.select :terms, Order::VALID_PAYMENT_TERMS - ['Fulfilled by Amazon'] %>
  </div>

  <div class="form-group">
    <%= f.label :tax_exempt, 'Tax exempt?' %>
    <%= f.error_for :tax_exempt %>
    <%= f.check_box_with_text_field :tax_exempt, :tax_id_number, placeholder: 'Tax ID Number' %>
  </div>

  <div class="form-group">
    <%= f.label :invoice_state %>
    <%= f.error_for :invoice_state %>
    <%= f.select :invoice_state, Order::VALID_INVOICE_STATES %>
  </div>

  <div class="form-group">
    <%= f.label :freshdesk_proof_ticket_id %>
    <%= f.error_for :freshdesk_proof_ticket_id %>
    <%= f.text_field :freshdesk_proof_ticket_id, type: :integer %>
  </div>
<% end %>
