<div class="form-group">
  <%= f.text_field :name, placeholder: 'Title used internally by company', label: 'Order Name' %>
</div>

<% unless f.object.fba? %>

  <div class="form-group">
    <%= f.text_field :po, placeholder: 'Purchase Order if required by customer', label: 'P.O. Number' %>
  </div>
<% end %>

<div class="form-group js-datetimepicker date">
  <%= f.text_field :in_hand_by,
    value:       value_time(f.object.in_hand_by) || value_time(now_at_5),
    placeholder: 'In Hand By',
    class: 'form-control',
    label: 'In Hand By Date',
    append: '<span class="glyphicon glyphicon-calendar"></span>'.html_safe
  %>
</div>
<div class="form-group">
    <%= f.select :delivery_method, Order::VALID_DELIVERY_METHODS,
                 include_blank: true %>
</div>
<div class="form-group">
  <% salesperson_id = f.object.get_salesperson_id(params[:id], current_user) %>
  <%= f.select :salesperson_id, options_for_select(User.all.map{ |u| [u.full_name, u.id] }, salesperson_id) %>
</div>

<div class="form-group">
  <% store_id = f.object.get_store_id(params[:id], current_user) %>
  <%= f.select :store_id, options_for_select(Store.order(:name).map{ |s| [s.name, s.id] }, store_id) %>
</div>

<% unless f.object.fba? %>
  <div class="form-group">
    <%= f.text_field :shipping_price, prepend: '$' %>
    <p class="help-block">The Price of shipping charged to the customer</p>
  </div>
<% end %>

<% if local_assigns[:show_quotes] %>
  <div class="form-group">
    <%= f.select :quote_ids, options_from_collection_for_select(f.object.quotes, :id, :name, f.object.quote_ids.map(&:to_s)), { label: 'Related Quote(s)' }, multiple: true, id: 'order-quote-ids-select2', style: 'width: 100%;' %>
  </div>
<% end %>

<% unless f.object.fba? %>
  <div class="form-group">
    <%= f.select :terms, Order::VALID_PAYMENT_TERMS - ['Fulfilled by Amazon'], label: 'Payment terms' %>
  </div>

  <div class="form-group">
    <%= f.check_box :tax_exempt, label: 'Tax exempt?' %>
    <%= f.text_field :tax_id_number, placeholder: 'Tax ID Number' %>
  </div>

  <div class="form-group">
    <%= f.number_field :tax_rate_percent, step: '.01', label: 'Tax rate', append: '%' %>
    <p class="help-block">Percentage of subtotal added for sales tax</p>
  </div>

  <div class="form-group">
    <%= f.number_field :fee_percent, step: '.01', label: 'Fee', append: '%' %>
    <%= f.text_field :fee_description %>
  </div>

  <% unless f.object.new_record? %>
    <div class="form-group">
      <%= f.select :invoice_state, Order::VALID_INVOICE_STATES - ['rejected'] %>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.text_field :freshdesk_proof_ticket_id, type: :integer %>
    </div>
<% end %>

<div class="form-group">
  <%= f.text_field :id, placeholder: Order::ID_FIELD_TEXT, title: Order::ID_FIELD_TEXT, data: { toggle: 'tooltip' }, label: { text: 'Order ID', class: 'text-danger' } %>
</div>

<div class="form-group">
  <%= f.text_field :softwear_prod_id, placeholder: Order::ID_FIELD_TEXT, title: Order::ID_FIELD_TEXT, data: { toggle: 'tooltip' }, label: { text: 'Production Order ID', class: 'text-danger' } %>
</div>

<div class="form-group">
    <%= f.select :production_state, ['pending', 'in_production', 'complete'], include_blank: true, label: { class: 'text-danger' } %>
</div>

<div class="form-group">
  <%= f.select :imported_from_admin, options_for_select([['Yes', 1], ['No', 0]], f.object.imported_from_admin ? 1 : 0), label: { class: 'text-danger' } %>
</div>
