<%= render partial: 'shared/modal_errors', locals: { object: payment } %>
<%= form_for [order, payment], builder: LancengFormBuilder do |f| %>

  <!-- Horizontal form body -->
  <div id="horizontal-form" class="collapse in">

    <%= f.hidden_field :salesperson_id, value: @current_user.id %>
    <%= f.hidden_field :order_id, value: order.id %>
    <div id="data_supply" data-total="<%= order.total %>" aria-hidden="true"></div>

    <div class="form-group">
      <%= f.label :user %><br/>
      <%= @current_user.full_name %>
      <%= link_to '(Change user)', destroy_user_session_path, method: :delete, class: 'md-trigger', 'data-model'=>'logout-modal-alt' %>
    </div>

    <div class="form-group">
      <%= f.label :store %>
      <%= f.collection_select :store_id, Store.order(:name), :id, :name, { selected: order.user.store_id }, { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= f.label :amount %>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <%= f.text_field :amount, id: 'amount_field' %>
        <span class="input-group-addon">.00</span>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit 'Apply Payment', class: 'btn btn-info', id: 'submit_button' %>
    </div>

  </div>
<% end %>
