<h1>Order #<%= @order.id %> Production Status</h1>
<% if @production_order.nil? %>
  <div class="alert alert-danger">
    There was either an error communicating with the production server or a
    production order doesn't exist for this order
  </div>
<% else %>
  <div class="col-xs-12 box-info">

  <% unless @production_order.pre_production_trains.empty? %>
    <h2>Order Pre-production Trains</h2>
    <% @production_order.pre_production_trains.each do |train| %>
      <%= render 'orders/production_dashboard/train', train: train %>
    <% end %>
    <br clear="all" />
  <% end %>

  <% @production_order.jobs.each do |job| %>
    <h2>Job "<%= job.name %>"</h2>
    <div class="well well-sm">
      
      <h4>Pre-production Trains</h4>
      <% job.pre_production_trains.each do |train| %>      
        <%= render 'orders/production_dashboard/train', train: train %>
      <% end %>
      
      <br clear="all" />
      
      <h4>Production Trains</h4>
      <% job.production_trains.each do |train| %>      
        <%= render 'orders/production_dashboard/train', train: train %>
      <% end %>

      <br clear="all" />

      <h4>Post-production Trains</h4>
    
      <% job.post_production_trains.each do |train| %>      
        <%= render 'orders/production_dashboard/train', train: train %>
      <% end %>
      <br clear="all" />
    </div>
  <% end %>
  
  <% unless @production_order.post_production_trains.empty? %>
    <h2>Order Post-production Trains</h2>
    <% @production_order.post_production_trains.each do |train| %>
      <%= render 'orders/production_dashboard/train', train: train %>
    <% end %>
    <br clear="all" />
  <% end %>
  </div>
<% end %>
