<%= search_form_for Order, class: 'form-horizontal' do |s| %>
  <div class="form-group order-search-fulltext">
    <div class="col-sm-12">
      <%= s.fulltext id: 'js_search', placeholder: 'Search Terms', class: 'form-control' %>
    </div>
  </div>

  <div class='row form-group'>
    <div class="col-sm-3">
      <%= s.select :payment_status, Order::VALID_PAYMENT_STATUSES, multiple: true %>
    </div>

    <div class="col-sm-3">
      <%= s.select :invoice_state, Order::VALID_INVOICE_STATES, multiple: true %>
    </div>

    <div class="col-sm-3">
      <%= s.select :production_state, Order::VALID_PRODUCTION_STATES, multiple: true %>
    </div>

    <div class="col-sm-3">
      <%= s.select :notification_state, Order.state_machines[:notification_state].states.map { |s| s.name.to_s }, display: :humanize %>
    </div>
  </div>

  <div class='row form-group'>
    <div class='col-sm-3'>
      <%= s.select :salesperson_full_name, User.all.map{|x| x.full_name }, multiple: true %>
    </div>
    
    <div class='col-sm-3'>
      <%= s.text_field :in_hand_by, greater_than: true, placeholder: 'Deadline after...', class: 'js-datetimepicker' %>
    </div>

    <div class='col-sm-3'>
      <%= s.text_field :in_hand_by, less_than: true, placeholder: 'Deadline before...', class: 'js-datetimepicker' %>
    </div>

    <div class='col-sm-3'>
      <%= s.yes_or_no_select :balance %>
    </div>
  </div>

  <div class="col-sm-2">
    <%= s.save %>
  </div>

  <div class="col-sm-2">
    <%= link_to 'Clear', '#', class: 'btn btn-primary js-clear-btn' %>
  </div>

  <div class="col-sm-6">
    <%= s.submit class: 'btn-lg btn-block margin-top-10' %>
  </div>
<% end %>

<div class="col-sm-3">
  <%= select_search_queries Order %>
</div>
