<div class="box-info">
  <h2>Search Orders</h2>
  <!-- Additional button -->
  <div class="additional-btn">
    <a class="additional-icon" href="#fakelink" data-toggle="collapse" data-target="#horizontal-form"><i class="fa fa-chevron-down"></i></a>
    <a class="additional-icon" href="#fakelink"><i class="fa fa-question-circle"></i></a>
  </div><!-- End div .additional-btn -->
  <!-- Horizontal form body -->
  <%= search_form_for Order, class: 'form-horizontal' do |s| %>
    <div id="horizontal-form" class="collapse out">
        <div class="col-sm-4">
          <div class="form-group">
            <%= s.label :email, class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= s.text_field :email, placeholder: 'Email' %>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label"></label>
            <%= s.label :salesperson, 'Salesperson' %>
            <div class="col-sm-10">
              <%= s.select :salesperson, User.all, display: :full_name, style: 'width: 50%;' %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <%= s.label :firstname, 'First Name', class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= s.text_field :firstname, placeholder: 'First Name' %>
            </div>
          </div>
          <div class="form-group">
            <%= s.label :company, class: 'col-sm-2 control-label' %>
            <div class="col-sm-10">
              <%= s.text_field :company, placeholder: 'Company' %>
            </div>
          </div>
        </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= s.label :lastname, 'Last Name', class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= s.text_field :lastname, placeholder: 'Last Name' %>
          </div>
        </div>
        <div class="form-group">
          <%= s.label :phone_number, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= s.text_field :phone_number, placeholder: '___-___-____', class: 'format-phone' %>
          </div>
        </div>
      </div>
    </div><!-- End div #horizontal-from -->

    <div class="form-group margin-top-10">
      <div class="col-sm-offset-3 col-sm-6">
        <%= s.fulltext placeholder: 'Keywords' %>
        <%= s.submit class: 'btn-lg btn-block margin-top-10' %>
      </div>
    </div>
    
    <% end %>
 </div>