<div class="row-fluid">
  <div class="order-state-ribbon">
    <div class='state-box'>
      <H5>Payment</H5>
      <div class='state <%= get_style_from_status(order.payment_status, 'state')%> payment-state'>
        <% if order.fba? %>
            N/A
        <% else %>
            <%= order.payment_status %>
        <% end %>
      </div>
    </div>

    <div class='state-box'>
      <H5>Invoice</H5>
      <div class='state <%= get_style_from_invoice_state(@order.invoice_state, 'state')%> invoice-state'>
        <%= order.invoice_state.humanize.capitalize %>
        <% if !order.canceled? && order.invoice_state != 'approved' %>
            <div class="order-state-action">
              <%= form_for order do |f| %>
                  <%= f.hidden_field :invoice_state, value: 'approved' %>
                  <%= link_to '#', onclick: 'form.submit();', class: 'btn btn-xs btn-info',
                              title: 'Approve Invoice', data: { toggle: 'tooltip' }  do %>
                      <i class="fa fa-check-square"></i>
                  <% end %>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>

    <div class='state-box'>
      <H5>Production</H5>
      <div class='state <%= get_style_from_production_state(@order.production_state, 'state')%> production-state'>
        <%= order.production_state.humanize.capitalize %>
        <div class="order-state-action">
          <% if order.production_url && order.production_state != 'pending' %>
              <%= link_to order.production_url, target: :_new,
                          title: 'View in Production', data: { toggle: 'tooltip' },
                          class: 'btn btn-xs btn-info' do %>
                  <i class="fa fa-cogs"></i>
              <% end %>
          <% elsif !order.canceled? %>
              <%= link_to send_to_production_order_path(order), method: :post,
                          title: 'Send to Production (Production Manager Only)', data: { toggle: 'tooltip' },
                          class: 'btn btn-xs btn-info' do  %>
                  <i class="glyphicon glyphicon-circle-arrow-right"></i> <i class="fa fa-cogs"></i>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class='state-box'>
      <H5>Artwork</H5>
      <div class='state <%= get_style_from_artwork_state(@order.artwork_state, 'state')%> artwork-state'>
        <%= order.human_artwork_state_name.capitalize %>
      </div>
    </div>

    <div class='state-box'>
      <H5>Notification</H5>
      <div class='state <%= order.fba? ? 'state-success' : get_style_from_notification_state(@order.notification_state, 'state') %> notification-state'>
        <% if order.fba? %>
            N/A
        <% else %>
            <%= order.human_notification_state_name.capitalize %>
        <% end %>
      </div>
    </div>
  </div>
  <br clear="all"/>
</div>
<br clear="all"/>
