<tr id="order_<%= order.id %>">
  <td><%= order.id %></td>
  <td>
    <div class="btn-group btn-group-xs">
      <%= link_to order_timeline_path(order), remote: true, 'data-toggle'=> 'tooltip', title: 'Show Order Timeline', class: 'btn btn-default modalLink' do  %><i class="fa fa-list-alt"></i><% end %>
    </div>
  </td>
  <td>
    <%= order.name %><br />
    <%= order.firstname %> <%= order.lastname %><br />
    <%= order.email %>
  </td>
  <td><%= order.salesperson.full_name %></td>
  <td>
    <span class="label <%= get_style_from_status(order.payment_status)%>"><%= order.payment_status %></span>
    <!--<div class="btn-group btn-group-xs"><a data-toggle="tooltip" title="Email Payment Request to Customer" class="btn btn-default"><i class="fa fa-envelope"></i></a></div>-->
  </td>
  <td><%= number_to_currency order.total, unit: '$' %></td>
  <td><%= number_to_currency order.balance, unit: '$' %></td>
  <td><span class="label label-warning">Approved</span> <div class="btn-group btn-group-xs"><a data-toggle="tooltip" title="Print Order Slip" class="btn btn-default"><i class="fa fa-print"></i></a></div></td>
  <td><span class="label label-warning">Awaiting Customer</span> <div class="btn-group btn-group-xs"><a data-toggle="tooltip" title="Re-notify customer of artwork" class="btn btn-default"><i class="fa fa-envelope"></i></a></div></td>
  <td><span class="label label-warning">Pending</span></td>
  <td><span class="label label-warning">Pending</span></td>
  <td>
    <div class="btn-group btn-group-xs">
      <%= link_to edit_order_path(order), 'data-action' => 'edit', 'data-toggle' => 'tooltip', 'title' => 'Edit', class: 'btn btn-default' do %><i class="fa fa-edit"></i><% end %>
      <a data-toggle="tooltip" title="Quick View" class="btn btn-default"><i class="fa fa-eye"></i></a>
      <a data-toggle="tooltip" title="Printable Invoice" class="btn btn-default"><i class="fa fa-print"></i></a>
    </div>
  </td>
</tr>
