<%= render_error_modal_for @order %>


<div class="row-fluid">
    <div class="page-heading animated fadeInDownBig pull-left">
      <h1>Edit <strong>Order #<%= @order.id %></strong></h1>
      <h2><%= @order.name  %></h2>
    </div>

    <div class="pull-right text-right">

      <%= link_to order_report_order_path(@order), class: 'btn btn-primary',
                  'data-action' => 'show' do %>
          <i class="glyphicon glyphicon-list-alt"></i> Order Report
      <% end %>

      <%= link_to imprintable_order_sheets_order_path(@order), class: 'btn btn-primary',
                  'data-action' => 'show' do %>
          <i class="softwear-icon-t-shirt"></i> Imprintable Sheets
      <% end %>

      <%= link_to order_path(@order), class: 'btn btn-primary',
        data: {action: :show, toggle: :tooltip, title: 'Printable Invoice', placement: :bottom } do %>
          <i class="fa fa-print"></i>
      <% end %>
      

      <% if @order.imprints.name_number.any? %>
        <%= link_to name_number_csv_from_order_path(@order), 
          data: {toggle: :tooltip, title: 'Names/Numbers', placement: :bottom}, 
          class: 'btn btn-primary' do  %>
          <i class="glyphicon glyphicon-list"></i>
        <% end %>
      <% end %>
      
      <% unless @order.notification_state == 'picked_up' %>
        <span ".edit-notification-buttons">
        <%= link_to state_order_path(@order, :notification_state), remote: true, 
          data: {toggle: :tooltip, :title => 'Notify Customer', placement: :bottom}, 
          class: 'btn btn-primary'  do %>
            <i class="glyphicon glyphicon-phone-alt"></i>
        <% end %>
        
        <%= link_to transition_order_path(@order, :notification_state,  :picked_up), remote: true, 
          method: :post, data: { toggle: :tooltip, title: 'Mark Picked Up', placement: :bottom,
          confirm: 'Are you sure you want to mark this order as picked up?'}, 
          class: 'btn btn-primary' do %>
            <i class="glyphicon glyphicon-thumbs-up"></i>
          <% end %>
        </span>
      <% end %>
      
      <%= link_to order_warnings_path(@order.id), class: 'btn btn-warning' do %>
        <i class="fa fa-exclamation-triangle"></i> Warnings
        <%= @order.warnings.active.any? ? "(#{@order.warnings.active.size})" : '' %>
      <% end %>

    </div>

  </div>
  <br clear="all" />
  <table class="table table-condensed">
    <thead>
      <th>Payment State
      </th>
      <th>Invoice State
      </th>
      <th>Production State
      </th>
      <th>Notification State
      </th>
    </thead>
    <tbody>
      <tr id="order_<%= @order.id %>">
        <td class='payment-state'>
          <span class="label <%= get_style_from_status(@order.payment_status)%>"><%= @order.payment_status %></span>
        </td>
        <td class='invoice-state'>
          <span class="label <%= get_style_from_invoice_state(@order.invoice_state)%>"><%= @order.invoice_state.humanize %></span>
        </td>
        <td class='production-state'>
          <span class="label <%= get_style_from_production_state(@order.production_state)%>"><%= @order.production_state.humanize %></span>
        </td>
        <td class='notification-state'>
          <span class="label <%= get_style_from_notification_state(@order.notification_state)%>"><%= @order.notification_state.humanize %></span>
        </td>
      </tr>
    </tbody>
  </table>

<%= content_tag(:div, id: 'order-page', 'data-order-id' => @order.id) {} %>

<div class="row">
    <div class="col-sm-12">
        <div class="box-info full">
            <ul class="nav nav-tabs nav-justified">
              <li class="active">
                <a href="#jobs" data-toggle="tab">
                  <i class="fa fa-tasks"></i> Jobs
                </a>
              </li>
              <li>
                <a href="#timeline" data-toggle="tab">
                  <i class="fa fa-clock-o"></i> Timeline
                </a>
              </li>
              <li>
                <a href="#details" data-toggle="tab">
                  <i class="fa fa-shopping-cart"></i> Details
                </a>
              </li>
              <li>
                <a href="#payments" data-toggle="tab">
                  <i class="fa fa-money"></i> Payments
                </a>
              </li>
              <li>
                <a href="#shipments" data-toggle="tab">
                  <i class="fa fa-archive"></i> Shipments
                </a>
              </li>
              <li>
                <a href="#artwork" data-toggle="tab">
                  <i class="fa fa-picture-o"></i> Artwork
                </a>
              </li>
              <li>
                <a href="#proofs" data-toggle="tab">
                  <i class="fa fa-file-text-o"></i> Proofs
                </a>
              </li>
              <li>
                <a href="#comments" data-toggle="tab">
                  <i class="fa fa-bars"></i> Comments
                </a>
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane animated fadeInRight active" id="jobs">
                <%= render partial: 'jobs/jobs', locals: { order: @order } %>
              </div>

              <div class="tab-pane animated fadeInRight" id="timeline">
                <%= render partial: 'shared/timeline',
                           locals: {activities: @activities} %>
              </div>

              <div class="tab-pane animated  fadeInRight" id="details">
                <%= render partial: 'details', locals: { order: @order } %>
              </div>

              <div class="tab-pane animated fadeInRight" id="payments">
                <%= render partial: 'payments/payments', locals: { order: @order }%>
              </div>

              <div class="tab-pane animated fadeInRight" id="shipments">
                <%= render partial: 'shipments', locals: { order: @order } %>
              </div>

              <div class="tab-pane animated fadeInRight" id="artwork">
                <%= render partial: 'artwork_requests/list',
                           locals: { order: @order } %>
              </div>

              <div class="tab-pane animated fadeInRight" id="proofs">
                <%= render partial: 'proofs/list', locals: { order: @order } %>
              </div>

              <div class="tab-pane animated fadeInRight" id="comments">
                  <%= render 'comments', order: @order %>
              </div>
            </div>
        </div>
    </div>
</div>
