<%= render_error_modal_for @order %>
<div class="page-heading animated fadeInDownBig row">
  <div class='col-sm-6'>
    <h1>Edit Order #<%= @order.id %> <small><%= @order.name %></small></h1>
  </div>
  <div class='col-sm-3 col-xs-offset-3'>
    <% if @order.imprints.exists? %>
      <%= link_to 'Download Names/Numbers CSV', name_number_csv_from_order_path(@order), class: 'btn btn-info btn-block' %>
    <% end %>
  </div>
</div>

<%= content_tag(:div, id: 'order-page', 'data-order-id' => @order.id) {} %>

<div class="row">
    <div class="col-sm-12">
        <div class="box-info full">
            <ul class="nav nav-tabs nav-justified">
              <li class="active">
                <a href="#timeline" data-toggle="tab">
                  <i class="fa fa-clock-o"></i> Timeline
                </a>
              </li>
              <li>
                <a href="#details" data-toggle="tab">
                  <i class="fa fa-shopping-cart"></i> Details
                </a>
              </li>
              <li>
                <a href="#jobs" data-toggle="tab">
                  <i class="fa fa-tasks"></i> Jobs
                </a>
              </li>
              <li>
                <a href="#payments" data-toggle="tab">
                  <i class="fa fa-money"></i> Payments
                </a>
              </li>
              <li>
                <a href="#shipments" data-toggle="tab">
                  <i class="fa fa-archive"></i> Shipments
                </a>
              </li>
              <li>
                <a href="#artwork" data-toggle="tab">
                  <i class="fa fa-picture-o"></i> Artwork
                </a>
              </li>
              <li>
                <a href="#proofs" data-toggle="tab">
                  <i class="fa fa-file-text-o"></i> Proofs
                </a>
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane animated fadeInRight active" id="timeline">
                <%= render partial: 'shared/timeline',
                           locals: {activities: @activities} %>
              </div>

              <div class="tab-pane animated  fadeInRight" id="details">
                <%= render partial: 'details', locals: { order: @order } %>
              </div>

              <div class="tab-pane animated fadeInRight" id="jobs">
                <%= render partial: 'jobs/jobs', locals: { order: @order } %>
              </div>

              <div class="tab-pane animated fadeInRight" id="artwork">
                <%= render partial: 'artwork_requests/list',
                           locals: { order: @order } %>
              </div>

              <div class="tab-pane animated fadeInRight" id="proofs">
                <%= render partial: 'proofs/list', locals: { order: @order } %>
              </div>

              <div class="tab-pane animated fadeInRight" id="payments">
                <%= render partial: 'payments/payments', locals: { order: @order }%>
              </div>

              <div class="tab-pane animated fadeInRight" id="shipments">
                  <%= render partial: 'shipments' %>
              </div>
            </div>
        </div>
    </div>
</div>