<%= render_error_modal_for @order %>

<%= render 'orders/nav', order: @order, active: 'edit' %>

<div class="row-fluid orders-edit">
  <div class="page-heading animated fadeInDownBig">
    <div class="order-edit-salesperson">
      <%= profile_picture_of @order.salesperson %>
    </div>
    <div class="order-edit-title">
      <h1>
        <% if @order.canceled? %>
            <span class="label label-danger">Canceled</span>
        <% end %>
        <% if @order.fba? %>
            <span class="label label-warning">FBA</span>
        <% end %>
        <span class="<%= 'canceled' if @order.canceled %>"><%= @order.name %></span>
        <br/>
        <span class="small">
        In Hand By: <%= display_date(@order.in_hand_by) %>
        </span>
      </h1>
    </div>
  </div>
</div>

<br clear="all"/>

<%= render 'state_ribbon', order: @order %>

<% if @order.invoice_rejected? %>
  <div class='alert alert-danger'>
    <div class='col-sm-10'>
      <strong>Invoice rejected:</strong> &quot;<%= @order.invoice_reject_reason || 'ERROR (this is a bug, customer should be required to specify a reason for rejection)' %>&quot;
    </div>
    <div class='col-sm-2'>
      <%= form_for @order do |f| %>
        <%= f.hidden_field :invoice_state, value: 'pending' %>
        <%= button_tag 'Reset Invoice State', class: 'btn btn-warning' %>
      <% end %>
    </div>
    <div class='clearfix'></div>
  </div>
<% end %>

<%= content_tag(:div, id: 'order-page', 'data-order-id' => @order.id) {} %>

<div class="row">
  <div class="col-sm-12">
      <div class="box-info full">
          <ul class="nav nav-tabs nav-justified">
            <li class="active">
              <%= nav_tab(:jobs) do %>
                <i class="fa fa-tasks"></i> Jobs
              <% end %>
            </li>
            <li>
              <%= nav_tab(:details, remote: true) do %>
                <i class="fa fa-shopping-cart"></i> Details
              <% end %>
            </li>
            <li>
              <%= nav_tab(:payments, disabled: @order.fba?, remote: true) do %>
                <i class="fa fa-money"></i> Payments
              <% end %>
            </li>
            <li>
              <%= nav_tab(:shipments, remote: true) do %>
                <i class="fa fa-archive"></i> Shipments
              <% end %>
            </li>
            <li>
              <%= nav_tab(:artwork, remote: !@order.imported_from_admin?) do %>
                <i class="fa fa-picture-o"></i> Artwork
              <% end %>
            </li>
            <li>
              <%= nav_tab(:proofs, remote: !@order.imported_from_admin?) do %>
                <i class="fa fa-file-text-o"></i> Proofs
              <% end %>
              </a>
            </li>
            <li>
              <%= nav_tab(:comments, remote: true) do %>
                <i class="fa fa-bars"></i> Comments
              <% end %>
            </li>
            <li>
              <%= nav_tab(:timeline) do %>
                <i class="fa fa-clock-o"></i> Timeline
              <% end %>
            </li>
            <li>
              <%= nav_tab(:costs, remote: true) do %>
                <i class="fa fa-dollar"></i> Costs
              <% end %>
              </a>
            </li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane animated fadeInRight active" id="jobs">
              <%= render partial: 'jobs/jobs', locals: { order: @order } %>
            </div>

            <div class="tab-pane animated fadeInRight" id="timeline">
              <% if @order.quotes.empty? %>
                <%= render 'shared/timeline', activities: @activities %>
              <% else %>
                <div class="col-sm-4">
                  <%= render 'shared/timeline', activities: @activities %>
                </div>
                <div class="col-sm-8">
                  <% @order.quotes.each do |quote| %>
                    <h4>From quote: <%= link_to quote.name, quote %></h4>
                    <%= render 'shared/freshdesk_ticket', quote: quote, current_user: @current_user %>
                  <% end %>
                </div>
              <% end %>
            </div>

            <div class="tab-pane animated  fadeInRight" id="details">
              <%# remote orders/details %>
            </div>

            <div class="tab-pane animated fadeInRight" id="payments">
              <%# remote payments/payments %>
            </div>

            <div class="tab-pane animated fadeInRight" id="shipments">
              <%# remote orders/shipments %>
            </div>

            <div class="tab-pane animated fadeInRight" id="artwork">
             <% if @order.imported_from_admin? %>
               <%= render 'artwork_tab_disabled', message: "There was no artwork concept in this version." %>
             <% end %>
            </div>

            <div class="tab-pane animated fadeInRight" id="proofs">
             <% if @order.imported_from_admin? %>
               <%= render 'admin_proofs', order: @order %>
             <% end %>
            </div>

            <div class="tab-pane animated fadeInRight" id="costs">
              <%# remote orders/costs %>
            </div>

            <div class="tab-pane animated fadeInRight" id="comments">
              <%# remote orders/comments %>
            </div>
          </div>
      </div>
  </div>
</div>

<% # WEIRD BUGFIX: see defintion of this method in quote_helper.rb %>
<%= cleanup_invalid_imprintable_variants_for(@order) %>
