  <% @order.jobs.each_with_index do |job, index| %>
    <div class="imprintable-order-sheet-job" style="page-break-after: always">
      <p class="text-center">Imprintable Order Sheet - Printed on <%= Time.now.strftime("%a, %b %d %Y") %><br />
      <strong>Order:</strong> <%= @order.full_name %> - <%= @order.name %><br />
      <strong>Salesperson:</strong> <%= @order.salesperson.full_name %><br />
      Job: <%= index + 1 %> of <%= @order.jobs.size %> - <%= job.name %><br />
      <span class="h2"><%= job.imprintable_line_items_total %> Total Pieces</span></p> 

      <% job.sort_line_items(@order).tap do |sorted_line_items| %>
        <% unless sorted_line_items.empty? %>
          <% sorted_line_items.each do |_imprintable_name, by_color| %>
            <% by_color.each do |color_name, line_items| %>
              <%= render 'line_items/imprintable_order_sheets_row', line_items: line_items %>
            <% end # by_color %>
          <% end #sorted_line_items %>
        <% end #unless_sorted  %>
      <% end #sort_line_items %>
    </div>
    <p class="breakhere">
    </p>
  <% end %>

<%= render('name_numbers/table', {order: @order}) if @order.imprints.name_number.any? %>

