<h1 style="float: left;">
  <% if @fba %>FBA Orders<% else %>Custom Print Orders<% end %>
</h1>

<% if @fba %>
  <div style="float: right;">
    <%= link_to 'New FBA Order', new_fba_orders_path, class: 'btn btn-info' %>
  </div>
<% end %>

<%= paginate @orders %>

<br clear="all" />

<div class="box-info full">
  <%= render partial: 'orders/search' %>

  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th style="width: 30px">ID</th>
          <th>Timeline</th>
          <th>Order</th>
          <th>Salesperson</th>
          <th>Payment State</th>
          <th>Invoice State</th>
          <th>Total</th>
          <th>Balance</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <%= render partial: 'orders/table_entry', locals: { order: order } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @orders %>
