<h1 style="float: left;">
  <% if @fba %>FBA Orders<% else %>Custom Print Orders<% end %>
</h1>

<% if @fba %>
  <div style="float: right;">
    <%= link_to 'New FBA Order', new_fba_orders_path, class: 'btn btn-info' %>
  </div>
<% end %>

<%= paginate @orders %>

<br clear="all" />

<div class="col-sm-8 col-sm-offset-2 col-xs-12">
  <%= render partial: 'orders/search' %>
</div>

<%= paginate @orders %>

<div class="box-info full clear">
  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th style="width: 30px">ID</th>
          <th>Timeline</th>
          <th>Order</th>
          <th>Salesperson</th>
          <th>Payment</th>
          <th>Invoice</th>
          <th>Production</th>
          <th>Notification</th>
          <th>Total</th>
          <th>Balance</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @orders.each do |order| %>
          <%= render partial: 'orders/table_entry', locals: { order: order } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @orders %>
