<div class="page-heading animated fadeInDownBig row">
  <div class="pull-left">
    <h1><strong>Invoice</strong> #<%= @order.id %></h1>
  </div>

  <div class='pull-right hidden-print'>
    <%= link_to edit_order_path(@order), class: 'btn btn-primary' do %>
        <i class="fa fa-edit"></i> Edit
    <% end %>
    <%= link_to '#', class: 'btn btn-success', id: 'print-button' do  %>
        <i class="fa fa-print"></i> Print
    <% end %>
  </div>
</div>

<div class="box-info">
  <div class="col-xs-4">
    <h2><strong>Customer</strong> Details</h2>
    <dl>
      <dt>Name</dt>
      <dd><%= @order.full_name %></dd>
      <% unless @order.company.blank? %>
        <dt>Company</dt>
        <dd><%= @order.company %></dd>
      <% end %>
      <dt>E-mail</dt>
      <dd><%= @order.email %></dd>
      <% unless @order.phone_number.blank? %>
        <dt>Phone Number</dt>
        <dd><%= @order.phone_number %></dd>
      <% end %>
    </dl>
  </div>

  <div class="col-xs-4">
    <h2><strong>Order</strong> Details</h2>
    <dl>
      <dt>Name</dt>
      <dd><%= @order.name %></dd>
      <dt>In Hand By Date:</dt>
      <dd><%= display_time @order.in_hand_by  %></dd>
      <dt>Payment Terms</dt>
      <dd><%= @order.terms %></dd>
      <dt>Payment Status</dt>
      <dd><%= @order.payment_status %></dd>
      <dt>Salesperson</dt>
      <dd><%= @order.salesperson.full_name %></dd>
      <% unless @order.po.blank? %>
        <dt>P.O. Number</dt>
        <dd><%= @order.po %></dd>
      <% end %>
    </dl>
  </div>
  <div class="col-xs-4">
    <h2><strong>Payment and Delivery</strong> Details</h2>
    <dl>
      <dt>Delivery Method</dt>
      <dd><%= @order.delivery_method %></dd>
    </dl>
      <% @order.shipments.each do |shipment| %>
        <dl>
          <% if shipment.shippable_type == 'Job' %>
            <dt>Job</dt>
            <dd><%= shipment.shippable.name %></dd>
          <% end %>
          <dt>Shipping Method </dt>
          <dd><%= shipment.shipping_method.name %></dd>
          <dd> 
            <address>
              <%= shipment.complete_address.join('<br />').html_safe %>
            </address>
          </dd>
          <% unless shipment.tracking_number.blank? %>
          <dt>Tracking</dt>
          <dd><%= shipment.tracking_number %></dd>
        <% end %>
        </dl>
      <% end %>
  </div>
  
  <div class="col-xs-12">
    <% @order.jobs.each do |job| %>
      <h2 class="invoice-job-name">
        <strong><%= job.name %></strong>: 
        <%= job.imprints.map{|i| "#{i.name} (#{i.description})" }.join(", ") %>
      </h2>

      <% job.sort_line_items.tap do |sorted_line_items| %>
        <% unless sorted_line_items.empty? %>
          <% sorted_line_items.each do |_imprintable_name, by_color| %>
            <% by_color.each do |color_name, line_items| %>
              <%= render 'line_items/imprintable_show', line_items: line_items %>
            <% end # by_color %>
          <% end #sorted_line_items %>
        <% end #unless_sorted  %>
      <% end #sort_line_items %>
      <% unless job.standard_line_items.empty? %>
        <table class="table non-imprintables">
          <thead>
            <tr>
              <td>
                Name
              </td>
              <td>
                Description
              </td>
              <td>
                Price
              </td>
              <td style="width: 100px">
                Quantity
              </td>
              <td style="width: 100px" class="text-right">
                Total
              </td>
            </tr>
          </thead>
        <% job.standard_line_items.each do |li| %>
          <tr>
            <td>
              <%= li.name %>
            </td>
            <td>
              <%= li.description %>
            </td>
            <td>
              <%= number_to_currency li.unit_price %>
            </td>
            <td>
              <%= li.quantity %>
            </td>
            <td class="text-right">
              <%= number_to_currency li.total_price %>
            </td>
          </tr>
        <% end %>
        </table>
      <% end %>
    <% end #jobs.each %>  
  </div>
  <div class="col-xs-12">
    <table class="col-xs-12 table order-totals">
      <tbody>
        <tr>
          <td colspan="4">
      </tr>
      <tr id="subtotal">
        <td colspan='2'>
        <td style="width: 100px"><strong>Subtotal:</strong></td>
        <td style="width: 150px" class="text-right"><%= number_to_currency(@order.subtotal) %></td>
      </tr>
      <% unless @order.all_discounts.empty? %>
        <tr id="discounts">
          <td colspan='2'>
          <td style="width: 100px"><strong>Discounts:</strong></td>
          <td style="width: 150px" class="text-right">(<%= number_to_currency(@order.discount_total) %>)</td>
        </tr>
      <% end %>
      <tr id="tax">
        <td colspan='2'>
        <td><strong>Tax:</strong></td>
        <td class="text-right"><%= number_to_currency(@order.tax) %></td>
      </tr>

      <% if @order.shipping_price > 0 %>
          <tr id="shipping">
            <td colspan='2'>
            <td><strong>Shipping:</strong></td>
            <td class="text-right"><%= number_to_currency(@order.shipping_price) %></td>
          </tr>
      <% end %>

      <tr id="total">
        <td colspan='2'>
        <td><strong>Total:</strong></td>
        <td class="text-right"><%= number_to_currency(@order.total) %></td>
      </tr>
    </tbody>
  </table>
</div>

  <% if @order.comments.public_comments.any? %>
    <div class="col-xs-12">
    <% @order.comments.public_comments.each do |comment| %>
      <%= render 'comments/basic', comment: comment, hide_destroy: true %>
    <% end %>
    </div>
    <br clear="all" />
  <% end %>
  
  <% if @order.imprints.name_number.any? %>
    <div class="col-xs-12">
      <h3>Names/Numbers</h3>
      <table class="table table-condensed table-striped">
        <thead>
          <th>
            Job
          </th>
          <th>
            Imprint
          </th>
          <th>
            Imprintable
          </th>
          <th>
            Name
          </th>
          <th>
            Number
          </th>
        </thead>
        <% @order.name_and_numbers.each do |nn| %>
          <td>
            <%= nn.imprint.job.name %>
          </td>
          <td>
            <%= nn.imprint.name %>
          </td>
          <td>
            <%= nn.imprintable_variant.full_name %>
          </td>
          <td>
            <%= nn.name %>
          </td>
          <td>
            <%= nn.number %>
          </td>
        <% end %>
      </table>
    </div>
  <% end %>

  <div class="col-xs-12 text-center">
    <h3>Thank you for your business!</h3>
    <p>
      The Ann Arbor T-shirt Company<br />
      2275 S. Industrial Hwy - Ann Arbor MI, 48104, USA<br />
      734-274-2659 - sales@annarbortees.com
    </p>
  </div>
</div>


