<div class="col-sm-4 imprint-entry" data-id="<%= local_assigns[:imprint_id] || -1 %>">
  <div class="box-info imprint-container">
  <% if ImprintMethod.all.empty? %>
    <p>
      Looks like there aren't any Imprint Methods registered. 
      <%= link_to "Click here", new_imprint_method_path %> to add one.
    </p>
  <% else %>
      <div class="print-location-container">
        <%= render partial: 'imprint_methods/print_locations_select', locals: {
          print_locations: if local_assigns[:imprint_method]
              imprint_method.print_locations
            else
              ImprintMethod.first.print_locations
            end,

          default: local_assigns[:imprint_id].try(:id)
        } %>
      </div>

      <div class="form-group">
        <%= label_tag :imprint_method %>
        <%= select_tag :imprint_method, options_from_collection_for_select(
          ImprintMethod.all, :id, :name, local_assigns[:imprint_method].try(:id)
        ), class: 'form-control', onchange: "imprintMethodSelected($(this))" %>
      </div>

      <div class="full text-right">
        <span class="line-item-button" onclick="deleteImprint($(this), <%=job.id%>)">
          <i class="fa fa-2x danger fa-times-circle"></i>
        </span>
      </div>

    <% end %>
  </div>
</div>