<% # If you're here to fix a bug or refactor something, I'm sorry. %>

<% select_field_name_for = method(:imprint_select_field_name_for).to_proc.curry.(local_assigns[:imprint]) %>
<% id = local_assigns[:imprint].try(:id) || increment_new_imprint_counter %>

<div class="col-sm-4 imprint-entry" data-id="<%= id %>">
  <div class="box-info imprint-container">

  <% if ImprintMethod.all.empty? %>
    <p>
      Looks like there aren't any Imprint Methods registered.
      <%= link_to 'Click here', new_imprint_method_path %> to add one.
    </p>
  <% else %>
    <%= "[#{id}]" if id.to_i > 0 || !local_assigns[:imprint].try(:job_id).nil? %>

        <div class="form-group">
          <%= label_tag :imprint_method %>
          <% ImprintMethod.name_number.each do |im| %>
            <div class='hidden name-number-imprint-method-id' style='display: none;' data-id=<%= im.id %>></div>
          <% end %>
          <%= select_tag :imprint_method,
                         options_from_collection_for_select(
                                 ImprintMethod.all,
                                 :id,
                                 :name,
                                 local_assigns[:imprint_method].try(:id) ||
                                 local_assigns[:imprint].try(:imprint_method).try(:id)
          ),
                        include_blank: true,
                        id: "imprint_method_select_#{ id }",
                        class: 'form-control js-imprint-method-select' %>
        </div>

      <div class="print-location-container" <%= "data-select_tag_name=#{select_tag_name}" if local_assigns[:select_tag_name] %>>
        <%= render partial: 'imprint_methods/print_locations_select',
                   locals: { print_locations: if local_assigns[:imprint_method]
                                                imprint_method.print_locations
                                              elsif local_assigns[:imprint]
                                                imprint.imprint_method.try(:print_locations) || []
                                              else
                                                []
                                              end,

                             name: if local_assigns[:select_tag_name]
                                     select_tag_name
                                   elsif imprint_is_for_an_order? local_assigns[:imprint]
                                     select_field_name_for.(:print_location_id)
                                   else
                                      "imprint[#{id}][print_location_id]"
                                   end,
                             default: local_assigns[:imprint].try(:print_location).try(:id) } %>
      </div>



      <% if (local_assigns[:imrpint_method] || local_assigns[:imprint].try(:imprint_method)).try(:name_number?) %>
      <div class='name-number-checkbox'>
      <% else %>
      <div class='name-number-checkbox hidden'>
      <% end %>

        <% name_number_name = local_assigns[:description_name].try(:gsub, '[description]', '[name_number]') || "imprint[#{id}][name_number]" %>
        <%= label_tag name_number_name, 'Name/Number?', class: 'control-label' %>
        <%= hidden_field_tag name_number_name, '0' %>
        <%= check_box_tag(name_number_name, '1', local_assigns[:imprint].try(:name_number), class: 'form-control js-imprint-is-name-number') %>
      </div>

      <% if local_assigns[:imprint].try(:id) %>
        <%= render 'imprints/name_number_fields', imprint: imprint, imprint_method: imprint.imprint_method, name_format_name: local_assigns[:name_format_name], number_format_name: local_assigns[:number_format_name] %>
      <% else %>
        <div class="hidden generic-error-message js-name-number-format-fields">
          Please click 'Update' before assigning name and number!
        </div>
      <% end %>

      <div>
        <%= label_tag local_assigns[:description_name] || :description, 'Description' %><br />
        <%= text_area_tag local_assigns[:description_name] || "imprint[#{id}][description]", local_assigns[:imprint].try(:description), class: 'form-control js-imprint-description' %>
      </div>

      <% if local_assigns[:id_field_name] %>
        <%= hidden_field_tag id_field_name, local_assigns[:imprint].id %>
      <% end %>

      <div class="full text-right">
        <%= link_to '#', class: 'js-delete-imprint-button' do %>
          Remove Imprint
        <% end %>
      </div>

    <% end %>
  </div>
</div>
