<% field_name_for = method(:imprint_select_field_name_for).to_proc.curry.(imprint) %>
<div class="<%= imprint_method_name == 'Name/Number' ? nil : 'hidden' %> js-name-number-format-fields form-group">
  <%= label_tag :name_format %>
  <%= text_field_tag field_name_for.('name_format'), imprint.name_format, class: 'form-control js-name-format-field' %>
  <%= label_tag :number_format %>
  <%= text_field_tag field_name_for.('number_format'), imprint.number_format, class: 'form-control js-number-format-field' %>
</div>
