
<div class="box-info">
  <%= render partial: 'shared/modal_errors', locals: {object: style} %>
  <%= form_for style do |f| %>
      <!-- Horizontal form body -->
      <div id="horizontal-form" class="collapse in">

        <div class="form-group">
          <%= f.label :name, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :name, class: 'form-control' %>
            <p class="help-block">The name of the style</p>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :catalog_no, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :catalog_no, class: 'form-control' %>
            <p class="help-block">The catalog number of the style</p>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :sku, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_field :sku, class: 'form-control' %>
            <p class="help-block">SKU for this style</p>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :brand_id, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.collection_select( :brand_id, Brand.all, :id, :name,
              {
                :prompt => 'Please select a brand'
              },
              {
                class: 'form-control',
                id: 'style_brand_id'
              } ) %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :retail, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <div class="radio">
              <%= f.radio_button :retail, false, value: false %>
              No
            </div>
            <div class="radio">
              <%= f.radio_button :retail, true, value: false %>
              Yes
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :description, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_area :description, class: 'summernote' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info"><%= create_or_edit_text(style) %> Style</button>
          </div>
        </div>

      </div>
  <% end %>
</div>