<%= render 'shared/modal_errors', object: @payment_drop %>

<div class="row clear">
  <%= bootstrap_form_for @payment_drop do |f| %>
      <div class="col-xs-6">
        <h3>Details</h3>
        <div class="box-info">
          <p><%= f.label :salesperson %></p>
          <p><%= @current_user.full_name %>
            <%= link_to '(Not You? Sign Out)', destroy_user_session_path, class: 'md-trigger',
                        method: :delete, 'data-model'=>'logout-modal-alt' %>
          </p>

          <%= f.select :store_id, Store.all.map{|s| [s.name, s.id] }, include_blank: true %>
            <%= f.text_field :cash_included, prepend: "$", value: @payment_drop.cash_included || 0.0 %>
            <p id="expected-cash-included"></p>
            <%= f.text_area :difference_reason, disabled: true %>
          <%= f.submit ( f.object.new_record? ? "Create Payment Drop" : "Update Payment Drop"), class: "btn btn-primary" %>
        </div>
      </div>
      <div class="col-xs-6">
        <h3>Payments</h3>
        <div class="box-info" id="payment-drop-undropped-payments-list">
          <% if params[:payment_drop] && params[:payment_drop][:store_id] %>
            <%= render 'undropped_payments', payments: @undropped_payments %>
          <% else %>
            <p class="alert alert-info">
              You must first select a store before payments can be selected
            </p>
          <% end %>
        </div>
      </div>
  <% end %>
</div>