<table class="table table-responsive">
  <thead>
  <tr>
    <th>
      Include?
    </th>
    <th>Order</th>
    <th>Store</th>
    <th>Salesperson</th>
    <th>Payment Method</th>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody>
  <% payments.each do |payment| %>
      <tr>
        <%
           checked = (params[:payment_drop] &&
                     params[:payment_drop][:payment_ids] &&
                     params[:payment_drop][:payment_ids].include?(payment.id.to_s)) ||
                     ( defined?(included_payments) && included_payments.include?(payment))
        %>
        <td>
          <%= check_box_tag "payment_drop[payment_ids][]", payment.id, checked, class: 'undropped-payment', data: {'payment-amount' => payment.amount, 'payment-method' => payment.payment_method}  %>
        </td>
        <td>
          <% if payment.retail? %>
            <strong>Retail:</strong> <%= payment.retail_description %>
          <% else %>
            <%= link_to("##{payment.order.id} #{payment.order.name}", payment.order, target: "_blank") rescue 'n/a' %>
          <% end %>
        </td>
        <td>
          <%= payment.store.name %>
        </td>
        <td>
          <%= payment.salesperson.full_name %>
        </td>
        <td>
          <%= payment.display_payment_method %>
          <dl>
            <% %w(cc_name cc_transaction pp_transaction_id t_company_name tf_number).each do |field| %>
                <% unless payment.send(field).blank? %>
                    <% /^\w\w?_(?<field_display>.+)$/ =~ field.to_s %>
                    <dt><%= field_display.try(:humanize) %></dt>
                    <dd class="<%= field.to_s.gsub('_', '-') %>"><%= payment.send(field) || '<blank>' %></dd>
                <% end %>
            <% end %>
          </dl>
        </td>
        <td>
          <%= number_to_currency payment.amount %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
