<%= render partial: 'shared/modal_errors', locals: { object: proof } %>

<%= bootstrap_form_for [ order, proof ],   multipart: true,
  layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10' do |f| %>
<div>
  <%= f.text_field :approve_by, value: value_time(proof.approve_by), class: 'date js-datetimepicker' %>

  <%= f.select :job_id,
    options_from_collection_for_select(order.jobs, :id, :name, f.object.job_id.to_s),
    {}, { class: 'select2', label: 'Which Job does this proof belong to?'} %>

  <div class="col-sm-2 text-right">
    <p><strong>Which Artwork is included?</strong></p>
  </div>
  <div class="col-sm-10">
    <% order.artworks.each do |artwork| %>
      <div class="col-xs-6 col-sm-4 text-center" data-artwork-id="<%= artwork.id %>" style="padding: 4px; border: dashed 2px #DEDEDE">
        <%= image_tag artwork.preview.file.url(:medium), class: 'img-responsive center-block' %><br />
        <% checked = (proof && proof.artwork_ids.include?(artwork.id) ? { checked: true } : false ) %>
        <%= check_box_tag 'proof[artwork_ids][]', artwork.id, checked %>
      </div>
    <% end %>
  </div>

  <br clear="all" />

  <div class="col-sm-2 text-right">
    <p><strong>Are there any Mockups to include?</strong></p>
  </div>
  <br clear="all" />

  <p class="help-block col-sm-10 col-sm-offset-2"><%= max_file_size_message %></p>

  <%= f.fields_for :mockups, multipart: true do |ff| %>
    <%= render partial: 'mockup_fields', locals: { f: ff } %>
    <% end %>

    <% if proof.errors.include?(:mockups) %>
      <% proof.errors.full_messages_for(:mockups).each do |message| %>
      <p class="text-danger"><%= message %></p>
    <% end %>
  <% end %>

  <p>
    <%= link_to_add_fields "<i class='fa fa-plus proof-mockups'></i> Add Mockup".html_safe, f, :mockups %>
  </p>

  <p class="text-center">
    <%= f.submit class: 'btn btn-success' %>
  </p>
</div>
<% end %>
