<div class='user-profile-content'>
  <div class="row">
    <div class="col-sm-12">
      <div class="text-right">
        <% unless order.freshdesk_proof_ticket_id.blank? %>
          <%= link_to order.freshdesk_proof_ticket_link, class: 'btn btn-primary', target: :_blank do %>
            <i class="softwear-icon-freshdesk-icon"></i> Freshdesk Proof Ticket
          <% end %>
        <% end %>
        
        <% if order.artwork_state == 'pending_proofs' && !order.missing_proofs?  %>
          <%= link_to transition_order_path(order, :artwork_state, :proofs_ready ), method: :post, class: 'btn btn-primary' do %>
            <i class='glyphicon glyphicon-check'></i> All Proofs ready
          <% end %>
        <% end %>   
        
        <% if order.artwork_state == 'pending_proof_submission' && !order.missing_proofs? %>
          <%= link_to transition_order_path(order, :artwork_state, :proofs_submitted ), method: :post, class: 'btn btn-primary' do %>
            <i class='glyphicon glyphicon-envelope'></i> Pending Proofs Submitted
          <% end %>
        <% end %>   
        
        <% if order.artwork_state == 'pending_proof_approval' %>
          <%= link_to transition_order_path(order, :artwork_state, :proofs_approved ), method: :post, class: 'btn btn-primary' do %>
            <i class='glyphicon glyphicon-thumbs-up'></i> All Emailed Proofs Approved
          <% end %>
        <% end %>   

        <% if order.artwork_state_transitions.map(&:event).include? :proofs_rejected %>
          <%= link_to transition_order_path(order, :artwork_state, :proofs_rejected ), method: :post, class: 'btn btn-primary' do %>
            <i class='glyphicon glyphicon-thumbs-down'></i> Mark All Proofs Rejected
          <% end %>
        <% end %>
      </div>

      <div class="proof-list" >
        <% order.proofs.each do |proof| %>
          <%= render partial: 'proofs/proof',
                     locals: { order: order, proof: proof } %>
        <%end%>
      </div>

      <%= link_to new_order_proof_path(order),
                  class: 'btn btn-info btn-lg btn-block' do %>
        <i class="fa fa-list-alt"> </i>Add Proof
      <% end %>
    </div>
  </div>
</div>
