<div class="box-info full">
  <div class="table-responsive table-striped">
    <table data-sortable class="table" id="artwork-request-table">
      <thead>
        <tr>
          <th>Order</th>
          <th>Proofs</th>
          <th>Delivery Deadline</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% orders.each do |order| %>
          <tr>
            <td>
              <%= link_to order.name, "#{edit_order_path(order)}#artwork"%><br />
              <%= order.full_name %><br /><br />
              <dl>
                <dt>Order Salesperson:</dt>
                <dd><%= order.salesperson.full_name rescue 'unassigned' %></dd>
              </dl>
              <dl>
                <dt>Payment State
                </dt>
                <dd><%= render 'orders/state', which: 'payment_state', state: order.payment_status %>
                </dd>
                <dt>Artwork State</dt>
                <dd><%= render 'orders/state', which: 'artwork_state', state: order.artwork_state %>
                </dt>
                <dt>Invoice State
                </dt>
                <dd><%= render 'orders/state', which: 'invoice_state', state: order.invoice_state %>
                </dd>
                <dt>Production State
                </dt>
                <dd><%= render 'orders/state', which: 'production_state', state: order.production_state %>
                </dd>
                </dt>
              </dl>
            </td>
            <td>
              <% order.proofs.each do |proof| %>
                <dl>
                  <dt>State
                  </dt>
                  <dd><%= proof.state %>
                  </dd>
                  <dt>Approval By
                  </dt>
                  <dd><%= display_time proof.approve_by %></dd>
                  </dd>
                </dl>
                <h4>Mockups
                </h4>

                <% proof.mockups.each do |mockup| %>
                  <%= link_to(image_tag(mockup.file.url(:thumb)), mockup.file.url, target: "_blank") %><br />
                  <%= link_to "View", mockup.file.url %><br /><br />
                <% end %>

                <h4>Artworks
                </h4>

                <% proof.artworks.each do |artwork| %>
                  <div class="pull-left">
                    <%= link_to(image_tag(artwork.preview.file.url(:thumb)), artwork.preview.file.url, target: "_blank") %><br />
                    <%= link_to "View", artwork.preview.file.url %><br /><br />
                  </div>
                <% end %>
                <br clear="all" />
              <% end %>
            </td>
            <td>
              <%= display_date order.in_hand_by %>
            </td>
            <td>
              <% if !order.freshdesk_proof_ticket_id.blank? || order.can_put_artwork_into_production? %>
                <div class="btn-group btn-group-xs">
                  <% if order.can_put_artwork_into_production? %>
                      <%= link_to transition_order_path(order, :artwork_state, :put_artwork_into_production ), method: :post, class: 'btn btn-primary' do %>
                          <i class='glyphicon glyphicon-check'></i> Mark Artwork In Production
                      <% end %>
                  <% end %>

                  <%= link_to order.freshdesk_proof_ticket_link, class: 'btn btn-success', target: :_blank do %>
                  <i class="softwear-icon-freshdesk-icon"></i> Freshdesk
                <% end %>
                </div>
                <br />
              <% end %>

              <b>Manager</b><br />
              <div class="btn-group btn-group-xs">
              <% if order.can_proofs_ready? %>
                  <%= link_to transition_order_path(order, :artwork_state, :proofs_ready), method: :post, class: 'btn btn-success' do %>
                      <i class='glyphicon glyphicon-ok'></i> All Proofs Ready for Manager Approval
                  <% end %>
              <% end %>

              <% if order.can_proofs_manager_approved? %>
                  <%= link_to transition_order_path(order, :artwork_state, :proofs_manager_approved ), method: :post, class: 'btn btn-success' do %>
                      <i class='glyphicon glyphicon-thumbs-up'></i> All Proofs Manager Approved
                  <% end %>
              <% end %>

              <% if order.can_proofs_manager_rejected? %>
                  <%= link_to transition_order_path(order, :artwork_state, :proofs_manager_rejected ),
                              method: :post, class: 'btn btn-warning', data: {confirm: "Confirm all proofs manager rejected?"} do %>
                      <i class='glyphicon glyphicon-thumbs-down'></i> All Proofs Manager Rejected
                  <% end %>
              <% end %>
              </div><br />

              <b>Customer</b><br />
              <div class="btn-group btn-group-xs">
              <% if order.can_emailed_customer_proofs? %>
                  <%= link_to transition_order_path(order, :artwork_state, :emailed_customer_proofs ), method: :post, class: 'btn btn-primary' do %>
                      <i class='glyphicon glyphicon-envelope'></i> Emailed Customer All Proofs
                  <% end %>
              <% end %>

              <% if order.can_proofs_customer_approved? %>
                  <%= link_to transition_order_path(order, :artwork_state, :proofs_customer_approved ), method: :post, class: 'btn btn-primary' do %>
                      <i class='glyphicon glyphicon-thumbs-up'></i> Emailed Proofs Approved
                  <% end %>
              <% end %>

              <% if order.can_proofs_customer_rejected? %>
                  <%= link_to transition_order_path(order, :artwork_state, :proofs_customer_rejected ),
                              method: :post, class: 'btn btn-warning', data: {confirm: "Confirm all proofs customer rejected?"} do %>
                      <i class='glyphicon glyphicon-thumbs-down'></i> All Proofs Customer Rejected
                  <% end %>
              <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
