<div id="proof-<%= proof.id %>">
  <div class="the-notes info proof-notes">
    <div class="row">
      <div class="col-sm-3">
        <h4>Proof #<%= proof.id %></h4>
          <dl>
            <dt>Proof State:</dt>
            <dd><%= proof.human_state_name %></dd>
            <dt>Approve By:</dt>
            <dd><%= display_time(proof.approve_by) %></dd>
            <dt>Job & ID:</dt>
            <dd><%= proof.job.try(:name) || 'unassigned' %> - <%= proof.job.try(:id) || 'no id' %></dd>
          </dl>
      </div>

      <div class="col-sm-5">
        <h4>Mockups</h4>
        <% proof.mockups.each do |mockup| %>
          <div class="text-center col-xs-12" data-mockup-id="<%= mockup.id %>">
          <%= link_to mockup.file.url, target: :_blank do %>
            <%= image_tag mockup.file.url(:large), class: 'img-responsive center-block' %>
            Open in New Tab
          <% end %>
          </div>
        <% end %>
      </div>

      <div class="col-sm-4">
        <h4>Artworks</h4>
        <% proof.artworks.each do |artwork| %>
          <% if artwork.preview.file_content_type =~ /image/ %>
            <div class="text-center col-xs-6" data-artwork-id="<%= artwork.id %>">
              <%= link_to full_view_artwork_path(artwork), target: :_blank do %>
                <%= preview_artwork artwork, :thumb, class: 'img-responsive center-block' %>
                Open in New Tab
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <br clear="all" />

    <% unless params[:disable_buttons] %>
    <div class="col-xs-12">
      <%= link_to edit_order_proof_path(order, proof), class: 'btn btn-primary' do %>
        <i class="glyphicon glyphicon-pencil"></i> Edit
      <% end %>

      <% if proof.can_ready? %>
        <%= link_to transition_order_proof_path(order, proof, :state, :ready),
            method: :post, class: 'btn btn-success', data: {action: :update, toggle: :tooltip,
            title: 'Approve' } do %>
          <i class="glyphicon glyphicon-ok"></i> Ready For Manager Approval
        <% end %>
      <% end %>

      <% if proof.can_manager_approved? %>
        <%= link_to transition_order_proof_path(order, proof, :state, :manager_approved),
            method: :post, class: 'btn btn-success', data: {action: :update, toggle: :tooltip,
            title: 'Approve' } do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> Manager Approved
        <% end %>
      <% end %>

      <% if proof.can_manager_rejected? %>
        <%= link_to transition_order_proof_path(order, proof, :state, :manager_rejected),
            method: :post, class: 'btn btn-warning', data: {action: :update, toggle: :tooltip,
            title: 'Approve',  confirm: "Confirm Manager Rejection?" } do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> Manager Rejected
        <% end %>
      <% end %>

      <% if proof.can_emailed_customer? %>
        <%= link_to transition_order_proof_path(order, proof, :state, :emailed_customer),
            method: :post, class: 'btn btn-success', data: {action: :update, toggle: :tooltip,
            title: 'Approve' } do %>
          <i class="glyphicon glyphicon-envelope"></i> Emailed Customer
        <% end %>
      <% end %>

      <% if proof.can_customer_approved? %>
        <%= link_to transition_order_proof_path(order, proof, :state, :customer_approved),
            method: :post, class: 'btn btn-success', data: {action: :update, toggle: :tooltip,
            title: 'Approve' } do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> Customer Approved
        <% end %>
      <% end %>

      <% if proof.can_customer_rejected?  %>
        <%= link_to transition_order_proof_path(order, proof, :state, :customer_rejected),
          method: :post, class: 'btn btn-danger', data: {action: :update, toggle: :tooltip,
          title: 'Approve',  confirm: "Confirm Customer Rejection" } do %>
        <i class="glyphicon glyphicon-thumbs-down"></i> Customer Rejected
      <% end %>
      <% end %>

      <% if %w(customer_rejected manager_rejected).include? proof.state %>
        <%= link_to order_proof_path(order, proof), method: :delete, class: 'btn btn-danger',
          remote: true, data: {confirm: 'Are you sure you want to delete this proof?'} do %>
          <i class="glyphicon glyphicon-remove-circle"></i> Delete
        <% end %>
      <% end %>
    </div>
    <% end %>

  </div>
</div>
<br clear="all" />



