<div>
  Fortunately, information about this error has been collected, and can
  be reported to the dev team.
</div>
<div>
  <%= link_to 'Show error details', '#', id: 'show-error-details-btn', onclick: '$("#error-details").toggle(); return false;', class: 'btn btn-info' %>
  <div id='error-details' style='display: none;'>
    <p><%= error.class.name %>: <%= error.message %></p>
    <% error.backtrace.each do |line| %>
      <%= line %><br />
    <% end %>
  </div>
</div>

<%= form_tag error_report_path, method: :post do %>
  <%= hidden_field_tag 'error_class', error.class.name %>
  <%= hidden_field_tag 'error_message', error.message %>
  <%= hidden_field_tag 'backtrace', error.backtrace.join("\n") %>
  <%= hidden_field_tag 'user_id', current_user.id %>

  <div class='form-group'>
    <%= label_tag 'user_message', 'Describe how you reached this error.' %>
    <%= text_area_tag 'user_message', '', class: 'form-control' %>
  </div>

  <%= submit_tag 'Send', class: 'btn btn-info' %>
<% end %>
