<% # render partial: 'shared/modal_errors', locals: { object: payment } %>

<div class='col-xl-6'>
  <div class='box-info'>
    <div class="icon-box">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x success"></i>
        <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
      </span>
    </div>

    <div class="text-box">
      <h3><%= order.balance_excluding(payment) %></h3>

      <p>Order Balance</p>
    </div>

    <div class="clear"></div>

    <div class="progress progress-xs">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= order.percent_paid %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= order.percent_paid %>%">
        <span class="sr-only"><%= order.percent_paid %>&#37; Paid</span>
      </div>
    </div>
  </div>
</div>

<div class='col-xl-6'>
  <div id="horizontal-form" class="collapse in">
    <%= bootstrap_form_for [order, payment], url: customer_order_payments_path(order.customer_key), remote: true do |f| %>
      <%= f.hidden_field :salesperson_id, value: salesperson_or_customer.id %>
      <%= f.hidden_field :payment_method, value: Payment::VALID_PAYMENT_METHODS.key('Credit Card') %>
      <%= f.hidden_field :order_id, value: order.id %>
      <%= f.hidden_field :store_id, value: order.store_id %>

      <div id="data_supply" data-total="<%= order.total %>" aria-hidden="true"></div>

      <%= f.text_field :amount, prepend: '$', label: 'Amount to Pay', value: payment.amount || order.balance_excluding(payment) %>

      <hr />

      <% if can_do_paypal_express? %>
        <div class='row'>
          <div class='col-sm-8'>
            <strong>Pay with Credit Card</strong>

            <%= render 'customer/payments/address_form', payment: payment, order: order, f: f %>
            <%= render 'customer/payments/credit_card_form', payment: payment, order: order, f: f %>

            <%= f.submit 'Apply Payment', class: 'btn btn-success', id: 'submit_payment_button',
              data: { confirm: "Are you sure you would like to add this payment?" } %>
          </div>
          <div class='col-sm-1'>
            <em>OR</em>
          </div>
          <div class='col-sm-3'>
            <%= link_to paypal_express_customer_order_payments_path(order.customer_key), id: 'paypal-express' do %>
              <img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="left" style="margin-right:7px;" alt="PayPal Check out">
            <% end %>
          </div>
        </div>

      <% else %>

        <%= render 'customer/payments/address_form', payment: payment, order: order, f: f %>
        <%= render 'customer/payments/credit_card_form', payment: payment, order: order, f: f %>

        <%= f.submit 'Apply Payment', class: 'btn btn-success', id: 'submit_payment_button',
          data: { confirm: "Are you sure you would like to add this payment?" } %>
      <% end %>

    <% end %>
  </div>
</div>
