<div class="page-heading animated fadeInDownBig col-lg-9">
  <h1>FBA Job Products</h1>
</div>
<div class="col-lg-2"></div>
<div class="col-lg-1">
  <%= link_to '+', new_fba_product_path, class: 'btn btn-success' %>
</div>

<%= search_form_for FbaProduct, class: 'form-horizontal' do |s| %>
  <div class='form-group'>
    <%= s.fulltext placeholder: 'Search Terms', class: 'form-control' %>
  </div>
  <div class='col-sm-3'></div>
  <div class="col-sm-6">
    <%= s.submit class: 'btn-lg btn-block margin-top-10' %>
  </div>
  <div class='col-sm-3'></div>
<% end %>
<div class='clearfix'></div>

<%= paginate @fba_products %>

<div class='box-info full clear'>
  <div class='table-responsive'>
    <table class='table table-hover table-striped'>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Master SKU</th>
          <th>Child SKUs</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @fba_products.each do |fba_product| %>
          <tr>
            <td><%= fba_product.id %></td>
            <td><%= fba_product.name %></td>
            <td><%= fba_product.sku %></td>
            <td><%= fba_product.fba_skus.size %></td>
            <td>
              <div class='btn-group btn-group-xs'>
                <%= link_to fa(:edit), edit_fba_product_path(fba_product), class: 'btn btn-sm btn-warning' %>
                <%= link_to fa('times-circle'), fba_product_path(fba_product), method: :delete, 'data-action' => 'destroy', class: 'btn btn-sm btn-danger', data: { confirm: %(Delete FBA product "#{fba_product.name}"?) } %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @fba_products %>
