<div class="page-heading animated fadeInDownBig pull-left">
<h1>FBA Product - <%= @fba_product.name %> <small><%= @fba_product.sku %></small></h1>
</div>

<div class='pull-right'>
  <%= link_to "#{fa 'edit'} Edit".html_safe, edit_fba_product_path(@fba_product), class: 'btn btn-warning' %>
  <%= link_to "#{fa 'times-circle-o'} Delete".html_safe, fba_product_path(@fba_product), method: :delete, 'data-action' => 'destroy', class: 'btn btn-danger', data: { confirm: %(Delete this FBA product mapping?) } %>
</div>

<div class='clearfix'></div>

<div class='box-info'>
  <div class='row'>
    <div class='col-sm-10'>
      <strong>Name:</strong> <%= @fba_product.name %>
    </div>
    <div class='col-sm-2'></div>
  </div>
  <div class='row'>
    <div class='col-sm-10'>
      <strong>Master SKU:</strong> <%= @fba_product.sku %>
    </div>
    <div class='col-sm-2'></div>
  </div>

  <br />

  <div class='row'>
    <div class='col-sm-2'>
      <strong>Child SKUs</strong>
    </div>
    <div class='col-sm-10 table-responsive'>
      <table class='table table-hover table-striped'>
        <thead>
          <tr>
            <th>SKU</th>
            <th>Imprintable Variant</th>
            <th>FBA Job Template</th>
          </tr>
        </thead>

        <tbody>
          <% @fba_product.fba_skus.each do |fba_sku| %>
            <tr>
              <td><%= fba_sku.sku %></td>
              <td><%= link_to fba_sku.imprintable_variant.fancy_name, fba_sku.imprintable %></td>
              <td><%= link_to fba_sku.fba_job_template.name, fba_sku.fba_job_template %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
