<p><%= activity.owner.full_name rescue "(User Unavailable)" %> changed 
<% if activity.trackable %>
  <%= link_to "artwork request ##{activity.trackable_id}", order_artwork_request_path(activity.trackable.order, activity.trackable)  %> 
<% else %>
  unknown artwork request
<% end %>
<b><%= activity.parameters['machine'] %></b> from 
  <b><%= activity.parameters['old_state'] %></b> to 
  <b><%= activity.parameters['new_state'] %></b> via transition 
  <b><%= activity.parameters['transition'] %></b>
  <% unless activity.parameters['details'].blank? %>
    with the following details <br />
    <blockquote><%= activity.parameters['details'] %></blockquote>
  <% end %>
</p>
