<div class="user-profile-content">
  <% if Setting.payflow_login.blank? || Setting.payflow_password.blank? %>
    <div class='col-sm-12'>
      <div class='alert alert-danger'>
        Payflow credentials are not all set.
        Credit card payments and refunds will NOT charge the
        customer's card. Go <%= link_to 'here', integrated_crms_path %> to fix this.
      </div>
    </div>
  <% end %>

  <div class="col-sm-6">
    <div class="box-info">
      <div class="alert <%= get_style_from_status(order.payment_status, 'alert')%>">
        <%= order.payment_status %>
      </div>

      <div class="icon-box">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x success"></i>
          <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
        </span>
      </div>

      <div class="text-box">
        <h3><%= order.balance %></h3>

        <p>Balance</p>
      </div>

      <div class="clear"></div>

      <div class="progress progress-xs">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= order.percent_paid %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= order.percent_paid %>%">
          <span class="sr-only"><%= order.percent_paid %>&#37; Paid</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <h3><strong>Apply</strong> Payment</h3>

    <div class="btn-group btn-group-sm max-width">
      <%= button_to new_order_payment_path(order.id) + '?payment_method=1',
                    { class: 'additional-icon btn btn-default payment-button',
                      method: :get, remote: true, 'data-target' => '#payment-form',
                      id: 'cash-button' } do %>
        <i class="fa fa-money"></i> Cash
      <% end %>

      <%= button_to new_order_payment_path(order.id) + '?payment_method=8', {
              class: 'additional-icon btn btn-default payment-button', method: :get,
              remote: true, 'data-target' => '#payment-form', id: 'cc-button' } do %>
        <i class="fa fa-cc-visa"></i> Credit Card
      <% end %>

      <%= button_to new_order_payment_path(order.id) + '?payment_method=3', {
              class: 'additional-icon btn btn-default payment-button', method: :get,
              remote: true, 'data-target' => '#payment-form', id: 'check-button' } do %>
        <i class="fa fa-edit"></i> Check
      <% end %>

      <%= button_to new_order_payment_path(order.id) + '?payment_method=4', {
              class: 'additional-icon btn btn-default payment-button', method: :get,
              remote: true, 'data-target' => '#payment-form', id: 'paypal-button' } do %>
        <i class="fa fa-paypal"></i> PayPal
      <% end %>

      <%= button_to new_order_payment_path(order.id) + '?payment_method=1', {
              class: 'additional-icon btn btn-default payment-button', method: :get,
              remote: true, 'data-target' => '#payment-form', id: 'wire-button' } do %>
        <i class="fa fa-code-fork"></i> Wire Transfer
      <% end %>

      <%= button_to new_order_payment_path(order.id) + '?payment_method=5', {
              class: 'additional-icon btn btn-default payment-button', method: :get,
              remote: true, 'data-target' => '#payment-form', id: 'trade-first-button' } do %>
        <i class="fa fa-asterisk"></i> Trade First
      <% end %>

      <%= button_to new_order_payment_path(order.id) + '?payment_method=6', {
              class: 'additional-icon btn btn-default payment-button', method: :get,
              remote: true, 'data-target' => '#payment-form', id: 'trade-button' } do %>
        <i class="fa fa-exchange"></i> Trade
      <% end %>

      <%= button_to new_order_payment_path(order.id) + '?payment_method=2', {
              class: 'additional-icon btn btn-default payment-button', method: :get,
              remote: true, 'data-target' => '#payment-form', id: 'swiped-cc-button' } do %>
        <i class="fa fa-credit-card"></i> Swiped Credit Card
      <% end %>
    </div>

    <div id="payment-form" class="collapse"></div>

    <h3><strong>Apply</strong> Discount</h3>

    <div class="btn-group btn-group-sm max-width">
      <%= button_to new_order_discount_path(order.id) + '?form=coupon', {
              class: 'additional-icon btn btn-default payment-button', method: :get,
              remote: true, 'data-target' => '#discount-form', id: 'coupon-button' } do %>
        <i class="fa fa-tag"></i> Coupon
      <% end %>

      <%= button_to new_order_discount_path(order.id) + '?form=discount', {
              class: 'additional-icon btn btn-default payment-button', method: :get,
              remote: true, 'data-target' => '#discount-form', id: 'discount-button' } do %>
        <i class="fa fa-dollar"></i> Discount
      <% end %>

      <%= button_to new_order_discount_path(order.id) + '?form=in_store_credit', {
              class: 'additional-icon btn btn-default payment-button', method: :get,
              remote: true, 'data-target' => '#discount-form', id: 'in-store-credit-button' } do %>
        <i class="fa fa-minus-square-o"></i> Apply In-Store Credit
      <% end %>
    </div>

    <div id="discount-form" class="collapse"></div>

    <h3><strong>Issue</strong> Refund</h3>

    <div class="btn-group btn-group-sm max-width">
      <%= button_to new_order_discount_path(order.id) + '?form=refund', {
              class: 'additional-icon btn btn-default payment-button', method: :get,
              remote: true, 'data-target' => '#refund-form', id: 'refund-button' } do %>
        <i class="fa fa-mail-reply"></i> Monetary Refund
      <% end %>

      <%= button_to new_in_store_credit_path(order_id: order.id), {
        class: 'additional-icon btn btn-default payment-button', method: :get,
        remote: true, 'data-target' => '#refund-form', id: 'issue-in-store-credit-button'
      } do %>
        <i class="fa fa-plus-square-o"></i> Issue In-Store Credit
      <% end %>
    </div>

    <div id="refund-form" class="collapse"></div>
  </div>

  <div class="col-sm-12">
    <h3><strong>Payments</strong></h3>
    <%= render 'payments/list', payments: order.payments %>
  </div>

  <div class="col-sm-12" id='order-discounts'>
    <%= render 'payments/discounts', order: order %>
  </div>
</div>
