<%= render partial: 'shared/modal_errors', locals: { object: @payment } %>

<div id="horizontal-form" class="collapse in">
<%= bootstrap_form_for [@order, @payment] do |f| %>
    <%= f.hidden_field :salesperson_id, value: @current_user.id %>
    <%= f.hidden_field :order_id, value: @order.id %>
    <%= f.hidden_field :payment_method, value: payment_method %>

    <div id="data_supply" data-total="<%= @order.total %>" aria-hidden="true"></div>

    <p><%= f.label :salesperson %>
    </p>

    <p><%= @current_user.full_name %>
    <%= link_to '(Not You? Sign Out)', destroy_user_session_path, class: 'md-trigger',
                method: :delete, 'data-model'=>'logout-modal-alt' %>
    </p>

    <p><%= f.label :method %>
    </p>
    <p><%= english_payment_method = Payment::VALID_PAYMENT_METHODS[payment_method.to_i] %>
    </p>

    <%= f.select :store_id, Store.order(:name).map{|s| [s.name, s.id] }, { selected: @current_user.store_id}, { } %>
    <%= f.text_field :amount, prepend: '$' %>

    <% if english_payment_method == 'Check' %>
      <%= f.text_field :check_dl_no, label: 'Customer Drivers License' %>
      <%= f.text_field :check_phone_no, label: 'Customer Phone Number' %>

    <% elsif english_payment_method == 'PayPal' || payment_method == 'Wire Transfer' %>
      <%= f.text_field :pp_transaction_id, label: 'Transaction ID' %>

    <% elsif english_payment_method == 'Trade First' %>
      <%= f.text_field :t_name, label: 'Trade First Cardmember Name' %>
      <%= f.text_field :t_company_name, label: 'Trade First Company Name' %>
      <%= f.text_field :tf_number, label: 'Trade First Card Number' %>

    <% elsif english_payment_method == 'Trade' %>
      <%= f.text_field :t_name, label: 'Trade Partner Name' %>
      <%= f.text_field :t_company_name, label: 'Trade Partner Company' %>
      <%= f.text_area :t_description, label: 'Description of traded goods' %>

    <% elsif english_payment_method == 'Credit Card' %>
      <div class='form-group well'>
        <%= f.text_field :cc_name, label: 'Name on Card', value: @payment.cc_name || @order.full_name %>
        <%= f.text_field :cc_company, label: 'Company', value: @payment.cc_company || @order.full_name %>
        <%= f.label :cc_number do %>
          Card Number <i id='credit-card-status' class='fa fa-times'></i>
        <% end %>

        <div class='input-group'>
          <div class='input-group-addon cc-icon cc-icon-empty' id='credit-card-icon'>
          </div>
          <%= f.text_field :cc_number, hide_label: true %>
        </div>
        <div class='text-danger' id='credit-card-warning' style='display: none;'>
        </div>

        <%= f.select :cc_type, Payment::CREDIT_CARD_TYPES.to_a.map(&:reverse), include_blank: true, label: 'Card Type' %>
        <div class='form-inline'>
          <div class='input-group cc-exp'>
            <div class='input-group-addon'><%= f.label :cc_expiration, 'Expiration' %></div>
            <%= f.text_field :cc_expiration, label: 'Expiration', hide_label: true, placeholder: 'MM/YY', maxlength: 5 %>
          </div>
          <div class='input-group cc-cvc'>
            <div class='input-group-addon'><%= f.label :cc_cvc, 'CVC' %></div>
            <%= f.text_field :cc_cvc, label: 'CVC', hide_label: true, maxlength: 4 %>
          </div>
        </div>

        <div class='clearfix'></div>
      </div>
    <% end %>

    <%= f.submit 'Apply Payment', class: 'btn btn-success', id: 'submit_payment_button',
      data: {confirm: 'Are you sure you would like to add this payment?'} %>

  <% end %>
</div>
