<div class="user-profile-content">
  <div class="col-sm-6">
    <div class="box-info">
      <div class="alert <%= get_style_from_status(order.payment_status, 'alert')%>">
        <%= order.payment_status %>
      </div>
      
      <div class="icon-box">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x success"></i>
          <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
        </span>
      </div>

      <div class="text-box">
        <h3><%= order.balance %></h3>

        <p>Balance</p>
      </div>

      <div class="clear"></div>

      <div class="progress progress-xs">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= order.percent_paid %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= order.percent_paid %>%">
          <span class="sr-only"><%= order.percent_paid %>&#37; Paid</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <h3><strong>Apply</strong> Payment</h3>

    <div class="btn-group btn-group-sm max-width">
      <%= button_to new_order_payment_path(params[:id]) + '?payment_method=1',
                    { class: 'additional-icon btn btn-default payment-button',
                      method: :get, remote: true, 'data-target' => '#payment-form',
                      id: 'cash-button' } do %>
        <i class="fa fa-money"></i> Cash
      <% end %>

      <%= button_to new_order_payment_path(params[:id]) + '?payment_method=2', {
              class: 'additional-icon btn btn-default payment-button', method: :get,
              remote: true, 'data-target' => '#payment-form', id: 'cc-button' } do %>
        <i class="fa fa-credit-card"></i> Swiped Credit Card
      <% end %>

      <%= button_to new_order_payment_path(params[:id]) + '?payment_method=3', {
              class: 'additional-icon btn btn-default payment-button', method: :get,
              remote: true, 'data-target' => '#payment-form', id: 'check-button' } do %>
        <i class="fa fa-edit"></i> Check
      <% end %>

      <%= button_to new_order_payment_path(params[:id]) + '?payment_method=4', {
              class: 'additional-icon btn btn-default payment-button', method: :get,
              remote: true, 'data-target' => '#payment-form', id: 'paypal-button' } do %>
        <i class="fa fa-rub"></i> PayPal
      <% end %>

      <%= button_to new_order_payment_path(params[:id]) + '?payment_method=1', {
              class: 'additional-icon btn btn-default payment-button', method: :get,
              remote: true, 'data-target' => '#payment-form', id: 'wire-button' } do %>
        <i class="fa fa-code-fork"></i> Wire Transfer
      <% end %>

      <%= button_to new_order_payment_path(params[:id]) + '?payment_method=5', {
              class: 'additional-icon btn btn-default payment-button', method: :get,
              remote: true, 'data-target' => '#payment-form', id: 'trade-first-button' } do %>
        <i class="fa fa-asterisk"></i> Trade First
      <% end %>

      <%= button_to new_order_payment_path(params[:id]) + '?payment_method=6', {
              class: 'additional-icon btn btn-default payment-button', method: :get,
              remote: true, 'data-target' => '#payment-form', id: 'trade-button' } do %>
        <i class="fa fa-exchange"></i> Trade
      <% end %>
    </div>

    <div id="payment-form" class="collapse"></div>

    <h3><strong>Make</strong> Payment</h3>

    <div class="btn-group btn-group-sm">
      <a data-toggle="tooltip" title="Quick View" class="btn btn-default">
        <i class="fa fa-credit-card"></i> eCreditCard
      </a>

      <a data-toggle="tooltip" title="Printable Invoice" class="btn btn-default">
        <i class="fa fa-rub"></i> Request from PayPal
      </a>
    </div>
  </div>

  <div class="col-sm-12">
    <h3><strong>Payments</strong> List</h3>

    <ul>
      <% order.payments.each_with_index do |payment, index| %>
        <% unless payment.is_refunded? %>
          <dt>Payment <%= index + 1 %></dt>
          <dd>Amount: $<%= payment.amount %></dd>
          <dd>
            <%= link_to 'Refund Payment', edit_payment_path(payment, refund: true, order_id: order.id),
                         class: 'order_payment_refund_link', remote: true %>
          </dd>
          <br>
        <% end %>
       <% end %>
    </ul>
  </div>
</div>
