<div class="box-info full">
  <%= render partial: 'shared/modal_errors', locals: { object: payment } %>
  <%= form_for payment, builder: LancengFormBuilder do |f| %>
    <!-- Horizontal form body -->
    <div id="horizontal-form" class="collapse in">

      <div class="form-group">
        <%= f.label :refund_reason, 'Refund Reason' %>
        <%= f.error_for :refund_reason %>
        <div class="col-sm-10" style="width: 100%;">
          <%= f.text_field :refund_reason, class: 'col-sm-2 control-label' %>
          <p class="help-block">Reason for refunding the payment</p>
        </div>
      </div>

      <%= f.hidden_field :refunded, :value => true %>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" id="submit_button" class="btn btn-info">Submit</button>
        </div>
      </div>

    </div>
  <% end %>
</div>
