<div class="col-xs-12 clearfix clear">
  <% if session[:pricing_groups].nil? || session[:pricing_groups].empty? %>
    <div class="alert alert-warning clear">
      Your pricing table is currently empty
    </div>
  <% else %>

    <% # TODO continue on %>
    <% pricing_groups = omit_unused_prices_from session[:pricing_groups] %>

    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <%= pricing_table_headers_for pricing_groups %>
        </tr>
      </thead>

      <tbody>
      <% pricing_groups.each do |group, pricing_array| %>
          <tr>
            <td colspan="9"><b>Group:</b> <%= group %></td></tr>
              <% pricing_array.each_with_index do |pricing_hash, index| %>
              <tr id=<%= "price-#{group.to_s.gsub(/\s/, '_')}-#{index}" %>>
                <%= pricing_table_data_for pricing_hash %>
                <td>
                  <div id="price_actions_<%= index %>">
                    <%= link_to price_path(id: index, group: group),
                                method: :delete,  remote: true, class: 'btn btn-xs btn-danger',
                                data: {
                                        action: 'destroy',
                                        confirm: 'Are you sure you would like to delete the price?'
                                } do %>
                        <i class="fa fa-times"></i> Remove
                    <% end %>
                  </div>
                </td>
              </tr>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-xs-12 text-right">
    <%= link_to destroy_all_prices_path, class: 'btn btn-danger',
                data: { confirm: 'Are you sure you want to delete every price?' },
                remote: true do %>
        <i class="glyphicon glyphicon-remove"></i> Delete Pricing Table
    <% end %>

    <%= link_to new_quote_path, class: 'btn btn-success' do %>
        <i class="glyphicon glyphicon-usd"></i> Create Quote from Table
    <% end %>

  </div>
  <% end %>
<br clear="all" />
