<div class="box-info full">
  <%= form_tag(prices_path, remote: true) do %>

  <div class="form-group clearfix">
    <%= label_tag :decoration_price, 'Decoration Price', class: 'col-sm-12 control-label' %>

    <div class="col-sm-12">
      <div class="input-group">
        <span class="input-group-addon">$</span>

        <%= text_field_tag :decoration_price, nil,
                           placeholder: 'Enter decoration price...', class: 'form-control', required: true %>

      </div>
      <p class="help-block">The decoration price of the imprintable</p>
    </div>
    </div>

  <div class="form-group clearfix">
    <%= label_tag :pricing_group, 'Pricing Group', class: 'col-sm-12 control-label' %>

    <div class="col-sm-12">
      <% unless session[:pricing_groups].nil? || session[:pricing_groups].empty? %>
          <div id="pricing-group-select" class="form-group col-xs-9">
            <%= select_tag :pricing_group_select, options_for_select(session[:pricing_groups].keys), class: 'form-control', prompt: 'Select Pricing Group...', required: true %>
          </div>
          <div id="pricing-group-input" class="form-group col-xs-9" style="display: none;">
            <%= text_field_tag :pricing_group_text, nil, class: 'form-control', placeholder: 'Pricing Group Name'%>
          </div>
          <div class="col-xs-3">
            <%= link_to '#', class: 'btn btn-info toggle-group', id: 'pricing-group-select-toggle' do %>
                <i class="glyphicon glyphicon-list-alt"></i> New Group
            <% end %>
          </div>
          <div class="col-xs-3">
            <%= link_to '#', class: 'btn btn-info toggle-group', style: 'display: none', id: 'pricing-group-input-toggle' do %>
                <i class="glyphicon glyphicon-list-alt"></i> Existing Group
            <% end %>
          </div>
      <% else %>
          <div id="pricing-group-input" class="form-group">
            <%= text_field_tag :pricing_group_text, nil, class: 'form-control', placeholder: 'Pricing Group Name', required: true  %>
          </div>
      <% end %>
      <p class="help-block clearfix clear">Group for which price belongs (1-Color Prices, for instance)</p>
    </div>
  </div>

    <%= hidden_field_tag :id, imprintable.id %>

    <div class="form-group clearfix">
      <div class="col-xs-offset-2 col-xs-8">
        <%= button_tag class: 'btn btn-success btn-fullwidth' do %>
            <i class="glyphicon glyphicon-plus-sign"></i> Add to Pricing Table
        <% end %>
      </div>
    </div>
  <% end %>
</div>
