<div class='full-content-center animated fadeInDownBig'>
  <div class='box-info'>
    <h2>Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, builder: LancengFormBuilder) do |f| %>
      <%= render_error_modal_for resource %>

      <%= f.hidden_field :reset_password_token %>

      <%= render partial: 'users/password_fields', locals: { f: f, no_current: true } %>

      <div><%= f.submit 'Change my password' %></div>
    <% end %>

    <%= render 'users/shared/links' unless Rails.env.test? %>
  </div>
</div>
