<%= f.hidden_field :discountable_type, value: 'Order' %>
<%= f.hidden_field :discountable_id, value: @order.id %>

<div class='form-group'>
  <div class="form-group">
    <%= f.label :amount %>

    <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.text_field :amount %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :reason %>
    <%= f.text_area :reason %>
  </div>
</div>
