<%= form_for [@order, @discount], builder: LancengFormBuilder, remote: true do |f| %>
  <div id="horizontal-form" class="collapse in">
    <%= f.hidden_field :user_id, value: @current_user.id %>

    <div class="form-group">
      <%= f.label :user %><br>

      <%= @current_user.full_name %>

      <%= link_to '(Change user)', destroy_user_session_path, class: 'md-trigger',
                  method: :delete, 'data-model'=>'logout-modal-alt' %>
    </div>

    <%= render params[:form], f: f, order: @order %>

    <%= f.submit 'Apply Discount', class: 'btn btn-info' %>
  </div>
<% end %>
