<div class='form-group'>
  <%= f.hidden_field :applicator_type, value: 'Refund' %>

  <div class="form-group">
    <%= f.label :discount_method, 'Refund Method' %>
    <%= f.select :discount_method, options_for_select(Discount::PAYMENT_METHODS, @discount.discount_method || 'RefundPayment'), {} %>
  </div>

  <div class="form-group refund-discountable-type">
    <%= f.label :discountable_type, 'Apply to' %>
    <%= f.select :discountable_type,
      options_for_select(
        [['This order', 'Order'], ['A job', 'Job'], ['A payment', 'Payment']],
        @discount.discountable_type
      ),
      include_blank: true
    %>
  </div>

  <%= f.hidden_field :discountable_id, value: @order.id, disabled: f.object.discountable_type != 'Order', id: 'discountable-order-id' %>

  <div class="form-group refund-job-select" style="display: none;">
    <%= f.label :discountable_id, 'Job' %>
    <%= f.select :discountable_id, options_from_collection_for_select(@order.jobs, :id, :name), disabled: f.object.discountable_type != 'Job' %>
  </div>
  <div class="form-group refund-payment-select" style="display: none;">
    <%= f.label :discountable_id, 'Payment' %>
    <%= f.select :discountable_id, options_with_data_attr(@order.payments, :id, :identifier, f.object.discountable_id, { transaction: :transaction_id }), disabled: f.object.discountable_type != 'Payment' %>
  </div>

  <div class="form-group">
    <%= f.label :amount %>

    <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.text_field :amount %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :reason %>
    <%= f.text_area :reason %>
  </div>

  <div class="form-group">
    <%= f.label :transaction_id, 'Transaction ID' %>
    <%= f.text_field :transaction_id %>

    <% if @discount.discountable.try(:credit_card?) && can_charge_card? %>
      <div class='help-block'>
        If Transaction ID is filled out, the card used for the selected payment will be credited.
      </div>
    <% end %>
  </div>
</div>
