<div class='form-group'>
  <%= f.hidden_field :applicator_type, value: 'Refund' %>
  <%= f.hidden_field :discount_method, value: 'RefundPayment' %>
  <%= f.hidden_field :discountable_type, value: 'Payment' %>
  <div class="form-group refund-payment-select">
    <%= f.label :discountable_id, 'Payment' %>
    <%= f.select :discountable_id, options_with_data_attr(@order.payments, :id, :identifier, f.object.discountable_id, { transaction: :transaction_id }), disabled: f.object.discountable_type != 'Payment' %>
  </div>

  <div class="form-group">
    <%= f.label :amount %>

    <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.text_field :amount, value: @discount.amount || @discount.discountable.try(:amount) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :reason %>
    <%= f.text_area :reason %>
  </div>

  <div class="form-group">
    <%= f.label :transaction_id, 'Transaction ID' %>
    <%= f.text_field :transaction_id %>

    <% if @discount.discountable.try(:credit_card?) && can_charge_card? %>
      <div class='help-block'>
        If Transaction ID is filled out, the card used for the selected payment will be credited.
      </div>
    <% end %>
  </div>
</div>
