<div class='form-group'>
  <%= f.hidden_field :applicator_type, value: 'Refund' %>

  <div class="form-group">
    <%= f.label :discount_method, 'Refund Method' %>
    <%= f.select :discount_method, options_for_select(Discount::PAYMENT_METHODS, @discount.discount_method), {} %>
  </div>

  <div class="form-group">
    <%= f.label :amount %>

    <div class="input-group">
      <span class="input-group-addon">$</span>
      <%= f.text_field :amount %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :reason %>
    <%= f.text_area :reason %>
  </div>

  <div class="form-group">
    <%= f.label :transaction_id, 'Transaction ID' %>
    <%= f.text_area :transaction_id %>
  </div>
</div>
