<div class="col-sm-5">
    <div class="box-info">
      <h2><strong>Production</strong> Information</h2>

      <div class="form-group">
        <%= f.label :polyester, class: 'control-label' %>
        <%= f.error_for :polyester %>
        <%= f.check_box :polyester, { class: 'checkbox' }, 'true', 'false' %>
        <p class="help-block">Does the material include polyester?</p>
      </div>

      <div class="form-group">
        <%= f.label :material, class: 'control-label' %>
        <%= f.error_for :material %>
        <%= f.text_field :material, class: 'form-control' %>
        <p class="help-block">The material makeup of the imprintable</p>
      </div>

      <div class="form-group">
        <%= f.label :weight, class: 'control-label' %>
        <%= f.error_for :weight %>
        <%= f.text_field :weight, class: 'form-control' %>
        <p class="help-block">The material weight</p>
      </div>

      <div class="form-group">
        <%= f.label :sizing_category, 'Sizing Category',
                    class: 'control-label' %>

        <%= f.error_for :sizing_category %>
          <%= f.select :sizing_category, Imprintable::SIZING_CATEGORIES,
                       { prompt: 'Please select a sizing category' },
                       { class: 'form-control', id: 'imprintable_sizing_category' } %>

          <p class="help-block">
            Select the sizing category for the imprintable
          </p>
      </div>

      <div class="form-group">
      </div>

      <div class="form-group">
        <%= f.label :flashable, class: 'control-label' %>
        <%= f.error_for :flashable %>
          <%=  f.check_box :flashable, { class: 'checkbox' }, 'true', 'false' %>
      </div>

      <div class="form-group">
        <%= f.label :proofing_template_name, 'Proofing Template Name',
                    class: 'control-label' %>
        <%= f.error_for :proofing_template_name %>
          <%= f.text_field :proofing_template_name, class: 'form-control' %>

          <p class="help-block">
            The proofing template used by the art department
          </p>
      </div>

      <div class="form-group">
        <div><%= label_tag 'Compatible print methods and locations' %></div>
        <%= f.fields_for :print_location_imprintables %>
        <%= link_to_add_fields 'Add Compatible Print', f, :print_location_imprintables %>

        <p class="help-block">
          What imprint methods and locations work with the imprintable
        </p>
      </div>

      <div class="form-group">
        <%= f.label :special_considerations, 'Special Considerations',
                    class: 'control-label' %>

        <%= f.error_for :special_considerations %>
          <%= f.text_area :special_considerations, class: 'form-control' %>
      </div>

    </div>

    <div class='box-info'>
      <%= render 'edit_photos', f: f %>
    </div>
</div>
