<div class="col-sm-7">
    <div class="box-info">
      <h2><strong>Retail</strong> Information</h2>
      <div class="form-group">
        <%= f.label :retail, class: 'control-label' %>
          <div class="radio" id="retail_false">
            <%= f.radio_button :retail, false, value: false %>
            No
          </div>

          <div class="radio" id="retail_true">
            <%= f.radio_button :retail, true, value: false %>
            Yes
          </div>

          <p class="help-block">Is this imprintable used in our retail operation?</p>
      </div>

      <div class="form-group">
        <%= f.label :common_name, 'Common Name', class: 'control-label' %>
        <%= f.error_for :common_name %>
        <%= f.text_field :common_name %>
          <p class="help-block">
            The common name of the imprintable to be used in retail product synchronization.
            Additionally, it's the imprintable name presented to the retail customer.
          </p>
      </div>

      <div class="form-group">
        <%= f.label :marketplace_name, 'Marketplace Name', class: 'control-label' %>
        <%= f.error_for :marketplace_name %>
        <%= f.text_field :marketplace_name %>
          <p class="help-block">
            Marketplace name is appended to the end of product titles in Channel Advisor.
          </p>
      </div>

      <div class="form-group">
        <%= f.label :sku, class: 'control-label' %>
          <%= f.text_field :sku, class: 'form-control' %>
          <p class="help-block">4-Character Retail SKU Used to Identify the Imprintable</p>
      </div>

      <div class="form-group">
        <%= f.label :upcharge_pricing, 'Retail Product Upcharge', class: 'control-label' %>
          <table class="size-price-table">
            <thead>
            <tr>
              <th> Base Upcharge </th>
              <th> 2XL </th>
              <th> 3XL </th>
              <th> 4XL </th>
              <th> 5XL </th>
              <th> 6XL </th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= size_price_field(f, :base_upcharge, f.object.base_upcharge) %>
                </div>
              </td>

              <td>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= size_price_field(f, :xxl_upcharge, f.object.xxl_upcharge) %>
                </div>
              </td>

              <td>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= size_price_field(f, :xxxl_upcharge, f.object.xxxl_upcharge) %>
                </div>
              </td>

              <td>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= size_price_field(f, :xxxxl_upcharge, f.object.xxxxl_upcharge) %>
                </div>
              </td>

              <td>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= size_price_field(f, :xxxxxl_upcharge, f.object.xxxxxl_upcharge) %>
                </div>
              </td>

              <td>
                <div class="input-group">
                  <span class="input-group-addon">$</span>
                  <%= size_price_field(f, :xxxxxxl_upcharge, f.object.xxxxxxl_upcharge) %>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
      </div>

      <div class='form-group'>
        <div class='input-group'>
          <%= f.label :water_resistance_level %>
          <div>
            <%= f.select :water_resistance_level, options_from_collection_for_select(Imprintable::WATER_RESISTANCE_LEVELS, :to_s, :humanize), {}, class: 'form-control select2', data: { placeholder: 'water_resistance_level'.humanize, isblank: f.object.water_resistance_level.blank? } %>
          </div>
        </div>
        <div class='input-group'>
          <%= f.label :sleeve_type %>
          <div>
            <%= f.select :sleeve_type, Imprintable::SLEEVE_TYPES, {}, class: 'form-control select2', data: { placeholder: 'sleeve_type'.humanize, isblank: f.object.sleeve_type.blank? } %>
          </div>
        </div>
        <div class='input-group'>
          <%= f.label :sleeve_length %>
          <%= f.text_field :sleeve_length, class: 'form-control' %>
        </div>
        <div class='input-group'>
          <%= f.label :neck_style %>
          <div>
            <%= f.select :neck_style, Imprintable::NECK_STYLES, {}, class: 'form-control select2', data: { placeholder: 'neck_style'.humanize, isblank: f.object.neck_style.blank? } %>
          </div>
        </div>
        <div class='input-group'>
          <%= f.label :neck_size %>
          <%= f.text_field :neck_size, class: 'form-control' %>
        </div>
        <div class='input-group'>
          <%= f.label :fabric_type %>
          <%= f.text_field :fabric_type, class: 'form-control' %>
        </div>
        <div class='input-group'>
          <%= f.label :is_stain_resistant %>
          <%= f.check_box :is_stain_resistant, class: 'form-control' %>
        </div>
        <div class='input-group'>
          <%= f.label :fit_type %>
          <div>
            <%= f.select :fit_type, Imprintable::FIT_TYPES, {}, class: 'form-control select2', data: { placeholder: 'fit_type'.humanize, isblank: f.object.fit_type.blank? } %>
          </div>
        </div>
        <div class='input-group'>
          <%= f.label :fabric_wash %>
          <div>
            <%= f.select :fabric_wash, Imprintable::FABRIC_WASHES, {}, class: 'form-control select2', data: { placeholder: 'fabric_wash'.humanize, isblank: f.object.fabric_wash.blank? } %>
          </div>
        </div>
        <div class='input-group'>
          <%= f.label :department_name %>
          <div>
            <%= f.select :department_name, Imprintable::DEPARTMENT_NAMES, {}, class: 'form-control select2', data: { placeholder: 'department_name'.humanize, isblank: f.object.department_name.blank? } %>
          </div>
        </div>
        <div class='input-group'>
          <%= f.label :chest_size %>
          <%= f.text_field :chest_size, class: 'form-control' %>
        </div>
        <div class='input-group'>
          <%= f.label :package_height %>
          <%= f.text_field :package_height, class: 'form-control' %>
        </div>
        <div class='input-group'>
          <%= f.label :package_width %>
          <%= f.text_field :package_width, class: 'form-control' %>
        </div>
        <div class='input-group'>
          <%= f.label :package_length %>
          <%= f.text_field :package_length, class: 'form-control' %>
        </div>
      </div>

    </div>
 </div>
