<div class="box-info full">
  <%= render partial: 'shared/modal_errors', locals: { object: imprintable } %>
  <%= form_for imprintable, builder: LancengFormBuilder do |f| %>
    <div class="box-info full">
      <div class="col-sm-6 clearfix">
        <%= render partial: 'basic_information_form',
                   locals: { object: imprintable, f: f } %>
      </div>

      <div class="col-sm-6 clearfix">
        <%= render partial: 'imprint_information_form',
                   locals: { object: imprintable, f: f } %>
      </div>
    </div>

    <div class="box-info full">
      <%= render partial: 'supplier_information_form',
                 locals: { object: imprintable, f: f } %>
    </div>

    <div class="box-info full">
      <div class="box-info">
        <h2><strong>Size/Color</strong> Availability Information</h2>
        <div>
          <% if create_or_edit_text(imprintable) == 'Update' %>
            <% variants = Imprintable.variants(imprintable.id) %>
            <% if variants.empty? %>
                <%= render partial: 'variant_select',
                           locals: { imprintable: imprintable, f: f } %>
            <% else %>
                <%= render partial: 'grid',
                           locals: { imprintable: imprintable,
                                     variants: variants,
                                     size_variants: @variants_hash[:size_variants],
                                     color_variants: @variants_hash[:color_variants],
                                     variants_array: @variants_hash[:variants_array] } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-group clearfix">
      <div class="col-sm-offset-2 col-sm-8">
        <button type="submit" id="submit_button" class="btn btn-info">
          <%= create_or_edit_text(imprintable) %> Imprintable
        </button>
      </div>
    </div>
  <% end %>
</div>