
<div class="box-info">
  <%= render partial: 'shared/modal_errors', locals: { object: imprintable } %>
  <%= form_for(imprintable) do |f| %>
    <!-- Horizontal form body -->
    <div id="horizontal-form" class="collapse in">

      <div class="form-group">
        <%= f.label :special_considerations, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.text_field :special_considerations, class: 'form-control' %>
          <p class="help-block">Special considerations for the imprintable</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :flashable, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%=  f.check_box :flashable, { class: 'checkbox' }, 'true', 'false' %>
          <p class="help-block">Check if the imprintable is flashable</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :polyester, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.check_box :polyester, { class: 'checkbox' }, 'true', 'false' %>
          <p class="help-block">Check if the imprintable contains polyester</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :sizing_category, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.select :sizing_category,
                       Imprintable::SIZING_CATEGORIES,
                       { :prompt => 'Please select a sizing category' },
                       {
                         class: 'form-control',
                         id: 'imprintable_sizing_category'
                       } %>
          <p class="help-block">Select the sizing category for the imprintable</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :brand, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= select_tag :brand,
                         options_for_select(['Select a Brand'] + Brand.order(:name).collect{ |b| [b.name, b.id] }, find_brand(imprintable)),
                         {
                             class: 'form-control',
                             id: 'imprintable_brand_id'
                         } %>
          <p class="help-block">The brand of the imprintable</p>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :style, class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
          <%= f.grouped_collection_select(:style_id, Brand.order(:name), :styles, :name, :id, :name, {}, { :class => 'form-control', :id => 'imprintable_style_id' }) %>
          <p class="help-block">The catalog number of the imprintable</p>
        </div>
      </div>

      <% text = create_or_edit_text(imprintable) %>
      <% if text == 'Update' %>
        <% variants = imprintable.find_variants %>
        <% if variants.empty? %>
          <%= render partial: 'variant_select', locals: { imprintable: imprintable, f: f } %>
        <% else %>
          <%= render partial: 'grid', locals: { imprintable: imprintable, variants: variants } %>
        <% end %>
      <% end %>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" id="submit_button" class="btn btn-info"><%= text %> Imprintable</button>
        </div>
      </div>

    </div>
  <% end %>
</div>
