<div class="box-info full">
  <%= render 'shared/modal_errors', object: imprintable %>
  <%= form_for imprintable, builder: LancengFormBuilder do |f| %>
    <div class="box-info full">
      <div class="col-sm-6 clearfix">
        <%= render 'basic_information_form',
                    object: imprintable,
                    f: f,
                    model_collection_hash: model_collection_hash %>
      </div>

      <div class="col-sm-6 clearfix">
        <%= render 'imprint_information_form',
                    object: imprintable,
                    f: f,
                    model_collection_hash: model_collection_hash %>
      </div>
    </div>

    <div class="box-info full">
      <%= render 'supplier_information_form', object: imprintable, f: f %>
    </div>

    <% if create_or_edit_text(imprintable) == 'Update' %>
      <div class="box-info full">
        <div class="box-info">
          <h2><strong>Size/Color</strong> Availability Information</h2>
          <div>
            <% variants = Imprintable.variants(imprintable.id) %>
            <% if variants.empty? %>
                <%= render 'variant_select',
                            imprintable: imprintable,
                            f: f,
                            model_collection_hash: model_collection_hash %>
            <% else %>
                <%= render 'grid',
                            imprintable: imprintable,
                            variants: variants,
                            size_variants: variants_hash[:size_variants],
                            color_variants: variants_hash[:color_variants],
                            variants_array: variants_hash[:variants_array],
                            model_collection_hash: model_collection_hash %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="form-group clearfix">
      <div class="col-sm-offset-2 col-sm-8">
        <button type="submit" id="submit_button" class="btn btn-info">
          <%= create_or_edit_text(imprintable) %> Imprintable
        </button>
      </div>
    </div>
  <% end %>
</div>