<div class="user-profile-content">
  <dl>
    <p>
      <dt>Sizing Category</dt>
      <dd><%= imprintable.sizing_category %></dd>
    </p>

    <p>
      <dt>Compatible Imprint Methods</dt>
      <dd><%= imprintable.compatible_imprint_methods.map(&:name).join(', ') %></dd>
    </p>

    <p>
      <dt>Flashable?</dt>
      <dd><%= human_boolean(imprintable.flashable) %></dd>
    </p>

    <p>
      <dt>Polyester?</dt>
      <dd><%= human_boolean(imprintable.polyester) %></dd>
    </p>

    <p>
      <dt>Special Considerations</dt>
      <dd><%= imprintable.special_considerations %></dd>
    </p>

    <p>
      <dt>Proofing Template Name</dt>
      <dd><%= imprintable.proofing_template_name %></dd>
    </p>
  </dl>
</div>