<div class="box-info">
  <h2><strong>Imprint</strong> Information</h2>

  <div>
    <div class="form-group full">
      <%= f.label :sizing_category, 'Sizing Category',
                  class: 'col-sm-4 control-label' %>

      <%= f.error_for :sizing_category %>
      <div class="col-sm-8">
        <%= f.select :sizing_category, Imprintable::SIZING_CATEGORIES,
                     { prompt: 'Please select a sizing category' },
                     { class: 'form-control', id: 'imprintable_sizing_category' } %>

        <p class="help-block">
          Select the sizing category for the imprintable
        </p>
      </div>
    </div>

    <div class="form-group clearfix">
      <%= f.label :polyester, class: 'col-sm-4 control-label' %>

      <%= f.error_for :polyester %>

      <div class="col-sm-8">
        <%= f.check_box :polyester, { class: 'checkbox' }, 'true', 'false' %>
      </div>
    </div>

    <div class="form-group clearfix">
      <%= f.label :flashable, class: 'col-sm-4 control-label' %>

      <%= f.error_for :flashable %>

      <div class="col-sm-8">
        <%=  f.check_box :flashable, { class: 'checkbox' }, 'true', 'false' %>
      </div>
    </div>

    <div class="form-group clearfix">
      <%= f.label :proofing_template_name, 'Proofing Template Name',
                  class: 'col-sm-4 control-label' %>

      <%= f.error_for :proofing_template_name %>

      <div class="col-sm-8">
        <%= f.text_field :proofing_template_name, class: 'form-control' %>

        <p class="help-block">
          The proofing template used by the art department
        </p>
      </div>
    </div>

    <div class="form-group clearfix">
      <%= f.label :special_considerations, 'Special Considerations',
                  class: 'col-sm-4 control-label' %>

      <%= f.error_for :special_considerations %>

      <div class="col-sm-8">
        <%= f.text_area :special_considerations, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group clearfix">
      <%= f.label :compatible_imprint_method_ids, 'Compatible Imprint Methods',
                  class: 'col-sm-4 control-label' %>

      <%= f.error_for :compatible_imprint_method_ids %>

      <div class="col-sm-8">
        <%= f.collection_select :compatible_imprint_method_ids,
                                @model_collection_hash[:imprint_method_collection],
                                :id, :name, {}, { class: 'chosen-select',
                                                  data: { placeholder: 'Select compatible imprint methods' },
                                                  multiple: true } %>

        <p class="help-block">
          What imprint methods work with the imprintable
        </p>
      </div>
    </div>

    <div class="form-group clearfix">
      <%= f.label :imprintable_categories, 'Imprintable Category',
                  class: 'col-sm-4 control-label' %>

      <%= f.error_for :imprintable_categories %>

      <div class="col-sm-8">
        <%= f.fields_for :imprintable_categories do |ff| %>
          <%= render partial: 'imprintable_category_fields',
                     locals: { f: ff } %>
        <% end %>

        <%= link_to_add_fields "<i class='fa fa-plus'></i> Add Imprintable Category".html_safe,
                               f, :imprintable_categories %>
      </div>
    </div>
  </div>
</div>