<a href="#" class="imprintable_link" data-toggle="modal" data-target="#basicModal_<%= imprintable.id %>"><%= text %></a>

<div class="modal fade" id="basicModal_<%= imprintable.id %>" tabindex="-1" role="dialog" aria-labelledby="basicModal_<%= imprintable.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= render :template => 'imprintables/show', locals: { modal: true } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
