<div class="user-profile-content" id="supplier_information_<%= imprintable.id%>">
  <h2>Main Supplier: <%= imprintable.main_supplier %></h2>

  <p>
    <%= link_to imprintable.supplier_link, imprintable.supplier_link %>
  </p>

  <div class="box-info full">
    <div class="table-responsive">
      <table class="table table-hover" id="imprintable_supplier_pricing">
        <thead>
          <tr>
            <th>Name</th>
            <th>Sizes Available</th>
            <% if imprintable.base_price_ok %><th>Base Price</th><% end %>
            <% if imprintable.xxl_price_ok %><th>2XL</th><% end %>
            <% if imprintable.xxxl_price_ok %><th>3XL</th><% end %>
            <% if imprintable.xxxxl_price_ok %><th>4XL</th><% end %>
            <% if imprintable.xxxxxl_price_ok %><th>5XL</th><% end %>
            <% if imprintable.xxxxxxl_price_ok %><th>6XL</th><% end %>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= link_to imprintable.name, imprintable.supplier_link %></td>
            <td><%= display_sizes(imprintable) %></td>

            <% if imprintable.base_price_ok %>
              <td><%= number_to_currency imprintable.base_price %></td>
            <% end %>
            <% if imprintable.xxl_price_ok %>
              <td><%= number_to_currency imprintable.xxl_price %></td>
            <% end %>
            <% if imprintable.xxxl_price_ok %>
              <td><%= number_to_currency imprintable.xxxl_price %></td>
            <% end %>
            <% if imprintable.xxxxl_price_ok %>
              <td><%= number_to_currency imprintable.xxxxl_price %></td>
            <% end %>
            <% if imprintable.xxxxxl_price_ok %>
              <td><%= number_to_currency imprintable.xxxxxl_price %></td>
            <% end %>
            <% if imprintable.xxxxxxl_price_ok %>
              <td><%= number_to_currency imprintable.xxxxxxl_price %></td>
            <% end %>
          </tr>
        </tbody>
       </table>
     </div>
    </div>
</div>
