<div class="box-info full">
    <div class="table-responsive">
    <table class="table table-hover" id="imprintables_list">
      <thead>
      <tr>
        <th>Standard Offering</th>
        <th>Imprintable</th>
        <th>Description</th>
        <th style="width: 100px" >Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @imprintables.each do |imprintable| %>
      <tr id="<%= model_table_row_id imprintable %>">
        <td><% if imprintable.standard_offering? %><i class="fa fa-check-square"></i><% end %></td>
        <td><%= imprintable_modal(imprintable) %></td>
        <td><%= raw imprintable.style.description %></td>
        <td>
          <div class="btn-group btn-group-xs">
            <%= link_to imprintable_path(imprintable), 'data-action' => 'show', 'data-toggle' => 'tooltip', 'title' => 'Show', class: 'btn btn-default' do %><i class="fa fa-eye"></i> <% end %>
            <%= link_to edit_imprintable_path(imprintable), 'data-action' => 'edit', 'data-toggle' => 'tooltip', 'title' => 'Edit', class: 'btn btn-default' do %><i class="fa fa-edit"></i><% end %>
            <%= link_to imprintable_path(imprintable), 'data-action' => 'destroy', 'data-toggle' => 'tooltip', 'title' => 'Destroy', class: 'btn btn-default', method: :delete, data: {confirm: 'Are you sure you would like to delete the imprintable?'} do %><i class="fa fa-times"></i><% end %>
          </div>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
