<div class="box-info full">
    <div class="table-responsive">
    <table class="table table-hover" id="imprintables_list">
      <thead>
      <tr>
        <th>Name</th>
        <th>Catalog Number</th>
        <th>Description</th>
        <th>Material</th>
        <th>Proofing Template Name</th>
        <th>Sizing Category</th>
        <th>Brand</th>
        <th>Style</th>
        <th>Tags</th>
        <th>Flashable?</th>
        <th>Polyester?</th>
        <th>Special Considerations</th>
        <th>Standard Offering?</th>
      </tr>
      </thead>
      <tbody>
      <% @imprintables.each do |imprintable| %>
      <tr id="<%= model_table_row_id imprintable %>">
        <td><%= imprintable.name %></td>
        <td><%= imprintable.style.catalog_no %></td>
        <td><%= imprintable.style.description %></td>
        <td><%= imprintable.material %></td>
        <td><%= imprintable.proofing_template_name %></td>
        <td><%= imprintable.sizing_category %></td>
        <td><%= imprintable.brand.name %></td>
        <td><%= imprintable.style.name %></td>
        <td><%= raw imprintable.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
        <td><%= human_boolean(imprintable.flashable) %></td>
        <td><%= human_boolean(imprintable.polyester) %></td>
        <td><%= imprintable.special_considerations %></td>
        <td><%= human_boolean(imprintable.standard_offering) %></td>
        <td>
          <div class="btn-group btn-group-xs">
            <%= link_to edit_imprintable_path(imprintable), 'data-action' => 'edit', 'data-toggle' => 'tooltip', 'title' => 'Edit', class: 'btn btn-default' do %><i class="fa fa-edit"></i><% end %>
            <%= link_to imprintable_path(imprintable), 'data-action' => 'destroy', 'data-toggle' => 'tooltip', 'title' => 'Destroy', class: 'btn btn-default', method: :delete, data: {confirm: 'Are you sure you would like to delete the imprintable?'} do %><i class="fa fa-times"></i><% end %>
          </div>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
