<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>


<table id="imprintables_list">
  <tr>
    <th>Name</th>
    <th>Catalog Number</th>
    <th>Description</th>
  </tr>
  <% @imprintables.each do |imprintable| %>
  <tr>
    <td><%= imprintable.name %></td>
    <td><%= imprintable.catalog_number %></td>
    <td><%= imprintable.description %></td>
    <td><%= button_to edit_imprintable_path(imprintable), id: 'edit_imprintable_link' do %> Edit<% end %></td>
  </tr>
  <% end %>
</table>
<p>
  <%= link_to imprintables_new_path, id: 'new_imprintable_link' do %><i class="fa fa-angle-right"> New Imprintable</i><% end %>
</p>