<div class="page-heading animated fadeInDownBig col-sm-6">
  <h1>Imprintables <small>View and edit imprintables</small></h1>
</div>

<div class="col-sm-6 text-right">
  <%= link_to new_imprintable_path, class: 'btn btn-primary' do %>
    <i class="glyphicon glyphicon-plus-sign"></i> New Imprintable
  <% end %>
</div>

<div class="col-sm-8 col-sm-offset-2 col-xs-12">
  <%= render 'imprintables/search' %>
</div>

<%= paginate @imprintables %>

<div class="box-info row clear">
  <%= render 'imprintables/table', imprintables: @imprintables %>
</div>

<%= paginate @imprintables %>
