<div class="page-heading animated fadeInDownBig col-lg-9">
  <h1><%= @imprintable.brand.name %> - <%=@imprintable.style_catalog_no %><small> <%= @imprintable.style_name %></small></h1>
</div>

<div class="col-lg-3 text-right">
  <%= link_to 'Edit Imprintable', edit_imprintable_path(@imprintable.id), class:'btn btn-primary' %>
</div>

<% if @imprintable.standard_offering %>
    <div class="col-sm-12 alert alert-info" id="standard_product_notice">
      This Imprintable is part of the Standard Product Set
    </div>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <div class="box-info full">

      <ul class="nav nav-tabs nav-justified">
        <li class="active">
          <a href="#basic_info_<%= @imprintable.id %>" data-toggle="tab">
            <i class="fa fa-info"></i> Basic Info
          </a>
        </li>
        <li>
          <a href="#size_color_availability_<%= @imprintable.id %>" data-toggle="tab">
            <i class="fa fa-check-square-o"></i> Size/Color Availability
          </a>
        </li>
        <li>
          <a href="#imprint_details_<%= @imprintable.id %>" data-toggle="tab">
            <i class="fa fa-search"></i> Imprint Details
          </a>
        </li>
        <li>
          <a href="#supplier_information_<%= @imprintable.id %>" data-toggle="tab">
            <i class="fa fa-info-circle"></i> Supplier Information
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane animated fadeInRight active" id="basic_info_<%= @imprintable.id %>">
          <%= render 'basic_info', imprintable: @imprintable %>
        </div>

        <div class="tab-pane animated fadeInRight" id="size_color_availability_<%= @imprintable.id %>">
          <%= render 'size_color_availability',
                      imprintable: @imprintable,
                      size_variants: @variants_hash[:size_variants],
                      color_variants: @variants_hash[:color_variants],
                      variants_array: @variants_hash[:variants_array] %>
        </div>

        <div class="tab-pane animated fadeInRight" id="imprint_details_<%= @imprintable.id %>">
          <%= render 'imprint_details', imprintable: @imprintable %>
        </div>

        <div class="tab-pane animated fadeInRight" id="supplier_information_<%= @imprintable.id %>">
          <%= render 'supplier_details', imprintable: @imprintable %>
        </div>
      </div>
    </div>
  </div>
</div>
