<div class="row js-removeable clearfix phone-fields" data-phone-id="<%= f.object.id %>">
  <div class="col-xs-6">
    <%= f.text_field :number, label: 'Phone', class: 'phone-number format-phone' %>
  </div>
  <div class="col-xs-3">
    <%= f.text_field :extension, class: 'phone-extension' %>
  </div>
  <div class="col-xs-2">
    <%= f.check_box(:primary, class: 'phone-primary') %>
  </div>
  <div class="col-xs-1">
    <% unless f.object.primary? %>
        <%= f.hidden_field :_destroy %>
        <%= link_to 'x', '#', class: 'btn btn-danger js-remove-fields' %>
    <% end %>
  </div>
</div>