
<div class="box-info full clear">
  <div class="table-responsive">
    <table class="table table-hover table-striped" id="contacts">
      <thead>
      <tr>
        <%= sorted_th :id, 'ID', style: { width: '30px' } %>
        <%= sorted_th :name, 'Full Name' %>
        <%= sorted_th :state, 'State' %>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% contacts.each do |contact| %>
          <tr id="contact_<%= contact.id %>">
            <td><%= link_to contact.id, contact %></td>
            <td><%= contact.full_name %></td>
            <td><%= contact.human_state_name.capitalize %></td>
            <td>
              <div class="btn-group btn-group-xs">
                  <%= link_to edit_crm_contact_path(contact), class: 'btn btn-primary' do %>
                      <i class="glyphicon glyphicon-eye-open"></i>
                  <% end %>
                  <%= link_to edit_crm_contact_path(contact), class: 'btn btn-warning'  do %>
                      <i class="fa fa-eye"></i>
                  <% end %>
              </div>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>