<div class="row-fluid contacts-index">
  <div class="page-heading animated fadeInDownBig">
      <h1>
        Contacts
      </h1>
  </div>
</div>

<%= render partial: 'crm/contacts/search' %>

<%= search_results_count %>

<%= paginate @contacts %>

<%= render 'crm/contacts/table', contacts: @contacts %>

<%= paginate @contacts %>