<div class="row-fluid">
    <div class="page-heading animated fadeInDownBig pull-left">
      <h1>Email <%= @object_type %> Information <small><%= @object_type %>
      <%= link_to @object do %>
        #<%= @object.id %> <i><%= @object.name %></i>
      <% end %>
      </small></h1>
    </div>

    <div class="pull-right text-right">
      <% unless @object.try(:insightly_opportunity_id).blank? %>
          <%= link_to  @object.insightly_opportunity_link, class: 'btn btn-warning',
                       'data-action' => 'new', 'data-toggle' => 'tooltip', 'title' => 'Insightly Opportunity', target: '_blank' do %>
              <i class="softwear-icon-insightly-icon"></i> Insightly Opportunity
          <% end %>
      <% end %>
    </div>
</div>
<br clear="all" />

<% if @freshdesk && @object.freshdesk_ticket_id.blank? %>
  <span>NOTE: This <%= @object_type %> does not have a freshdesk ticket ID</span>
<% end %>

<div class="box-info">
  <%= render 'shared/modal_errors', object: @email %>
  <div class="form-group">
    <%= label_tag :template, 'Template', class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= select_tag :template_type, options_from_collection_for_select(@email_templates, :id, :name, include_blank: true),
                     prompt: 'Select Email Template...',
                     class: 'form-control', id: 'email-template-select',
                     data: {
                       model: @object.class.name.underscore,
                       'record-id' => @object.id,
                       freshdesk: @freshdesk
                     } %>
      <br/>
    </div>
  </div>

  <div id="email-form-container">
    <%= render 'form', {object: @object, email: @email} %>
  </div>
</div>
