<div class="row" style="border-bottom: solid 1px #dddddd" id="<%= line_item_id(line_items.first) %>">
  <div class="col-lg-5">
    <p>
    <strong><%= line_items.first.imprintable.brand.name %> <%= style_catalog_no %></strong><br />
    <%= color_name %><br />
     <%= style_name %>
    </p>

  </div>
  <div class="col-lg-7">
    <%= content_tag(:div, class: "col-sm-#{9 - line_items.count}") {} %>
    <% # TODO inline CSS %>
    <div class="col-sm-2" style="border-right: solid 1px #dddddd;" align='right'>
      <label style="margin-bottom: 12px;">size:</label><br />
      <label style="margin-bottom: 17px;">quantity:</label><br />
      <label style="margin-bottom: 16px;">decoration $:</label><br />
      <label>imprintable $:</label>
    </div>

    <% line_items.each do |line_item| %>
      <%= render partial: 'line_items/imprintable_edit_entry', locals: { line_item: line_item } %>
    <% end %>

    <div class="col-sm-1">
      <%= link_to line_item_path(line_items.map(&:id).join('/')),
                  title: 'Delete', remote: true, method: :delete do %>
        <i class="fa fa-2x danger fa-times-circle"></i>
      <% end %>
    </div>
  </div>
</div>
