<div class="row edit-line-item-row" style="border-bottom: solid 1px #dddddd; margin-bottom: 6px;" id="<%= line_item_id(line_items.first) %>" data-imprintable-id="<%= line_items.first.imprintable.id %>">
  <div class="col-sm-4">
    <p>
    <strong><%= line_items.first.imprintable.brand.name %> <%= style_catalog_no %></strong><br />
    <%= color_name %><br />
    <%= style_name %><br />
    <%= render 'line_items/more_info', imprintable: line_items.first.imprintable %>
    </p>

  </div>
  <div class="col-sm-8">

    <div class="col-sm-2 col-sm-offset-<%= 9 - line_items.count %>" style="border-right: solid 1px #dddddd;" align='right'>
      <label style="margin-bottom: 12px;">Size</label><br />
      <label style="margin-bottom: 17px;">Quantity</label><br />
      <% if show_prices %>
        <label style="margin-bottom: 16px;">Decoration $</label><br />
        <label>Item $:</label>
      <% end %>
    </div>

    <% line_items.each do |line_item| %>
      <%= render partial: 'line_items/imprintable_edit_entry', locals: { line_item: line_item, show_prices: local_assigns[:show_prices] } %>
    <% end %>

    <div class="col-sm-1">
      <label style="margin-bottom: 12px;">Total</label><br />
      <span class='imprintable-line-item-total'>
        <%= line_items.map{|x| x.quantity }.inject(:+) %>
      </span>
      <br /><br />
      <%= link_to line_item_path(line_items.map(&:id).join('/')),
                  title: 'Delete', remote: true, method: :delete do %>
        <i class="fa fa-2x danger fa-times-circle"></i>
      <% end %>
    </div>
  </div>
</div>
