<div id="edit-line-item-<%= line_item.id %>" class="line_item imprintable-line-item <%= 'editing-line-item' if local_assigns[:edit] %>">
  <%= batch_fields_for line_item do |f| %>
    <div class="col-sm-1 imprintable-line-item-input">
      <%= content_tag(:label, line_item.size_display) %>
      <% f.common_attr onchange: 'imprintableEditEntryChanged($(this))' %>
      <% f.common_attr onfocus: '$(this).numeric()' %>
      <%= f.text_field :quantity %>
      <%= f.text_field :decoration_price, value: (number_with_precision(line_item.decoration_price, precision: 2) || 0) %>
      <%= f.text_field :imprintable_price, value: (number_with_precision(line_item.imprintable_price, precision: 2) || 0) %>
    </div>
  <% end %>
</div>
