<div class="row" style="border-bottom: solid 1px #dddddd" id="<%= line_item_id(line_items.first) %>">
  <div class="col-lg-5">
    <h6>
      <strong>
        <%= color_name %> <%= style_name %>
      </strong> <%= style_catalog_no %>
    </h6>
    <p>
      <%= description %>
    </p>
  </div>
  <div class="col-lg-7">
    <%= content_tag(:div, class: "col-sm-#{10 - line_items.count}") {} %>

    <div class="col-sm-1" style="border-right: solid 1px #dddddd;" align='center'>
      <label style="margin-bottom: 12px;">size:</label>
      <label style="margin-bottom: 17px;">quant:</label><br />
      <label>$:</label>
    </div>

    <% line_items.each do |line_item| %>

        <%= render partial: 'line_items/imprintable_edit_entry', locals: { line_item: line_item } %>

    <% end %>

    <div class="col-sm-1">
      <%= link_to line_item_path(line_items.map(&:id).join('/')), title: 'Delete', remote: true, method: :delete do %>
        <i class="fa fa-2x danger fa-times-circle"></i>
      <% end %>
    </div>
  </div>
</div>
