
<div class="row imprintable-order-sheet-imprintable">
  <% imprintable = line_items.first.imprintable %>
  <div class="col-xs-12">
    <table class="imprintable-order-sheet-table">
      <thead>
        <tr>
          <th>
          </th>
        <th style="width: 100px;">
        </th>
        <% line_items.each do |line_item| %>
          <th class='size-col' ><%= line_item.size_display %></th>
        <% end %>
        <th class="text-right" style="width: 150px;">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <td rowspan="2">
           <p class='text-center'>
            <strong><%= imprintable.brand_name %> <%= imprintable.style_catalog_no %></strong> - 
            <%= line_items.first.imprintable_variant.color.name %> - 
            <strong><%= imprintable.style_name %></strong>
          </p>
        </td>
        <th>
          Ordered
          </th>
        <% line_items.each do |line_item| %>
          <td>
            <%= line_item.quantity > 0 ? line_item.quantity : "-" %><br />
          </td>
        <% end %>
        <td class="text-right">
          <%= line_items.sum(&:quantity) %><br />
        </td>
        </tr>
          <tr>  
            <td>
              Printed
            </td>
            <% line_items.each do |line_item| %>
              <td>
              
              </td>
            <% end %>
            <td>
            
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
