<div id="edit-line-item-<%= line_item.id %>" class="line_item editing-line-item">
  <%= batch_fields_for line_item do |f| %>
      <div class="line-item-form quote-line-item-fields js-removeable">
        <div class="li-standard-form">
          <div class="col-xs-5">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>

          <div class="col-xs-3">
            <%= f.label :url, 'URL for more item info' %>
            <%= f.text_field :url %>
          </div>

          <div class="col-xs-1">
            <%= f.label :quantity, 'Qty.' %>
            <%= f.number_field :quantity %>
          </div>

          <div class="col-xs-2">
            <%= f.label :unit_price, 'Unit Price' %>

            <div class="input-group">
              <span class="input-group-addon">$</span>
              <%= f.text_field :unit_price %>
            </div>
          </div>

          <div class="col-xs-1">
            <%= f.label :taxable %>
            <%= f.check_box :taxable, checked: true %>
          </div>

          <div class="col-xs-12">
            <%= f.label :description %>
            <%= f.text_area :description %>
          </div>

          <div class="col-xs-12 text-right">
            <br clear="all" />
            <%= link_to line_item_path(line_item), title: 'Cancel', remote: true, method: :get do %>
                <i class="fa fa-2x danger fa-times-circle"></i> Cancel
            <% end %>
            <br clear="all" />
          </div>
        </div>
        <br clear="all" />
      </div>
      <br clear="all" />

  <% end %>
</div>
