<div class="col-xs-4">
  <% if line_item.url.blank? %>
    <%= line_item.name %>
  <% else %>
      <%= link_to line_item.name, line_item.url, target: '_blank' %>
  <% end %>
</div>
<div class="col-xs-3"><%= raw line_item.description %></div>
<div class="col-xs-1"><%= human_boolean line_item.taxable? %></div>
<div class="col-xs-1"><%= line_item.quantity %></div>
<div class="col-xs-1"><%= number_to_currency line_item.unit_price %></div>
<div class="col-xs-1"><%= number_to_currency line_item.total_price %></div>

<div class='col-xs-1'>
  <%= link_to edit_line_item_path(line_item), class: 'line-item-button',
              method: :get, remote: true, title: 'Edit' do %>
    <i class="glyphicon-edit glyphicon warning"></i>
  <% end %>

  <%= link_to line_item_path(line_item), class: 'line-item-button',
              method: :delete, remote: true, title: 'Delete' do %>
    <i class="glyphicon-remove-sign glyphicon danger"></i>
  <% end %>
</div>
