<div class="form-group js-removeable">
  <div class='input-group'>
    <%= f.label :imprintable_id %>
    <%= f.select :imprintable_id, options_from_collection_for_select(Imprintable.all, :id, :name, f.object.imprintable_id), { include_blank: true }, class: 'select2' %>
  </div>
  <div class='input-group'>
    <%= f.label :tier %>
    <%= f.select :tier, options_for_select(Imprintable::TIERS.to_a.map(&:reverse)), {}, class: 'form-control' %>
  </div>
  <div class='input-group'>
    <%= f.label :default %>
    <%= f.check_box :default %>
  </div>
  <div class='input-group'>
  </div>

  <span class="input-group-btn">
    <%= f.hidden_field :_destroy %>

    <%= button_tag 'x', class: 'btn btn-xs btn-danger js-remove-fields' %>
  </span>

</div>
