<h1> <%= @user.full_name %>'s report: </h1>
<p> <%= @user_message %> </p>
<h1> Error details: </h1>
<div>
  <%= @error_class %>: <%= @error_message %>
</div>
<div>
  <h4>Additional information:</h4>
  <ul>
    <% @additional_info.split("|||").each do |info| %>
      <li><%= info %></li>
    <% end %>
  </ul>
</div>
<div>
  <ul>
    <% @backtrace.split("\n").each do |line| %>
      <li>
        <% if line.include? "/gems/" %>
          <%= line %><br />
        <% else %>
          <strong><%= line %></strong><br />
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
