<!DOCTYPE html>
<html>
<head>
    <%= render partial: 'shared/head' %>
</head>

<body class="tooltips">

<div id="loading">
  <div class="loading-inner">
    <div class="spinner">
      <div class="cube1"></div>
      <div class="cube2"></div>
    </div>
  </div>
</div>

<div class="modal fade" id="ajax_loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
          <div class="spinner">
            <div class="cube1"></div>
            <div class="cube2"></div>
            <br><br>
            <p><strong>Loading...</strong></p>
          </div>
      </div>
      <div class="modal-footer">
        </div>
    </div>
  </div>
</div>





<div class="container">

    <%= render partial: 'shared/sidebar' %>

    <div class="right content-page">

        <%= render partial: 'shared/content_header' %>

        <div class="body content rows scroll-y">
            <%= yield %>
            <%= render partial: 'shared/footer'  %>
        </div>
    </div>

    <%= render partial: 'shared/modal_flash' %>
    <%= render partial: 'shared/modal_content' %>
    <%= render partial: 'shared/modal_timeout' %>

</div>


</body>
<% if Rails.env.development? %>
  <script type='text/javascript'>idleTimeoutMs = 2147483647;</script>
<% end %>
<% if Rails.env.production? %>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-52746187-1', 'auto');
        ga('send', 'pageview');

    </script>
<% end %>
</html>

