<!DOCTYPE html>
<html>
<head>
    <%= render partial: 'shared/head' %>
</head>

<body class="tooltips">

<!-- LOADING ANIMATION -->
<div id="loading">
  <div class="loading-inner">
    <div class="spinner">
      <div class="cube1"></div>
      <div class="cube2"></div>
    </div>
  </div>
</div>
<!-- END LOADING ANIMATION -->


<div class="container">

    <%= render partial: 'shared/sidebar' %>

    <div class="right content-page">

        <%= render partial: 'shared/content_header' %>

        <div class="body content rows scroll-y">
            <%= yield %>
            <%= render partial: 'shared/footer'  %>
        </div>
    </div>

    <!--
    ============================================================================
    MODAL DIALOG EXAMPLE
    You can change transition style, just view element page
    ============================================================================
    -->
    <!-- Modal Logout Primary -->
    <div class="md-modal md-fall" id="logout-modal">
      <div class="md-content">
        <h3><strong>Logout</strong> Confirmation</h3>
        <div>
          <p class="text-center">Are you sure want to logout from this awesome system?</p>
          <p class="text-center">
            <button class="btn btn-danger md-close">Nope!</button>
            <a href="login.html" class="btn btn-success md-close">Yeah, I'm sure</a>
          </p>
        </div>
      </div>
    </div><!-- End .md-modal -->

    <!-- Modal Logout Alternatif -->
    <div class="md-modal md-just-me" id="logout-modal-alt">
      <div class="md-content">
        <h3><strong>Logout</strong> Confirmation</h3>
        <div>
          <p class="text-center">Are you sure want to logout from this awesome system?</p>
          <p class="text-center">
            <button class="btn btn-danger md-close">Nope!</button>
            <a href="login.html" class="btn btn-success md-close">Yeah, I'm sure</a>
          </p>
        </div>
      </div>
    </div><!-- End .md-modal -->

    <!-- Modal Task Progress -->
    <div class="md-modal md-slide-stick-top" id="task-progress">
      <div class="md-content">
        <h3><strong>Task Progress</strong> Information</h3>
        <div>
          <p>CLEANING BUGS</p>
          <div class="progress progress-xs for-modal">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
              <span class="sr-only">80&#37; Complete</span>
            </div>
          </div>
          <p>POSTING SOME STUFF</p>
          <div class="progress progress-xs for-modal">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
              <span class="sr-only">65&#37; Complete</span>
            </div>
          </div>
          <p>BACKUP DATA FROM SERVER</p>
          <div class="progress progress-xs for-modal">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
              <span class="sr-only">95&#37; Complete</span>
            </div>
          </div>
          <p>RE-DESIGNING WEB APPLICATION</p>
          <div class="progress progress-xs for-modal">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
              <span class="sr-only">100&#37; Complete</span>
            </div>
          </div>
          <p class="text-center">
            <button class="btn btn-danger btn-sm md-close">Close</button>
          </p>
        </div>
      </div>
    </div><!-- End .md-modal -->
    <!--
    ============================================================================
    END MODAL DIALOG EXAMPLE
    ============================================================================
    -->

    <!--
    MODAL OVERLAY
    Always place this div at the end of the page content
    -->
    <div class="md-overlay"></div>

</div>

</body>
</html>

