<!DOCTYPE html>
<html>
<head>
    <%= render partial: 'shared/head' %>
</head>

<body class="tooltips">


<div id="loading">
  <div class="loading-inner">
    <div class="spinner">
      <div class="cube1"></div>
      <div class="cube2"></div>
    </div>
  </div>
</div>


<div class="container">

    <%= render partial: 'shared/sidebar' %>

    <div class="right content-page">

        <%= render partial: 'shared/content_header' %>

        <div class="body content rows scroll-y">
            <%= yield %>
            <%= render partial: 'shared/footer'  %>
        </div>
    </div>

    <%= render partial: 'shared/modal_flash' %>
    <%= render partial: 'shared/modal_content' %>

</div>


</body>
</html>

